<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="xiap" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="custom" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=2.1.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
				<section name="processes" type="Xiap.Framework.SectionHandler,Xiap.Framework"/>
				<section name="customConfigs" type="Xiap.Framework.SectionHandler,Xiap.Framework"/>
				<section name="k2WorkFlowMapping" type="Xiap.Framework.SectionHandler,Xiap.Framework"/>
				<section name="gwsISConfiguration" type="Xiap.Framework.SectionHandler,Xiap.Framework"/>
				<section name="productProRating" type="Xiap.Framework.SectionHandler,Xiap.Framework"/>
				<section name="warmupConfiguration" type="Xiap.Framework.SectionHandler,Xiap.Framework" />
				<section name="sharepointConfiguration" type="Xiap.Framework.SectionHandler,Xiap.Framework" />
			</sectionGroup>
		</sectionGroup>
	</configSections>

	<appSettings>
		<add key="EventRequest.ClaimEvent.PriorityCode.ValueSetCode" value="100054" />
		<add key="SMTPServer.Address" value="Exchange04.ad.xglobal.com"/>
		<add key="AutoReviewProcessName" value="ReviewTaskFlow_Auto"/>
		<add key="ManualReviewProcessName" value="ReviewTaskFlow_Manual"/>
		<add key="ManualReviewCompleteProductEventRef" value="RevuC"/>
		<add key="AutoReviewProductEventRef" value="ARevu"/>
		<add key="InactivityDetectionProcess" value="InactivityDetection"/>
		<add key="InactivityReviewEventTypeCode" value="INACT"/>
		<add key="EstimateReviewedEventTypeCode" value="ESTRV"/>
   
		<add key="RecoveryInactivityReviewEventTypeCode" value="RINACT"/>
		<add key="RecoveryEstimateReviewedEventTypeCode" value="RESTRV"/>
    <add key="EstimateSettledEventTypeCode" value="ESTSD"/>
		<add key="AuthorisationProcessName" value="FinancialAuthorisation"/>
		<add key="BusinessSupportRole" value="BSupport"/>
		<add key="PaymentAuthorisationActivityName" value="Authorise Payment"/>
		<add key="ReferralDocumentTextSegmentType" value="Standard"/>
		<add key="ReferralDocumentTextSegmentWordingTypeCode" value="TRR"/>
		<add key="QualityControlEventTypeCode" value="QUAL"/>
		<add key="QualityControlProcess" value="QualityControl"/>
		<add key="ClaimUserRoleCode" value="UKCLQ"/>
    <add key="GenericDataType.Excess" value="AND3"/>
    <add key="GenericDataType.Deductible" value="AND2"/>
    <add key="GenericDataType.Deductible.Client" value="CLI"/>
    <add key="GenericDataType.Deductible.Captive" value="CAP"/>
    <add key="GenericDataType.Deductible.Service" value="SVC"/>
    <add key="PolicyVerifiedHeaderStatus" value="OPV"/>
    <add key="GeniusSourcedNameMaintenancePermissionToken" value="CUSTOM.AXA.GeniusSourcedNameMaintenance"/>
    <add key="PolicyVerificationPermissionToken" value="CUSTOM.AXA.Policy.Verify"/>
    <add key="SubmittedForVerificationEventTypeCode" value="STSOPS"/>
    <add key="SearchDeadLockRetries" value="3"/>
    <add key="HeaderStatusesForInvalidClaimTransfer" value="CON,CRE,CRL,CRO"/>
    <add key="AXAClaimTransferHeaderToClaimTransferControlLogSP" value="[Claims].[AXAClaimTransferHeaderToClaimTransferControlLog]"/>
    <!-- ClaimWakeUp Processing -->
    <add key="ClaimProcessorUri" value="http://localhost:55969/ClaimMigratorOperations.svc"/>
    <add key="ClaimProcessorSoapHeaderUri" value="http://tempuri.org/IClaimMigratorOperations/ProcessClaim"/>
    <!-- ClaimWakeUp Processing Ends -->
    <add key="AXAClaimsDecisionTablePluginPredicate" value="UKMotorClaims" />
    <add key="FileUploadNotificationCompletedEventType" value="FILUPNC"/>
    <add key="ClaimEvent_DocumentReference_CustomReferenceField" value="CustomReference01"/>
    <add key="ClaimEvent_DocumentGroupReference_CustomReferenceField" value="CustomReference02"/>
    <add key="ClaimEvent_GenerateTask_CustomCodeField" value="CustomCode08"/>
    <add key="ClaimDocument_GenerateTask_CustomCodeField" value="CustomCode08"/>
  </appSettings>

	<connectionStrings>
	</connectionStrings>

	<xiap>
		<custom>
			<unity configSource="Config\Custom\AXA\Unity.config" />
			<processes configSource="Config\Custom\AXA\Processes.config" />
			<k2WorkFlowMapping configSource="Config\Custom\AXA\K2WorkFlow.config"/>
      <sharepointConfiguration configSource="Config\Custom\AXA\Sharepoint.config"/>
      <warmupConfiguration configSource="Config\Custom\AXA\Warmup.config" />
		</custom>
	</xiap>

	<system.serviceModel>
		<client>
			<endpoint address="http://ws100455/XIAPGeniusIntegrationAXA/PolicySearchService.svc"
														binding="wsHttpBinding"
														bindingConfiguration="WSHttpBinding_IServiceSearchProvider"
														contract="SearchService.IServiceSearchProvider"
														name="PolicySearchRiskNI">
				<identity>
					<dns value="localhost"/>
				</identity>
			</endpoint>
		</client>
		<bindings>
		</bindings>
		<services>
		</services>
	</system.serviceModel>
</configuration>
