<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="xiap" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="custom" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=2.1.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			</sectionGroup>
		</sectionGroup>
	</configSections>
	<xiap>
		<custom>
			<unity configSource="Config\Custom\AXA\TransferWorker_CustomUnity.config" />
		</custom>
	</xiap>
</configuration>