<componentPathConfig>
  <FunctionalArea Name="ClaimsEvent" >
    <Components>
      <ComponentType Name="ClaimEvent" IsRoot="True" >
        <ComponentProperties>
          <Property Name="ProductEventID" IsMandatory="False" />
          <Property Name="ClaimHeaderReference" IsMandatory="True" />
          <Property Name="ClaimDetailReference" IsMandatory="False" />
          <Property Name="EventTypeCode" IsMandatory="False" />
          <Property Name="ProductEventReference" IsMandatory="False" />
          <Property Name="ClaimEventID" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="ClaimNoteHeader">
        <Property />
      </ComponentType>
      <ComponentType Name="ClaimNoteDetail">
        <ComponentProperties>
        <Property Name="NoteTypeCode" IsMandatory="True" />
          </ComponentProperties>
      </ComponentType>
    </Components>
    <ComponentMappings>
      <Mapping From="ClaimEvent" To="ClaimNoteHeader" Alias="NoteHeader" />
      <Mapping From="ClaimNoteHeader" To="ClaimNoteDetail" Alias="Notes" />
    </ComponentMappings>
  </FunctionalArea>
  <FunctionalArea Name="ClaimsDocument" >
    <Components>
      <ComponentType Name="ClaimDocument" IsRoot="True" >
        <ComponentProperties>
          <Property Name="ClaimHeaderReference" IsMandatory="True" />
          <Property Name="ClaimDetailReference" IsMandatory="False" />
          <Property Name="ProductDocumentReference" IsMandatory="True" />
        </ComponentProperties>
      </ComponentType>
    </Components>
    <ComponentMappings>
    </ComponentMappings>
  </FunctionalArea>
  <FunctionalArea Name="ClaimsNoteHeader" >
    <Components>
      <ComponentType Name="ClaimNoteHeader" IsRoot="True" >
        <ComponentProperties>
          <Property Name="ClaimHeaderID" IsMandatory="False" />
          <Property Name="ClaimEventID" IsMandatory="False" />
          <Property Name="ClaimDetailID" IsMandatory="False" />
        </ComponentProperties>  
      </ComponentType>
      <ComponentType Name="ClaimNoteDetail">
        <ComponentProperties>
          <Property Name="NoteTypeCode" IsMandatory="True" />
          <Property Name="IsNew" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>
    </Components>
    <ComponentMappings>
      <Mapping From="ClaimNoteHeader" To="ClaimNoteDetail" Alias="Notes" />
    </ComponentMappings>
  </FunctionalArea>
  <FunctionalArea Name="Claim">
    <Components>
      <ComponentType Name="ClaimHeader" IsRoot="True">
        <ComponentProperties>
          <Property Name="ClaimReference" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="ClaimDetail">
        <ComponentProperties>
          <Property Name="ClaimDetailReference" IsMandatory="False" />
          <Property Name="ClaimDetailID" IsMandatory="False" />
          <Property Name="ClaimDetailInternalStatus" IsMandatory="False" />
          <Property Name="ClaimDetailTypeCode" IsMandatory="False" />
          <Property Name="InsuranceMarketClaimDetailReference" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="ClaimLitigation" >
        <ComponentProperties>
          <Property Name="LitigationType" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="ClaimRecovery" >
        <ComponentProperties>
          <Property Name="RecoveryType" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="ClaimInvolvement" >
        <ComponentProperties>
          <Property Name="ClaimInvolvementType" IsMandatory="False"/>
          <Property Name="HasChildren" IsMandatory="False"/>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="ClaimNameInvolvement" >
        <ComponentProperties>
          <Property Name="NameUsageTypeCode" IsMandatory="False" />
          <Property Name="NameInvolvementType" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="ClaimEvent" >
        <ComponentProperties>
          <Property Name="EventDate" IsMandatory="False" />
          <Property Name="ReasonCode" IsMandatory="False" />
          <Property Name="EventTypeCode" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>

      <ComponentType Name="ClaimTransactionHeader" >
        <ComponentProperties>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="ClaimTransactionGroup" >
        <ComponentProperties>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="ClaimTransactionDetail" >
        <ComponentProperties>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="ClaimTransactionToPaymentRequestLink" >
        <ComponentProperties>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="ClaimPaymentRequest" >
        <ComponentProperties>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="ClaimReceipt" >
        <ComponentProperties>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="ClaimDetailToClaimInvolvementLink" >
        <ComponentProperties>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="ClaimInsuredObject" >
        <ComponentProperties>
          <Property Name="InternalIOType" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="ClaimIOVehicle" >
        <ComponentProperties>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="ClaimIOVessel" >
        <ComponentProperties>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="ClaimIODriver" >
        <ComponentProperties>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="ClaimIOGeneric" >
        <ComponentProperties>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="ClaimIOPerson" >
        <ComponentProperties>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="ClaimIOLocation" >
        <ComponentProperties>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="ClaimIOAircraft" >
        <ComponentProperties>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="ClaimIOPilot" >
        <ComponentProperties>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="ClaimGenericDataSet">
        <ComponentProperties/>
      </ComponentType>
      <ComponentType Name="ClaimGenericDataItem">
        <ComponentProperties>
          <Property Name="GenericDataTypeCode" IsMandatory="False"/>
          <Property Name="CustomBoolean01" IsMandatory="False"/>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="ClaimNoteHeader">
        <ComponentProperties/>
      </ComponentType>
      <ComponentType Name="ClaimNoteDetail">
        <ComponentProperties/>
      </ComponentType>
      
    </Components>
    <ComponentMappings>
      <Mapping From="ClaimHeader" To="ClaimDetail" Alias="ClaimDetails"/>
      <Mapping From="ClaimHeader" To="ClaimEvent" Alias="ClaimEvents"/>
      <Mapping From="ClaimEvent" To="ClaimNoteHeader" Alias="NoteHeader" />
      <Mapping From="ClaimNoteHeader" To="ClaimNoteDetail" Alias="Notes" />
      <Mapping From="ClaimHeader" To="ClaimInvolvement" />
      <Mapping From="ClaimHeader" To="ClaimTransactionHeader" Alias="InProgressClaimTransactionHeaders"/>
      <Mapping From="ClaimTransactionHeader" To="ClaimTransactionGroup" />
      <Mapping From="ClaimTransactionHeader" To="ClaimReceipt" />
      <Mapping From="ClaimTransactionGroup" To="ClaimTransactionDetail" />
      <Mapping From="ClaimTransactionHeader" To="ClaimTransactionToPaymentRequestLink" Alias="ClaimTransactionToPaymentRequestLinks"/>
      <Mapping From="ClaimTransactionHeader" To="ClaimGenericDataSet" Alias="ClaimGenericDataSet"/>
      <Mapping From="ClaimTransactionToPaymentRequestLink" To="ClaimPaymentRequest" />
      <Mapping From="ClaimHeader" To="ClaimGenericDataSet" Alias="GenericDataSet"/>
      <Mapping From="ClaimInvolvement" To="ClaimNameInvolvement" />
      <Mapping From="ClaimInvolvement" To="ClaimInsuredObject" />
      <Mapping From="ClaimInvolvement" To="ClaimLitigation" />
      <Mapping From="ClaimInvolvement" To="ClaimLitigation" Alias="ClaimLitigationsOnHeader" />
      <Mapping From="ClaimInvolvement" To="ClaimRecovery"  Alias ="ClaimRecoveries"/>
      <Mapping From="ClaimInvolvement" To="ClaimRecovery"  Alias ="ClaimRecoveriesOnHeader"/>
      <Mapping From="ClaimDetail" To="ClaimEvent" />
      <Mapping From="ClaimDetail" To="ClaimDetailToClaimInvolvementLink" />
      <Mapping From="ClaimDetailToClaimInvolvementLink" To="ClaimNameInvolvement" />
      <Mapping From="ClaimDetailToClaimInvolvementLink" To="ClaimInvolvement" />
      <Mapping From="ClaimDetail" To="ClaimGenericDataSet" Alias="GenericDataSet"/>
      <Mapping From="ClaimInsuredObject" To="ClaimIOVehicle" />
      <Mapping From="ClaimInsuredObject" To="ClaimIODriver" />
      <Mapping From="ClaimInsuredObject" To="ClaimIOGeneric" />
      <Mapping From="ClaimInsuredObject" To="ClaimIOPerson" />
      <Mapping From="ClaimInsuredObject" To="ClaimIOLocation"/>
      <Mapping From="ClaimInsuredObject" To="ClaimIOAircraft"/>
      <Mapping From="ClaimInsuredObject" To="ClaimIOPilot"/>
      <Mapping From="ClaimInsuredObject" To="ClaimIOVessel"/>
      <Mapping From="ClaimGenericDataSet" To="ClaimGenericDataItem" Alias="GenericDataItems"/> 
    </ComponentMappings>
  </FunctionalArea>
  <FunctionalArea Name="UnderwritingEvent" >
    <Components>
      <ComponentType Name="UwEvent" IsRoot="True" >
        <ComponentProperties>
          <Property Name="ProductUwEventID" IsMandatory="False" />
          <Property Name="HeaderReference" IsMandatory="True" />
          <Property Name="EventTypeCode" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>
    </Components>
    <ComponentMappings>
    </ComponentMappings>
  </FunctionalArea>
  <FunctionalArea Name="UnderwritingDocument" >
    <Components>
      <ComponentType Name="UwDocument" IsRoot="True" >
        <ComponentProperties>
          <Property Name="ProductDocumentReference" IsMandatory="True" />
          <Property Name="HeaderReference" IsMandatory="True" />
        </ComponentProperties>
      </ComponentType>
    </Components>
    <ComponentMappings>
    </ComponentMappings>
  </FunctionalArea>

  <FunctionalArea Name="UnderwritingUploadDocument" >
    <Components>
      <ComponentType Name="Header" IsRoot="True" >
        <ComponentProperties>
          <Property Name="HeaderReference" IsMandatory="True" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="UwDocument">
        <ComponentProperties>
          <Property Name="Description" IsMandatory="False" />
          <Property Name="CreatedByMTASequence" IsMandatory="False" />
          <Property Name="DocumentDraftStatus" IsMandatory="False" />
          <Property Name="RelatedNameInvolvementType" IsMandatory="False" />
          <Property Name="RelatedName" IsMandatory="False" />
          <Property Name="ExternalReference" IsMandatory="False" />
          <Property Name="IsNew" IsMandatory="False" />
          <Property Name="ProductDocumentReference" IsMandatory="True" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="UwDocumentControlLog">
        <ComponentProperties>
          <Property Name="DocumentStatus" IsMandatory="False"/>
          <Property Name="DocumentName" IsMandatory="False"/>
          <Property Name="Folder" IsMandatory="False"/>
          <Property Name="EndTime" IsMandatory="False"/>
          <Property Name="UrlReplyAddress" IsMandatory="False"/>
        </ComponentProperties>
      </ComponentType>
    </Components>
    <ComponentMappings>
      <Mapping From="Header" To="UwDocument" Alias="Documents"/>
      <Mapping From="UwDocument" To="UwDocumentControlLog" Alias="DocumentControlLogs"/>
    </ComponentMappings>
  </FunctionalArea>

  <FunctionalArea Name="UnderwritingNoteHeader" >
    <Components>
      <ComponentType Name="UWNoteHeader" IsRoot="True" >
        <ComponentProperties>
          <Property Name="HeaderID" IsMandatory="False" />
          <Property Name="UwEventID" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="UWNoteDetail">
        <ComponentProperties>
          <Property Name="NoteTypeCode" IsMandatory="True"/>
        </ComponentProperties>
      </ComponentType>
    </Components>
    <ComponentMappings>
      <Mapping From="UWNoteHeader" To="UWNoteDetail" Alias="Notes" />
    </ComponentMappings>
  </FunctionalArea>
  <FunctionalArea Name="Underwriting" >
    <Components>
      <ComponentType Name="Header" IsRoot="True">
        <ComponentProperties>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="HeaderVersion" >
        <ComponentProperties>
          <Property Name="IsLatestVersion" IsMandatory="True" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="Section" >
        <ComponentProperties>
          <Property Name="SectionTypeCode" IsMandatory="False" />
          <Property Name="SubSectionTypeCode" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="SectionVersion" >
        <ComponentProperties>
          <Property Name="IsLatestVersion" IsMandatory="True" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="SectionDetail" >
        <ComponentProperties/>
      </ComponentType>     
      
      <ComponentType Name="SectionDetailVersion" >
        <ComponentProperties>
          <Property Name="IsLatestVersion" IsMandatory="True" />
        </ComponentProperties>
      </ComponentType>

      <ComponentType Name="Coverage" >
        <ComponentProperties>
          <Property Name="ProductCoverageID" IsMandatory="True" />
          <Property Name="CommercialAnnualisedPremium" IsMandatory="False" />
          <Property Name="CoverageTypeCode" IsMandatory="False" />
          <Property Name="CoverageReference" IsMandatory="False" />
          <Property Name="CustomCode20" IsMandatory="False" />
          <Property Name="MajorCoverageFlag" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="CoverageVersion" >
        <ComponentProperties>
          <Property Name="IsLatestVersion" IsMandatory="True" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="UwNameInvolvement" >
        <ComponentProperties/>
      </ComponentType>

      <ComponentType Name="ParticipationGroupSectionLink">
        <ComponentProperties/>
      </ComponentType>

      <ComponentType Name="ParticipationGroup" >
        <ComponentProperties/>
      </ComponentType>
      <ComponentType Name="ParticipationGroupVersion" >
        <ComponentProperties>
          <Property Name="IsLatestVersion" IsMandatory="True" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="Participation" >
        <ComponentProperties/>
      </ComponentType>


      <ComponentType Name="DeductionGroup" >
        <ComponentProperties/>
      </ComponentType>
      <ComponentType Name="DeductionGroupVersion" >
        <ComponentProperties>
          <Property Name="IsLatestVersion" IsMandatory="True" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="Deduction" >
        <ComponentProperties>
          <Property Name="DeductionCode" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>

    </Components>
    <ComponentMappings>
      <Mapping From="Header" To="HeaderVersion" />
      <Mapping From="Header" To="Section" />
      <Mapping From="Section" To="SectionDetail" />
      <Mapping From="Section" To="SectionVersion" />
      <Mapping From="SectionDetail" To="Coverage" />
      <Mapping From="SectionDetail" To="ParticipationGroupSectionLink" />
      <Mapping From="SectionDetail" To="SectionDetailVersion" />

      <Mapping From="Coverage" To="CoverageVersion" />
      <Mapping From="Header" To="UwNameInvolvement" />

      <Mapping From="Header" To="ParticipationGroup" />
      <Mapping From="ParticipationGroup" To="ParticipationGroupVersion" />
      <Mapping From="ParticipationGroupVersion" To="Participation" />

      <Mapping From="Header" To="DeductionGroup" />
      <Mapping From="DeductionGroup" To="DeductionGroupVersion" />
      <Mapping From="DeductionGroupVersion" To="Deduction" />

    </ComponentMappings>
  </FunctionalArea>
  
  <FunctionalArea Name="UW" >
    <Components>
      <ComponentType Name="Header" IsRoot="True" >
        <ComponentProperties>
          <Property Name="HeaderReference" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="HeaderVersion" >
        <ComponentProperties>
          <Property Name="IsLatestVersion" IsMandatory="True" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="MTALog" >
        <ComponentProperties>
          <Property Name="IsLatestMTA" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="HeaderToHeaderLink" >
        <ComponentProperties>
          <Property Name="HeaderLinkType" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="UwNameInvolvement" >
        <ComponentProperties>
          <Property Name="NameInvolvementType" IsMandatory="false" ValidationGroup="NI1"/>
          <Property Name="UwNameInvolvementID" IsMandatory="false" ValidationGroup="NI2"/>
          <Property Name="NameUsageTypeCode" IsMandatory="false" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="UwNameInvolvementVersion" >
        <ComponentProperties>
          <Property Name="IsLatestVersion" IsMandatory="True" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="Section" >
        <ComponentProperties>
          <Property Name="SectionTypeCode" IsMandatory="False" />
          <Property Name="SubSectionTypeCode" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="SectionVersion" >
        <ComponentProperties>
          <Property Name="IsLatestVersion" IsMandatory="True" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="SectionDetailVersion" >
        <ComponentProperties>
          <Property Name="IsLatestVersion" IsMandatory="True" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="SectionDetail" >
        <ComponentProperties>
          <Property Name="SectionDetailTypeCode" IsMandatory="False" />
          <Property Name="SectionDetailReference" IsMandatory="False" />
          <Property Name="CustomNumeric01" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="Coverage" >
        <ComponentProperties>
          <Property Name="CommercialAnnualisedPremium" IsMandatory="False" />
          <Property Name="CoverageTypeCode" IsMandatory="False" />
          <Property Name="CoverageReference" IsMandatory="False" />
          <Property Name="CustomCode20" IsMandatory="False" />
          <Property Name="MajorCoverageFlag" IsMandatory="False" />
          <Property Name="CoverageAmountType" IsMandatory="False" />
          <Property Name="PremiumType" IsMandatory="False" />
          <Property Name="OriginalCurrencyCode" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="CoverageVersion" >
        <ComponentProperties>
          <Property Name="IsLatestVersion" IsMandatory="True" />
          <Property Name="RIDeductibleAggregateTypeQualifier" IsMandatory="False" />
          <Property Name="DeductibleAggregateType" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="UwEvent">
        <ComponentProperties>
          <Property Name="UwEventID" IsMandatory="False" />
          <Property Name="EventDate" IsMandatory="False" />
          <Property Name="EventTypeCode" IsMandatory="False" />
          <Property Name="ReasonCode" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="Deduction">
        <ComponentProperties>
          <Property Name="DeductionID" IsMandatory="False" />
          <Property Name="DeductionCode" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="DeductionGroup">
        <ComponentProperties>
          <Property Name="DeductionGroupID" IsMandatory="False" ValidationGroup="DG1" />
          <Property Name="DeductionGroupReference" IsMandatory="False" ValidationGroup="DG2" />
          <Property Name="IsNonPremiumDeduction" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="DeductionGroupVersion">
        <ComponentProperties>
          <Property Name="IsLatestVersion" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="Participation">
        <ComponentProperties>
          <Property Name="ParticipationID" IsMandatory="False" />
          <Property Name="ParticipantNameID" IsMandatory="False" />
          <Property Name="ParticipantNameReference" IsMandatory="False" />
          <Property Name="IsTopTier" IsMandatory="False" />
          <Property Name="CustomCode05" IsMandatory="False" />
          <Property Name="CustomCode04" IsMandatory="False" />
          <Property Name="NameInvolvementType" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>

      <ComponentType Name="ParticipationGroupSectionLink">
        <ComponentProperties>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="ParticipationGroupSectionLinkVersion">
        <ComponentProperties>
          <Property Name="IsLatestVersion" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="ParticipationGroup">
        <ComponentProperties>
          <Property Name="ParticipationGroupID" IsMandatory="False" />
          <Property Name="ParticipationGroupReference" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="ParticipationGroupVersion">
        <ComponentProperties>
          <Property Name="IsLatestVersion" IsMandatory="True" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="Terms">
        <ComponentProperties>
          <Property Name="TermsReference" IsMandatory="True" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="TermsVersion">
        <ComponentProperties>
          <Property Name="IsLatestVersion" IsMandatory="True" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="TermsExchangeRate">
        <ComponentProperties/>
      </ComponentType>
      <ComponentType Name="UWNoteHeader">
        <ComponentProperties/>
      </ComponentType>
      <ComponentType Name="UWNoteDetail">
        <ComponentProperties>
          <Property Name="NoteTypeCode" IsMandatory="True"/>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="UwGenericDataSet">
        <ComponentProperties/>
      </ComponentType>
      <ComponentType Name="UwGenericDataItem">
        <ComponentProperties>
          <Property Name="GenericDataTypeCode" IsMandatory="False"/>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="IOLink">
        <ComponentProperties>
          <Property Name="IOLinkType" IsMandatory="False"/>
          <Property Name="ExternalReference" IsMandatory="False"/>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="IOLinkVersion">
        <ComponentProperties>
          <Property Name="IsLatestVersion" IsMandatory="False"/>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="IOVersion">
        <ComponentProperties>
          <Property Name="IsLatestVersion" IsMandatory="False"/>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="InsuredObject">
        <ComponentProperties>
          <Property Name="IOReference" IsMandatory="False"/>
          <Property Name="InternalIOType" IsMandatory="False"/>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="IOVesselVersion">
        <ComponentProperties>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="IOVehicleVersion">
        <ComponentProperties>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="IODriverVersion">
        <ComponentProperties>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="IOGenericVersion">
        <ComponentProperties>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="IOLocationVersion">
        <ComponentProperties>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="IOPersonVersion">
        <ComponentProperties>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="IOAircraftVersion">
        <ComponentProperties>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="IOPilotVersion">
        <ComponentProperties>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="InstalmentPattern" >
        <ComponentProperties>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="InstalmentPatternDetail" >
        <ComponentProperties>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="InstalmentPatternLink" >
        <ComponentProperties>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="InstalmentPatternLinkVersion" >
        <ComponentProperties>
          <Property Name="IsLatestVersion" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="UwWording" >
        <ComponentProperties>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="UwWordingVersion" >
        <ComponentProperties>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="UwTransactionProcessorRequest" >
        <ComponentProperties>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="UwTransactionProcessorRequestAmountGroup" >
        <ComponentProperties>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="UwTransactionProcessorRequestAmount" >
        <ComponentProperties>
        </ComponentProperties>
      </ComponentType>
    </Components>
    <ComponentMappings>
      <Mapping From="Header" To="HeaderVersion" />
      <Mapping From="Header" To="UwEvent" />
      <Mapping From="Header" To="Header" Alias="OriginallyBasedOnHeader"  />
      <Mapping From="Header" To="HeaderToHeaderLink" Alias ="HeaderToHeaderLinkFroms"/>
      <Mapping From="Header" To="HeaderToHeaderLink" Alias ="HeaderToHeaderLinkTos"/>
      <Mapping From="Header" To="UWNoteHeader"  Alias ="NoteHeader"/>
      <Mapping From="HeaderVersion" To="UwGenericDataSet" Alias="GenericDataSet"/>
      <Mapping From="UwGenericDataSet" To="UwGenericDataItem" Alias="GenericDataItems"/>
      <Mapping From="UWNoteHeader" To="UWNoteDetail"  Alias ="Notes"/>
      <Mapping From="Header" To="Terms" Alias = "Term" />
      <Mapping From="Terms" To="TermsVersion" />
      <Mapping From="TermsVersion" To="TermsExchangeRate" />
      <Mapping From="ParticipationGroupVersion" To="Participation" />
      <Mapping From="Participation" To="Participation" Alias="ChildParticipations"/>
      <Mapping From="Header" To="ParticipationGroup" />
      <Mapping From="ParticipationGroup" To="ParticipationGroupVersion" />
      <Mapping From="Header" To="DeductionGroup" />
      <Mapping From="DeductionGroup" To="DeductionGroupVersion" />
      <Mapping From="DeductionGroupVersion" To="Deduction" />
      <Mapping From="Header" To="UwNameInvolvement" />
      <Mapping From="Header" To="Section" />
      <Mapping From="Section" To="SectionVersion" />
      <Mapping From="Section" To="SectionDetail" />
      <Mapping From="Section" To="ParticipationGroupSectionLink" />
      <Mapping From="SectionDetail" To="SectionDetailVersion" />
      <Mapping From="SectionDetailVersion" To="UwGenericDataSet" Alias="GenericDataSet"/>
      <Mapping From="SectionDetail" To="Coverage" />
      <Mapping From="SectionDetail" To="ParticipationGroupSectionLink" />
      <Mapping From="ParticipationGroupSectionLinkVersion" To="ParticipationGroup" />
      <Mapping From="ParticipationGroupSectionLink" To="ParticipationGroupSectionLinkVersion" />
      <Mapping From="Coverage" To="CoverageVersion" />
      <Mapping From="CoverageVersion" To="DeductionGroup" />
      <Mapping From="CoverageVersion" To="UwGenericDataSet" Alias="GenericDataSet"/>
      <Mapping From="HeaderToHeaderLink" To="Header" Alias ="HeaderTo"/>
      <Mapping From="HeaderToHeaderLink" To="Header" Alias ="HeaderFrom"/>
      <Mapping From="UwNameInvolvement" To="UwNameInvolvementVersion" />
      <Mapping From="Participation" To="UwNameInvolvement" />
      <Mapping From="Header" To="IOLink" Alias ="IOLinks"/>
      <Mapping From="SectionDetail" To="IOLink" Alias="IOLinks"/>
      <Mapping From="IOLink" To="IOLinkVersion" Alias="IOLinkVersions"/>
      <Mapping From="IOLink" To="InsuredObject" Alias="InsuredObject"/>
      <Mapping From="InsuredObject" To="IOVersion" />
      <Mapping From="IOVersion" To="IOVesselVersion" />
      <Mapping From="IOVersion" To="IOVehicleVersion" />
      <Mapping From="IOVersion" To="IODriverVersion" />
      <Mapping From="IOVersion" To="IOGenericVersion" />
      <Mapping From="IOVersion" To="IOLocationVersion" />
      <Mapping From="IOVersion" To="IOPersonVersion" />
      <Mapping From="IOVersion" To="IOAircraftVersion" />
      <Mapping From="IOVersion" To="IOPilotVersion" />
      <Mapping From="IOVersion" To="UwGenericDataSet" Alias="GenericDataSet"/>
      <Mapping From="Header" To="MTALog" />            
      <Mapping From="Header" To="UwWording" />
      <Mapping From="Header" To="InstalmentPattern"  Alias="InstalmentPatterns"/>
      <Mapping From="UwWording" To="UwWordingVersion" />
      <Mapping From="SectionDetail" To="InstalmentPatternLink" Alias="InstalmentPatternLinks"/>
      <Mapping From="InstalmentPatternLink" To="InstalmentPatternLinkVersion" />
      <Mapping From="InstalmentPatternLinkVersion" To="InstalmentPattern" />
      <Mapping From="InstalmentPattern" To="InstalmentPatternDetail" />
      <Mapping From="Deduction" To="UwGenericDataSet" Alias="GenericDataSet"/>
      <Mapping From="Header" To="UwTransactionProcessorRequest" Alias="InProgressUwTransactionProcessorRequests"/>
      <Mapping From="UwTransactionProcessorRequest" To="UwGenericDataSet" Alias="GenericDataSet"/>
      <Mapping From="UwTransactionProcessorRequest" To="UwTransactionProcessorRequestAmountGroup"/>
      <Mapping From="UwTransactionProcessorRequestAmountGroup" To="UwTransactionProcessorRequestAmount"/>
  </ComponentMappings>
  </FunctionalArea>
  <FunctionalArea Name="ID" >
    <Components>
      <ComponentType Name="Name" IsRoot="True" >
        <ComponentProperties>
          <Property Name="NameReference" IsMandatory="False" ValidationGroup="G1" />
          <Property Name="NameID" IsMandatory="False" ValidationGroup="G2" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="IDNoteHeader" />
      <ComponentType Name="IDNoteDetail" />
      <ComponentType Name="PersonDetailVersion"/>
      <ComponentType Name="CompanyDetailVersion"/>
      <ComponentType Name="NameUsage"/>
      <ComponentType Name="NameFinancialAccount"/>
      <ComponentType Name="NameToAddress">
        <ComponentProperties>
          <Property Name="IsMainAddress" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="Address"/>
    </Components>
    <ComponentMappings>
      <Mapping From="Name" To="PersonDetailVersion" />
      <Mapping From="Name" To="CompanyDetailVersion" />
      <Mapping From="Name" To="IDNoteHeader" Alias="NoteHeader" />
      <Mapping From="IDNoteHeader" To="IDNoteDetail" Alias ="Notes"/>
      <Mapping From="Name" To="NameUsage" />
      <Mapping From="Name" To="NameFinancialAccount" />
      <Mapping From="Name" To="NameToAddress" Alias="NameToAddresses" />
      <Mapping From="NameToAddress" To="Address" />
    </ComponentMappings>
  </FunctionalArea>
  <FunctionalArea Name="IO" >
    <Components>
      <ComponentType Name="IORegisterEntry" IsRoot="True" >
        <ComponentProperties>
          <Property Name="IOType" IsMandatory="False" />
          <Property Name="Identifier" IsMandatory="False" />
          <Property Name="IORegisterEntryReference" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="IORegisterEntryVersion" >
        <ComponentProperties>
          <Property Name="IsLatestVersion" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="VehicleRegisterEntryVersion" />
      <ComponentType Name="VesselRegisterEntryVersion"/>
      <ComponentType Name="GenericRegisterEntryVersion"/>
    </Components>
    <ComponentMappings>
      <Mapping From="IORegisterEntry" To="IORegisterEntryVersion" />
      <Mapping From="IORegisterEntryVersion" To="VehicleRegisterEntryVersion" />
      <Mapping From="IORegisterEntryVersion" To="VesselRegisterEntryVersion" />
      <Mapping From="IORegisterEntryVersion" To="GenericRegisterEntryVersion" />
    </ComponentMappings>
  </FunctionalArea>
  <FunctionalArea Name="SYS" >
    <Components>
      <ComponentType Name="User" IsRoot="True" >
        <ComponentProperties>
          <Property Name="UserIdentity" IsMandatory="True" ValidationGroup="G1" />
          <Property Name="UserID" IsMandatory="True" ValidationGroup="G2" />
          <Property Name="NameID" IsMandatory="True" ValidationGroup="G3" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="UserRole"/>
      <ComponentType Name="UserGrade"/>
    </Components>
    <ComponentMappings>
      <Mapping From="User" To="UserRole" />
      <Mapping From="User" To="UserGrade" />
    </ComponentMappings>
  </FunctionalArea>

  <FunctionalArea Name="Accounts">
    <Components>
      <ComponentType Name="Journal" IsRoot ="True">
        <ComponentProperties>
          <Property Name="JournalReference" IsMandatory="False"/>
          <Property Name="AccCompanyCode" IsMandatory="False"/>
          <Property Name="BranchCode" IsMandatory="False"/>
          <Property Name="CostCenterCode" IsMandatory="False"/>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="JournalEntry">
        <ComponentProperties>
          <Property Name="JournalEntrySequence" IsMandatory="False"/>
          <Property Name="JournalEntryReference01" IsMandatory="False"/>
          <Property Name="JournalEntryReference02" IsMandatory="False"/>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="JournalEntryItem">
        <ComponentProperties>
          <Property Name="JournalEntryItemReference01" IsMandatory="False"/>
          <Property Name="JournalEntryItemReference02" IsMandatory="False"/>
        </ComponentProperties>
      </ComponentType>

      <ComponentType Name="LedgerAccount" IsRoot ="False">
        <ComponentProperties>
          <Property Name="LedgerAccountReference" IsMandatory="False"/>
          <Property Name="AccCompanyCode" IsMandatory="False"/>
          <Property Name="BranchCode" IsMandatory="False"/>
          <Property Name="CostCentreCode" IsMandatory="False"/>
        </ComponentProperties>
      </ComponentType>
    </Components>
    <ComponentMappings>
      <Mapping From="Journal" To="JournalEntry" Alias="JournalEntries" />
      <Mapping From="JournalEntry" To="JournalEntryItem" Alias="EntryTotalJournalEntryItem" />
    </ComponentMappings>
  </FunctionalArea>
  
  <FunctionalArea Name="AccLA">
    <Components>
      <ComponentType Name="LedgerAccount" IsRoot ="True">
        <ComponentProperties>
          <Property Name="LedgerAccountReference" IsMandatory="False"/>
          <Property Name="AccCompanyCode" IsMandatory="False"/>
          <Property Name="BranchCode" IsMandatory="False"/>
          <Property Name="CostCentreCode" IsMandatory="False"/>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="LedgerAccountToLedgerAccountLink"/>      
    </Components>
    <ComponentMappings>
      <Mapping From="LedgerAccount" To="LedgerAccountToLedgerAccountLink" Alias="LedgerAccountToLedgerAccountLinkFroms"/>
      <Mapping From="LedgerAccount" To="LedgerAccountToLedgerAccountLink" Alias="LedgerAccountToLedgerAccountLinkTos"/>
    </ComponentMappings>
  </FunctionalArea>

  <FunctionalArea Name="Premium">
    <Components>
      <ComponentType Name="Header" IsRoot="True">
        <ComponentProperties>
          <Property Name="HeaderReference" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="UwTransactionProcessorRequest">
        <ComponentProperties>
          <Property Name="ActualTransactionTypeCode" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="UwTransactionProcessorRequestAmountGroup">
        <ComponentProperties>
          <Property Name="SectionTypeCode" IsMandatory="False" />
          <Property Name="SubSectionTypeCode" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="UwTransactionProcessorRequestAmount">
        <ComponentProperties>
           <Property Name="TransientIdentifier" IsMandatory="False" />
          <Property Name="RevenueCode" IsMandatory="False" />
          <Property Name="OrderShareCoinsurance" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="UwTransactionProcessorRequestInstalmentPattern">
        <ComponentProperties>
          <Property Name="InstalmentGroupSequence" IsMandatory="False"/>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="UwTransactionProcessorRequestInstalment">
        <ComponentProperties>
          <Property Name="InstalmentSequence" IsMandatory="False"/>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="UwNameInvolvement">
        <ComponentProperties>
          <Property Name="NameInvolvementType" IsMandatory="True" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="UwGenericDataSet">
        <ComponentProperties/>
      </ComponentType>
      <ComponentType Name="UwGenericDataItem">
        <ComponentProperties>
          <Property Name="GenericDataTypeCode" IsMandatory="False"/>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="UWNoteHeader">
        <ComponentProperties/>            
      </ComponentType>
      <ComponentType Name="UWNoteDetail">
        <ComponentProperties>
          <Property Name="ShortText" IsMandatory="False"/>
          <Property Name="PlainText" IsMandatory="False"/>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="UwTransactionProcessorRequestToPaymentRequestLink" >
        <ComponentProperties>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="UwPaymentRequest" >
        <ComponentProperties>
        </ComponentProperties>
      </ComponentType>
    </Components>
    <ComponentMappings>
      <Mapping From="Header" To="UwTransactionProcessorRequest" Alias="InProgressUwTransactionProcessorRequests"/>
      <Mapping From="UwTransactionProcessorRequest" To="UwTransactionProcessorRequestAmountGroup"/>
      <Mapping From="UwTransactionProcessorRequest" To="UwTransactionProcessorRequestInstalmentPattern"/>
      <Mapping From="UwTransactionProcessorRequest" To="UwGenericDataSet" Alias="GenericDataSet"/>
      <Mapping From="UwGenericDataSet" To="UwGenericDataItem" Alias="GenericDataItems"/>
      <Mapping From="UwTransactionProcessorRequestAmountGroup" To="UwTransactionProcessorRequestAmount"/>
      <Mapping From="UwTransactionProcessorRequestInstalmentPattern" To="UwTransactionProcessorRequestInstalment"/>
      <Mapping From="UwGenericDataItem" To="UWNoteHeader" Alias="NoteHeader"/>
      <Mapping From="UWNoteHeader" To="UWNoteDetail" Alias="NoteDetails"/>
      <Mapping From="UwTransactionProcessorRequest" To="UwTransactionProcessorRequestToPaymentRequestLink"/>
      <Mapping From="UwTransactionProcessorRequestToPaymentRequestLink" To="UwPaymentRequest" />
    </ComponentMappings>
  </FunctionalArea>
  
  <FunctionalArea Name="UWSIGN" >
    <Components>
        <ComponentType Name="Header" IsRoot="True" >
            <ComponentProperties>
                <Property Name="HeaderReference" IsMandatory="False" />
            </ComponentProperties>
        </ComponentType>
        <ComponentType Name="ParticipationGroup">
            <ComponentProperties>
                <Property Name="ParticipationGroupID" IsMandatory="False" />
                <Property Name="ParticipationGroupReference" IsMandatory="False" />
            </ComponentProperties>
        </ComponentType>
        <ComponentType Name="ParticipationGroupVersion">
            <ComponentProperties>
                <Property Name="IsLatestVersion" IsMandatory="True" />
            </ComponentProperties>
        </ComponentType>
        <ComponentType Name="Participation">
            <ComponentProperties>
                <Property Name="ParticipationID" IsMandatory="False" />
                <Property Name="ParticipantNameID" IsMandatory="False" />
                <Property Name="ParticipantNameReference" IsMandatory="False" />
                <Property Name="ParticipantsReference" IsMandatory="False" />
                <Property Name="IsTopTier" IsMandatory="False" />
                <Property Name="CustomCode05" IsMandatory="False" />
                <Property Name="CustomCode04" IsMandatory="False" />
                <Property Name="NameInvolvementType" IsMandatory="False" />
            </ComponentProperties>
        </ComponentType>
    </Components>
    <ComponentMappings>
        <Mapping From="Header" To="ParticipationGroup" />
        <Mapping From="ParticipationGroup" To="ParticipationGroupVersion" />
        <Mapping From="ParticipationGroupVersion" To="Participation" />
        <Mapping From="Participation" To="Participation" Alias="ChildParticipations"/>
    </ComponentMappings>
  </FunctionalArea>
    
  <FunctionalArea Name="Task">
    <Components>
      <ComponentType Name="ProcessEvent" IsRoot="True">
        <ComponentProperties>
          <Property Name="SerialNumber" IsMandatory="True" />
        </ComponentProperties>
      </ComponentType>
    </Components>
    <ComponentMappings />
  </FunctionalArea>
  <FunctionalArea Name="User">
    <Components>
      <ComponentType Name="User" IsRoot="True">
        <ComponentProperties>         
        </ComponentProperties>
      </ComponentType>
    </Components>
    <ComponentMappings />
  </FunctionalArea>
  
  <GlobalPropertyExclude>
    <Property Name="Guid" />
    <Property Name="ProcessHandlingEnabled" />
    <Property Name="IsNew" />
    <Property Name="IsDeleted" />
    <Property Name="IsEditable" />
    <Property Name="HasChanged" />
    <Property Name="ValidationDate" />
    <Property Name="DataId" />
    <Property Name="IsDefaulted" />
    <Property Name="IsContextNull" />
  </GlobalPropertyExclude>
</componentPathConfig>
