<dataRelationshipTrees>
  <DataRelationshipTree Name="UW-Full">
    <DataRelationship Type="Xiap.UW.BusinessComponent.Header,Xiap.UW.BusinessComponent">
      <DataRelationship Type="Xiap.UW.BusinessComponent.RiskRenewal,Xiap.UW.BusinessComponent" RelationshipWithParent="RiskRenewal" >
        <DataRelationship Type="Xiap.UW.BusinessComponent.Risk,Xiap.UW.BusinessComponent" RelationshipWithParent="Risk" />
      </DataRelationship>
      <DataRelationship Type="Xiap.UW.BusinessComponent.HeaderVersion,Xiap.UW.BusinessComponent" RelationshipWithParent="HeaderVersions" />
      <DataRelationship Type="Xiap.UW.BusinessComponent.Section,Xiap.UW.BusinessComponent" RelationshipWithParent="Sections" >
        <DataRelationship Type="Xiap.UW.BusinessComponent.SectionVersion,Xiap.UW.BusinessComponent" RelationshipWithParent="SectionVersions" />
        <DataRelationship Type="Xiap.UW.BusinessComponent.SectionDetail,Xiap.UW.BusinessComponent" RelationshipWithParent="SectionDetails" >
          <DataRelationship Type="Xiap.UW.BusinessComponent.ParticipationGroupSectionLink,Xiap.UW.BusinessComponent" RelationshipWithParent="ParticipationGroupSectionLinks" >
            <DataRelationship Type="Xiap.UW.BusinessComponent.ParticipationGroup,Xiap.UW.BusinessComponent" RelationshipWithParent="ParticipationGroup" >
              <DataRelationship Type="Xiap.UW.BusinessComponent.ParticipationGroupVersion,Xiap.UW.BusinessComponent" RelationshipWithParent="ParticipationGroupVersions" >
                <DataRelationship Type="Xiap.UW.BusinessComponent.Participation,Xiap.UW.BusinessComponent" RelationshipWithParent="Participations" />
              </DataRelationship>
            </DataRelationship>
          </DataRelationship>
          <DataRelationship Type="Xiap.UW.BusinessComponent.SectionDetailVersion,Xiap.UW.BusinessComponent" RelationshipWithParent="SectionDetailVersions" />
          <DataRelationship Type="Xiap.UW.BusinessComponent.Coverage,Xiap.UW.BusinessComponent" RelationshipWithParent="Coverages" >
            <DataRelationship Type="Xiap.UW.BusinessComponent.CoverageVersion,Xiap.UW.BusinessComponent" RelationshipWithParent="CoverageVersions" />
          </DataRelationship>
        </DataRelationship>
      </DataRelationship>
      <DataRelationship Type="Xiap.UW.BusinessComponent.UwEvent,Xiap.UW.BusinessComponent" RelationshipWithParent="UwEvents" />
      <DataRelationship Type="Xiap.UW.BusinessComponent.DeductionGroup,Xiap.UW.BusinessComponent" RelationshipWithParent="DeductionGroups" >
        <DataRelationship Type="Xiap.UW.BusinessComponent.DeductionGroupVersion,Xiap.UW.BusinessComponent" RelationshipWithParent="DeductionGroupVersions" >
          <DataRelationship Type="Xiap.UW.BusinessComponent.Deduction,Xiap.UW.BusinessComponent" RelationshipWithParent="Deductions" />
        </DataRelationship>
      </DataRelationship>
      <DataRelationship Type="Xiap.UW.BusinessComponent.UwNameInvolvement,Xiap.UW.BusinessComponent" RelationshipWithParent="UwNameInvolvements" >
        <DataRelationship Type="Xiap.UW.BusinessComponent.UwNameInvolvementVersion,Xiap.UW.BusinessComponent" RelationshipWithParent="UwNameInvolvementVersions" />
      </DataRelationship>
      <DataRelationship Type="Xiap.UW.BusinessComponent.Terms,Xiap.UW.BusinessComponent" RelationshipWithParent="Term" >
        <DataRelationship Type="Xiap.UW.BusinessComponent.TermsVersion,Xiap.UW.BusinessComponent" RelationshipWithParent="TermsVersions" />
      </DataRelationship>
      <DataRelationship Type="Xiap.UW.BusinessComponent.UWNoteHeader,Xiap.UW.BusinessComponent" RelationshipWithParent="NoteHeader" >
        <DataRelationship Type="Xiap.Framework.Common.INote,Xiap.Framework.Common" RelationshipWithParent="Notes" />
      </DataRelationship>
    </DataRelationship>
  </DataRelationshipTree>

  <DataRelationshipTree Name="ID-Full">
    <DataRelationship Type="Xiap.InsuranceDirectory.BusinessComponent.Name,Xiap.InsuranceDirectory.BusinessComponent">
      <DataRelationship Type="Xiap.InsuranceDirectory.BusinessComponent.PersonDetailVersion,Xiap.InsuranceDirectory.BusinessComponent" RelationshipWithParent="PersonDetailVersions" >
      </DataRelationship>
      <DataRelationship Type="Xiap.InsuranceDirectory.BusinessComponent.CompanyDetailVersion,Xiap.InsuranceDirectory.BusinessComponent" RelationshipWithParent="CompanyDetailVersions" >
      </DataRelationship>
      <DataRelationship Type="Xiap.InsuranceDirectory.BusinessComponent.NameToAddress,Xiap.InsuranceDirectory.BusinessComponent" RelationshipWithParent="NameToAddresses" >
        <DataRelationship Type="Xiap.InsuranceDirectory.BusinessComponent.Address,Xiap.InsuranceDirectory.BusinessComponent" RelationshipWithParent="Address" >
        </DataRelationship>
      </DataRelationship>
      <DataRelationship Type="Xiap.InsuranceDirectory.BusinessComponent.NameUsage,Xiap.InsuranceDirectory.BusinessComponent" RelationshipWithParent="NameUsages" >
      </DataRelationship>
    </DataRelationship>
  </DataRelationshipTree>

  <DataRelationshipTree Name="IO-Full">
    <DataRelationship Type="Xiap.IORegister.BusinessComponent.IORegisterEntry,Xiap.IORegister.BusinessComponent">
      <DataRelationship Type="Xiap.IORegister.BusinessComponent.IORegisterEntryVersion,Xiap.IORegister.BusinessComponent" RelationshipWithParent="IORegisterEntryVersions" >
        <DataRelationship Type="Xiap.IORegister.BusinessComponent.VehicleRegisterEntryVersion,Xiap.IORegister.BusinessComponent" RelationshipWithParent="VehicleRegisterEntryVersions" >
        </DataRelationship>
        <DataRelationship Type="Xiap.IORegister.BusinessComponent.VesselRegisterEntryVersion,Xiap.IORegister.BusinessComponent" RelationshipWithParent="VesselRegisterEntryVersions" >
        </DataRelationship>
      </DataRelationship>     
    </DataRelationship>
  </DataRelationshipTree>

  <DataRelationshipTree Name="SYS-Full">
    <DataRelationship Type="Xiap.Metadata.BusinessComponent.User,Xiap.Metadata.BusinessComponent">
      <DataRelationship Type="Xiap.Metadata.BusinessComponent.UserGrade,Xiap.Metadata.BusinessComponent" RelationshipWithParent="UserGrades" >
      </DataRelationship>
      <DataRelationship Type="Xiap.Metadata.BusinessComponent.UserRole,Xiap.Metadata.BusinessComponent" RelationshipWithParent="UserRoles" >
      </DataRelationship>
    </DataRelationship>
  </DataRelationshipTree>

  <DataRelationshipTree Name="UwTransactionProcessorTree">
    <DataRelationship Type="Xiap.UW.BusinessComponent.Header,Xiap.UW.BusinessComponent">
      <DataRelationship Type="Xiap.UW.BusinessComponent.InstalmentPattern,Xiap.UW.BusinessComponent" RelationshipWithParent="InstalmentPatterns" />
      <DataRelationship Type="Xiap.UW.BusinessComponent.HeaderVersion,Xiap.UW.BusinessComponent" RelationshipWithParent="HeaderVersions" >
      </DataRelationship>
      <DataRelationship Type="Xiap.UW.BusinessComponent.MTALog,Xiap.UW.BusinessComponent" RelationshipWithParent="MTALogs" />
      <DataRelationship Type="Xiap.UW.BusinessComponent.Section,Xiap.UW.BusinessComponent" RelationshipWithParent="Sections" >
        <DataRelationship Type="Xiap.UW.BusinessComponent.ParticipationGroupSectionLink,Xiap.UW.BusinessComponent" RelationshipWithParent="ParticipationGroupSectionLinks" >
          <DataRelationship Type="Xiap.UW.BusinessComponent.ParticipationGroupSectionLinkVersion,Xiap.UW.BusinessComponent" RelationshipWithParent="ParticipationGroupSectionLinkVersions" >
            <DataRelationship Type="Xiap.UW.BusinessComponent.ParticipationGroup,Xiap.UW.BusinessComponent" RelationshipWithParent="ParticipationGroup" >
            <DataRelationship Type="Xiap.UW.BusinessComponent.ParticipationGroupVersion,Xiap.UW.BusinessComponent" RelationshipWithParent="ParticipationGroupVersions" >
              <DataRelationship Type="Xiap.UW.BusinessComponent.Participation,Xiap.UW.BusinessComponent" RelationshipWithParent="Participations" >
                <DataRelationship Type="Xiap.UW.BusinessComponent.Participation,Xiap.UW.BusinessComponent" RelationshipWithParent="ChildParticipations" />
                <DataRelationship Type="Xiap.UW.BusinessComponent.DeductionGroup,Xiap.UW.BusinessComponent" RelationshipWithParent="DeductionGroup" />
                <DataRelationship Type="Xiap.UW.BusinessComponent.UwNameInvolvement,Xiap.UW.BusinessComponent" RelationshipWithParent="UwNameInvolvement" />
              </DataRelationship>
            </DataRelationship>
          </DataRelationship>
          </DataRelationship>
        </DataRelationship>
        <DataRelationship Type="Xiap.UW.BusinessComponent.SectionVersion,Xiap.UW.BusinessComponent" RelationshipWithParent="SectionVersions" />
        <DataRelationship Type="Xiap.UW.BusinessComponent.SectionDetail,Xiap.UW.BusinessComponent" RelationshipWithParent="SectionDetails" >
          <DataRelationship Type="Xiap.UW.BusinessComponent.ParticipationGroupSectionLink,Xiap.UW.BusinessComponent" RelationshipWithParent="ParticipationGroupSectionLinks" >
            <DataRelationship Type="Xiap.UW.BusinessComponent.ParticipationGroupSectionLinkVersion,Xiap.UW.BusinessComponent" RelationshipWithParent="ParticipationGroupSectionLinkVersions" >
              <DataRelationship Type="Xiap.UW.BusinessComponent.ParticipationGroup,Xiap.UW.BusinessComponent" RelationshipWithParent="ParticipationGroup" >
              <DataRelationship Type="Xiap.UW.BusinessComponent.ParticipationGroupVersion,Xiap.UW.BusinessComponent" RelationshipWithParent="ParticipationGroupVersions" >
                <DataRelationship Type="Xiap.UW.BusinessComponent.Participation,Xiap.UW.BusinessComponent" RelationshipWithParent="Participations" >
                  <DataRelationship Type="Xiap.UW.BusinessComponent.Participation,Xiap.UW.BusinessComponent" RelationshipWithParent="ChildParticipations" />
                  <DataRelationship Type="Xiap.UW.BusinessComponent.DeductionGroup,Xiap.UW.BusinessComponent" RelationshipWithParent="DeductionGroup" />
                  <DataRelationship Type="Xiap.UW.BusinessComponent.UwNameInvolvement,Xiap.UW.BusinessComponent" RelationshipWithParent="UwNameInvolvement" />
                </DataRelationship>
              </DataRelationship>
              </DataRelationship>
            </DataRelationship>
          </DataRelationship>
          <DataRelationship Type="Xiap.UW.BusinessComponent.InstalmentPatternLink,Xiap.UW.BusinessComponent" RelationshipWithParent="InstalmentPatternLinks">
            <DataRelationship Type="Xiap.UW.BusinessComponent.InstalmentPatternLinkVersion,Xiap.UW.BusinessComponent" RelationshipWithParent="InstalmentPatternLinkVersions">
              <DataRelationship Type="Xiap.UW.BusinessComponent.InstalmentPattern,Xiap.UW.BusinessComponent" RelationshipWithParent="InstalmentPattern">
              </DataRelationship>
            </DataRelationship>
          </DataRelationship>
          <DataRelationship Type="Xiap.UW.BusinessComponent.SectionDetailVersion,Xiap.UW.BusinessComponent" RelationshipWithParent="SectionDetailVersions" />
          <DataRelationship Type="Xiap.UW.BusinessComponent.Coverage,Xiap.UW.BusinessComponent" RelationshipWithParent="Coverages" >
            <DataRelationship Type="Xiap.UW.BusinessComponent.CoverageVersion,Xiap.UW.BusinessComponent" RelationshipWithParent="CoverageVersions" >
              <DataRelationship Type="Xiap.UW.BusinessComponent.DeductionGroup,Xiap.UW.BusinessComponent" RelationshipWithParent="DeductionGroup" />
            </DataRelationship>
          </DataRelationship>
        </DataRelationship>
      </DataRelationship>
      <DataRelationship Type="Xiap.UW.BusinessComponent.DeductionGroup,Xiap.UW.BusinessComponent" RelationshipWithParent="DeductionGroups" >
        <DataRelationship Type="Xiap.UW.BusinessComponent.DeductionGroupVersion,Xiap.UW.BusinessComponent" RelationshipWithParent="DeductionGroupVersions" >
          <DataRelationship Type="Xiap.UW.BusinessComponent.Deduction,Xiap.UW.BusinessComponent" RelationshipWithParent="Deductions" >
            <DataRelationship Type="Xiap.UW.BusinessComponent.UwNameInvolvement,Xiap.UW.BusinessComponent" RelationshipWithParent="UwNameInvolvement" />
          </DataRelationship>
        </DataRelationship>
      </DataRelationship>
      <DataRelationship Type="Xiap.UW.BusinessComponent.ParticipationGroup,Xiap.UW.BusinessComponent" RelationshipWithParent="ParticipationGroups" >
        <DataRelationship Type="Xiap.UW.BusinessComponent.ParticipationGroupVersion,Xiap.UW.BusinessComponent" RelationshipWithParent="ParticipationGroupVersions" >
          <DataRelationship Type="Xiap.UW.BusinessComponent.Participation,Xiap.UW.BusinessComponent" RelationshipWithParent="Participations" >
            <DataRelationship Type="Xiap.UW.BusinessComponent.DeductionGroup,Xiap.UW.BusinessComponent" RelationshipWithParent="DeductionGroup" >
            </DataRelationship>
            <DataRelationship Type="Xiap.UW.BusinessComponent.Participation,Xiap.UW.BusinessComponent" RelationshipWithParent="ChildParticipations" />
          </DataRelationship>
        </DataRelationship>
      </DataRelationship>
      <DataRelationship Type="Xiap.UW.BusinessComponent.UwNameInvolvement,Xiap.UW.BusinessComponent" RelationshipWithParent="UwNameInvolvements" >
        <DataRelationship Type="Xiap.UW.BusinessComponent.UwNameInvolvementVersion,Xiap.UW.BusinessComponent" RelationshipWithParent="UwNameInvolvementVersions" />
      </DataRelationship>
      <DataRelationship Type="Xiap.UW.BusinessComponent.Terms,Xiap.UW.BusinessComponent" RelationshipWithParent="Term" >
        <DataRelationship Type="Xiap.UW.BusinessComponent.TermsVersion,Xiap.UW.BusinessComponent" RelationshipWithParent="TermsVersions" />
      </DataRelationship>
      <DataRelationship Type="Xiap.UW.BusinessComponent.UWNoteHeader,Xiap.UW.BusinessComponent" RelationshipWithParent="NoteHeader" >
        <DataRelationship Type="Xiap.Framework.Common.INote,Xiap.Framework.Common" RelationshipWithParent="Notes" />
      </DataRelationship>
      <DataRelationship Type="Xiap.UW.BusinessComponent.UwTransactionProcessorRequest, Xiap.UW.BusinessComponent" RelationshipWithParent="LastUwTransactionProcessorRequest" >
        <DataRelationship Type="Xiap.UW.BusinessComponent.UwTransactionProcessorRequestAmountGroup, Xiap.UW.BusinessComponent" RelationshipWithParent="UwTransactionProcessorRequestAmountGroups" >
          <DataRelationship Type="Xiap.UW.BusinessComponent.UwTransactionProcessorRequestAmount, Xiap.UW.BusinessComponent" RelationshipWithParent="UwTransactionProcessorRequestAmounts" ></DataRelationship>
        </DataRelationship>
        <DataRelationship Type="Xiap.UW.BusinessComponent.UwTransactionProcessorRequestInstalmentPattern, Xiap.UW.BusinessComponent" RelationshipWithParent="UwTransactionProcessorRequestInstalmentPatterns" >
          <DataRelationship Type="Xiap.UW.BusinessComponent.UwTransactionProcessorRequestInstalment, Xiap.UW.BusinessComponent" RelationshipWithParent="UwTransactionProcessorRequestInstalments" />
          <DataRelationship Type="Xiap.UW.BusinessComponent.InstalmentPattern, Xiap.UW.BusinessComponent" RelationshipWithParent="InstalmentPattern" >
          </DataRelationship>       
        </DataRelationship>
      </DataRelationship>
    </DataRelationship>
  </DataRelationshipTree>

  <DataRelationshipTree Name="ClaimsTransactionProcessorTree">
    <DataRelationship Type="Xiap.Claims.BusinessComponent.ClaimHeader,Xiap.Claims.BusinessComponent">
      <DataRelationship Type="Xiap.Claims.BusinessComponent.ClaimTransactionHeader, Xiap.Claims.BusinessComponent" RelationshipWithParent="InProgressClaimTransactionHeaders" >
        <DataRelationship Type="Xiap.Claims.BusinessComponent.ClaimTransactionReinsurance, Xiap.Claims.BusinessComponent" RelationshipWithParent="ClaimTransactionReinsurances" />
        <DataRelationship Type="Xiap.Claims.BusinessComponent.ClaimTransactionGroup, Xiap.Claims.BusinessComponent" RelationshipWithParent="ClaimTransactionGroups" >
          <DataRelationship Type="Xiap.Claims.BusinessComponent.ClaimDetail, Xiap.Claims.BusinessComponent" RelationshipWithParent="ClaimDetail" />
          <DataRelationship Type="Xiap.Claims.BusinessComponent.ClaimTransactionDetail, Xiap.Claims.BusinessComponent" RelationshipWithParent="ClaimTransactionDetails" >
            <DataRelationship Type="Xiap.Claims.BusinessComponent.ClaimTransactionReinsurance, Xiap.Claims.BusinessComponent" RelationshipWithParent="ClaimTransactionReinsurance" />
          </DataRelationship>
        </DataRelationship>
      </DataRelationship>
    </DataRelationship>
  </DataRelationshipTree>
</dataRelationshipTrees>
