<k2WorkFlowMapping>
    <AXAClaimProcessHandlerFlowMaps>
        <AXAClaimProcessHandlerFlowMap alias="AXANewReOpenClaimProcessHandler" FlowName="GeniusX.AXA.Workflows\NewReOpenclaim" />
        <AXAClaimProcessHandlerFlowMap alias="AXAAutoReviewStartClaimProcessHandler" FlowName="GeniusX.AXA.Workflows\ReviewTaskFlow_Auto" />
        <AXAClaimProcessHandlerFlowMap alias="AXAManualReviewStartClaimProcessHandler" FlowName="GeniusX.AXA.Workflows\ReviewTaskFlow_Manual" />
        <AXAClaimProcessHandlerFlowMap alias="AXAReferralRequestedProcessHandler" FlowName="GeniusX.AXA.Workflows\TechnicalReferral" />
        <AXAClaimProcessHandlerFlowMap alias="AXAInactivityDetectionProcessHandler" FlowName="GeniusX.AXA.Workflows\InactivityDetection" />
        <AXAClaimProcessHandlerFlowMap alias="AXARecoveryInactivityDetectionProcessHandler" FlowName="GeniusX.AXA.Workflows\RecoveryInactivityDetection" />
        <AXAClaimProcessHandlerFlowMap alias="AXAQualityCheckProcessHandler" FlowName="GeniusX.AXA.Workflows\QualityControl" />
        <AXAClaimProcessHandlerFlowMap alias="AXAPostProcessHandler" FlowName="GeniusX.AXA.Workflows\Post" />
        <AXAClaimProcessHandlerFlowMap alias="AXAPhoneLogProcessHandler" FlowName="GeniusX.AXA.Workflows\PhoneLog" />
        <AXAClaimProcessHandlerFlowMap alias="AXAFileUploadNotificationProcessHandler" FlowName="GeniusX.AXA.Workflows\FileUploadNotification" />
        <AXAClaimProcessHandlerFlowMap alias="AXAPaymentCancellationProcessHandler" FlowName="GeniusX.AXA.Workflows\PaymentCancellationNotification" />
    </AXAClaimProcessHandlerFlowMaps>
    <NameApprovalProcessHandlerFlowMaps>
        <NameApprovalProcessHandlerFlowMap alias="NameApprovalProcessHandler" FlowName="Release3Workflow\NameUsageApprovalProcess">
            <Activity ActivityState="API" ActivityName="Step 1">
                <Route Name="Approved">Approved</Route>
                <Route Name="Rejected">Rejected</Route>
                <Route Name="ReturnToRequestor">Return To Requestor</Route>
            </Activity>
        </NameApprovalProcessHandlerFlowMap>
    </NameApprovalProcessHandlerFlowMaps>
    <NameFinancialAccountApprovalProcessHandlerFlowMaps>
        <NameFinancialAccountApprovalProcessHandlerFlowMap alias="NameFinancialAccountApprovalProcessHandler" FlowName="Release3Workflow\NameFinancialAccountApprovalProcess">
            <Activity ActivityState="API" ActivityName="Step 1">
                <Route Name="Approved">Approved</Route>
                <Route Name="Rejected">Rejected</Route>
                <Route Name="ReturnToRequestor">Return To Requestor</Route>
            </Activity>
        </NameFinancialAccountApprovalProcessHandlerFlowMap>
    </NameFinancialAccountApprovalProcessHandlerFlowMaps>
    <SubmissionProcessHandlerFlowMaps>
        <SubmissionProcessHandlerFlowMap alias="SubmissionProcessHandler" FlowName="Release3Workflow\SubmissionProcess">
            <Activity ActivityState="SIP" ActivityName="Step 1">
                <Route Name="Declined">Declined</Route>
                <Route Name="Quoted">Quoted</Route>
            </Activity>
            <Activity ActivityState="SBQ" ActivityName="Step 2">
                <Route Name="NotTakenUp">Not Taken Up</Route>
                <Route Name="Bound">Bound</Route>
            </Activity>
        </SubmissionProcessHandlerFlowMap>
    </SubmissionProcessHandlerFlowMaps>
    <QuoteProcessHandlerFlowMaps>
        <QuoteProcessHandlerFlowMap alias="QuoteProcessHandler" FlowName="Release3Workflow\QuoteProcess">
            <Activity ActivityState="QIP" ActivityName="Step 1">
                <Route Name="Declined">Declined</Route>
                <Route Name="NotIssued">Not Issued</Route>
                <Route Name="IssueInitiated">Issue Initiated</Route>
            </Activity>
            <Activity ActivityState="QII" ActivityName="Step 2">
                <Route Name="ReturnToUnderwriter">Return To Underwriter</Route>
                <Route Name="NotIssued">Not Issued</Route>
                <Route Name="CancelIssue">Cancel Issue</Route>
                <Route Name="Complete">Complete</Route>
            </Activity>
            <Activity ActivityState="QIS" ActivityName="Step 3">
                <Route Name="NotTakenUp">Not Taken Up</Route>
                <Route Name="Bound">Bound</Route>
            </Activity>
        </QuoteProcessHandlerFlowMap>
    </QuoteProcessHandlerFlowMaps>
    <RenewalNotificationFlowMaps>
        <RenewalNotificationFlowMap alias="RenewalNotificationHandler" FlowName="Release3Workflow\RenewalNotificationProcess" >
            <Activity ActivityState="Reminder" ActivityName="Renewal Reminder">
                <Route Name="Renewed">Renewal Completed</Route>
            </Activity>
            <Activity ActivityState="RenewalError" ActivityName="Auto Renewal Error">
                <Route Name="Renewed">Renewal Completed</Route>
            </Activity>
        </RenewalNotificationFlowMap>
    </RenewalNotificationFlowMaps>
    <ClaimsProcessHandlerFlowMaps>
        <NotificationProcessHandlerFlowMap alias="NotificationProcessHandlerPOC" FlowName="Claim.Workflow\NotificationProcess">
            <ProcessData>
                <Data key="StartStatuses" >NOP</Data>
                <Data key="UpdateStatuses" >NOP,NCE,NLP,NRJ,NTU</Data>
            </ProcessData>
        </NotificationProcessHandlerFlowMap>
        <NotificationProcessHandlerFlowMap alias="NotificationProcessHandler" FlowName="ClaimRelease3Workflow\NotificationProcess">
            <ProcessData>
                <Data key="StartStatuses" >NOP</Data>
                <Data key="UpdateStatuses" >NOP,NCE,NLP,NRJ,NTP</Data>
            </ProcessData>
        </NotificationProcessHandlerFlowMap>
        <ClaimProcessHandlerFlowMap alias="ClaimProcessHandler" FlowName="ClaimRelease3Workflow\ClaimProcess">
            <ProcessData>
                <Data key="StartStatuses" >COP</Data>
                <Data key="UpdateStatuses" >COP,CCE,CLS</Data>
            </ProcessData>
        </ClaimProcessHandlerFlowMap>
    </ClaimsProcessHandlerFlowMaps>
  <ClaimTransactionAuthorisationProcessHandlerFlowMaps>
    <ClaimTransactionAuthorisationProcessHandlerFlowMap alias="AXAClaimTransactionAuthorisationProcessHandler" FlowName="GeniusX.AXA.Workflows\FinancialAuthorisation">
      <Activity ActivityState="Reserve" >
        <Route Name="AuthorisedManually">Authorise</Route>
        <Route Name="Rejected">Reject</Route>
      </Activity>
      <Activity ActivityState="Payment" >
        <Route Name="AuthorisedManually">Authorise</Route>
        <Route Name="Rejected">Reject</Route>
      </Activity>
    </ClaimTransactionAuthorisationProcessHandlerFlowMap>
  </ClaimTransactionAuthorisationProcessHandlerFlowMaps>
</k2WorkFlowMapping>