<unity>
  <typeAliases>
    <typeAlias alias="BusinessDataUpdater" type="Xiap.Framework.Data.IBusinessDataUpdater, Xiap.Framework" />
    <typeAlias alias="Warmup" type="Xiap.Framework.Warmup.IWarmupTask, Xiap.Framework" />
  </typeAliases>
	<containers>
		<container>
			<types>
				<!-- AXA specific Types -->
				<type type="GeniusX.AXA.Claims.BusinessLogic.IAXAClaimsQuery, GeniusX.AXA.Claims.BusinessLogic" mapTo="GeniusX.AXA.Claims.BusinessLogic.AXAClaimsQueries,GeniusX.AXA.Claims.BusinessLogic" name="ClaimsQuery">
					<lifetime type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity"/>
				</type>
				<type type="Xiap.Framework.Common.IScheduledTask, Xiap.Framework.Common" mapTo="GeniusX.AXA.Claims.BusinessLogic.InactivityDetectionTask,GeniusX.AXA.Claims.BusinessLogic" name="InactivityDetectionTask" />
				<type type="Xiap.Framework.Common.IScheduledTask, Xiap.Framework.Common" mapTo="GeniusX.AXA.Claims.BusinessLogic.QualityCheckTask,GeniusX.AXA.Claims.BusinessLogic" name="QualityCheckTask" />
        <type type="Xiap.Framework.Common.IScheduledTask, Xiap.Framework.Common" mapTo="GeniusX.AXA.Claims.BusinessLogic.TaskReassignEvent,GeniusX.AXA.Claims.BusinessLogic" name="TaskReassignNotification" />
        <type type="Xiap.Framework.Common.Task.ITaskReassignedNotifier, Xiap.Framework.Common" mapTo="GeniusX.AXA.Claims.BusinessLogic.TaskReassignEventQueue, GeniusX.AXA.Claims.BusinessLogic" />
				<type type="Xiap.Framework.DPService.ICustomDocumentLogInfoUpdater, Xiap.Framework.DPService" mapTo="GeniusX.AXA.Claims.BusinessLogic.ClaimsDocumentLogInfoUpdater,GeniusX.AXA.Claims.BusinessLogic" />
				<type type="Xiap.Framework.Common.IDataCollection, Xiap.Framework.Common" mapTo="GeniusX.AXA.Claims.BusinessLogic.PaymentAuthorisationUserResolution,GeniusX.AXA.Claims.BusinessLogic" name="PaymentAuthorisationUserResolution" />
				<type type="Xiap.Framework.Common.IDataCollection, Xiap.Framework.Common" mapTo="GeniusX.AXA.Claims.BusinessLogic.RecoveryAuthorisationUserResolution,GeniusX.AXA.Claims.BusinessLogic" name="RecoveryAuthorisationUserResolution" />
        <type type="Xiap.Framework.Common.IDataCollection, Xiap.Framework.Common" mapTo="GeniusX.AXA.Claims.BusinessLogic.ReserveAuthorisationUserResolution,GeniusX.AXA.Claims.BusinessLogic" name="ReserveAuthorisationUserResolution" />
        <type type="Xiap.Framework.Common.IDataCollection, Xiap.Framework.Common" mapTo="GeniusX.AXA.Claims.BusinessLogic.ClaimTransferDataCollection,GeniusX.AXA.Claims.BusinessLogic" name="AXAClaimTransferDataCollection" />
        <type type="Xiap.Framework.Common.IDocumentManagementHandler, Xiap.Framework.Common" mapTo="GeniusX.AXA.DPService.AXASharepointHandler, GeniusX.AXA.DPService" />
        <type type="Xiap.Framework.Search.ISearchProvider, Xiap.Framework.Search" mapTo="GeniusX.AXA.Claims.BusinessLogic.ClaimAmountsSearchService, GeniusX.AXA.Claims.BusinessLogic" name="ClaimSummaryAmountsSearchProvider" />
        <type type="Xiap.Framework.Data.Underwriting.IUnderwritingService, Xiap.Framework.Data" mapTo="Xiap.Framework.Data.Underwriting.UnderwritingService, Xiap.Framework.Data" />
        <type type="BusinessDataUpdater" mapTo=" GeniusX.AXA.Claims.BusinessLogic.CustomDataUpdaters.AXAClaimHeaderDataUpdater, GeniusX.AXA.Claims.BusinessLogic" name="ClaimHeaderDataUpdater" />
        <type type="BusinessDataUpdater" mapTo=" GeniusX.AXA.Claims.BusinessLogic.CustomDataUpdaters.AXAClaimDetailDataUpdater, GeniusX.AXA.Claims.BusinessLogic" name="ClaimDetailDataUpdater" />
        
        <type type="Xiap.Claims.BusinessLogic.IClaimFinancialAuthorisationProcessFolioGenerator, Xiap.Claims.BusinessLogic" mapTo="GeniusX.AXA.Claims.BusinessLogic.AXAClaimFinancialAuthorisationProcessFolioGenerator, GeniusX.AXA.Claims.BusinessLogic" />
        <type type="Xiap.Framework.ProcessHandling.IReferenceHandler, Xiap.Framework" mapTo="Xiap.Framework.ProcessHandling.DefaultReferenceHandler, Xiap.Framework" name="AXAPolicySearchController"/>
        <type type="Xiap.Framework.Common.INameTransferValidation, Xiap.Framework.Common" mapTo="GeniusX.AXA.InsuranceDirectory.BusinessLogic.AXANameTransferValidation, GeniusX.AXA.InsuranceDirectory.BusinessLogic" />
        <type type="Xiap.Framework.Common.IDataCollection, Xiap.Framework.Common" mapTo="GeniusX.AXA.DPService.ITPDocumentDataCollectionPlugin, GeniusX.AXA.DPService" name="AXAITPDocumentDataCollection" />
	
        <type type="Xiap.Framework.Common.IExternalCurrencyConverter, Xiap.Framework.Common" mapTo="Xiap.GeniusIntegration.BusinessLogic.GeniusCurrencyConversion, Xiap.GeniusIntegration.BusinessLogic" />
        <type type="GeniusX.AXA.Claims.BusinessLogic.IAXAClaimsQuery, GeniusX.AXA.Claims.BusinessLogic" mapTo="GeniusX.AXA.Claims.BusinessLogic.AXAClaimsQueries, GeniusX.AXA.Claims.BusinessLogic" />
        <type type="Warmup" mapTo="GeniusX.AXA.Claims.BusinessLogic.AXAClaimWarmupPlugin, GeniusX.AXA.Claims.BusinessLogic" name="AXAClaimWarmupPlugin" />
        <type type="Warmup" mapTo="GeniusX.AXA.Underwriting.BusinessLogic.AXAUWWarmupPlugin, GeniusX.AXA.Underwriting.BusinessLogic" name="AXAUWWarmupPlugin" />
        <type type="Xiap.Framework.Common.IDMSMetadataService, Xiap.Framework.Common" mapTo="GeniusX.AXA.DPService.AXADMSMetadataService, GeniusX.AXA.DPService"/>
      </types>
			<instances>
			</instances>
			<extensions>
			</extensions>
		</container>
	</containers>
</unity>
