<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="xiap" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="core" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
       <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=2.1.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </sectionGroup>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net debug="false">
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="C:\\temp\\ScheduledTaskClient.log"/>
      <appendToFile value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <appender name="RollingFileAppenderSize" type="log4net.Appender.RollingFileAppender">
      <param name="file" value="C:\\temp\\ScheduledTaskClient.log"/>
      <param name="appendToFile" value="true"/>
      <param name="rollingStyle" value="Size"/>
      <param name="maxSizeRollBackups" value="10"/>
      <param name="maximumFileSize" value="1000KB"/>
      <param name="staticLogFileName" value="true"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%M] - %m%n"/>
      </layout>
    </appender>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <root>
      <priority value="ALL"/>
      <appender-ref ref="RollingFileAppenderSize"/>
    </root>
  </log4net>
  <xiap>
    <core>
      <unity>
        <containers>
          <container>
            <types>
              <type type="Xiap.Framework.Logging.ILoggingWrapper, Xiap.Framework" mapTo="Xiap.Framework.Logging.Log4NetLoggingWrapper, Xiap.Framework" />
            </types>
            <instances>
            </instances>
            <extensions>
            </extensions>
          </container>
        </containers>
      </unity>
    </core>
  </xiap>
  <system.serviceModel>
        <bindings>
              <wsHttpBinding>
                    <binding name="WSHttpBinding_IScheduledTaskService1" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="Message">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="Windows" negotiateServiceCredential="true"
                            algorithmSuite="Default" />
                    </security>
                </binding>
              </wsHttpBinding>
        </bindings>
        <client>
              <endpoint address="http://localhost:62286/XiapServiceHost/ScheduledTask/ScheduledTaskService.svc"
                    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IScheduledTaskService1"
                    contract="ScheduledTaskXuber6.IScheduledTaskService" name="WSHttpBinding_IScheduledTaskService1">
                    <identity>
                          <userPrincipalName value="grahambt@ad.xglobal.com" />
                    </identity>
              </endpoint>
        </client>
    </system.serviceModel>
</configuration>