<componentPathConfig>
  <FunctionalArea Name="ClaimsEvent" >
    <Components>
      <ComponentType Name="ClaimEvent" IsRoot="True" >
        <ComponentProperties>
          <Property Name="ProductEventID" IsMandatory="False" />
          <Property Name="ClaimHeaderReference" IsMandatory="True" />
          <Property Name="ClaimDetailReference" IsMandatory="False" />
          <Property Name="EventTypeCode" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>
    </Components>
    <ComponentMappings>
    </ComponentMappings>
  </FunctionalArea>
  <FunctionalArea Name="Claim">
    <Components>
      <ComponentType Name="ClaimHeader" IsRoot="True">
        <ComponentProperties>
          <Property Name="ClaimReference" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="ClaimDetail">
        <ComponentProperties>
          <Property Name="ClaimDetailReference" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>
    <ComponentType Name="ClaimLitigation" >
      <ComponentProperties/>
    </ComponentType>
	<ComponentType Name="ClaimInvolvement" >
		<ComponentProperties>
		  <Property Name="ClaimInvolvementType" IsMandatory="False"/>
		  <Property Name="HasChildren" IsMandatory="False"/>
		</ComponentProperties>
	</ComponentType>
	<ComponentType Name="ClaimNameInvolvement" >
    <ComponentProperties>
      <Property Name="NameUsageTypeCode" IsMandatory="False" />
    </ComponentProperties>
	</ComponentType>
    <ComponentType Name="ClaimEvent" >
      <ComponentProperties>
        <Property Name="EventDate" IsMandatory="False" />
        <Property Name="ReasonCode" IsMandatory="False" />
        <Property Name="EventTypeCode" IsMandatory="False" />
      </ComponentProperties>
    </ComponentType>

      <ComponentType Name="ClaimTransactionHeader" >
        <ComponentProperties>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="ClaimTransactionGroup" >
        <ComponentProperties>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="ClaimTransactionDetail" >
        <ComponentProperties>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="ClaimDetailToClaimInvolvementLink" >
        <ComponentProperties>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="ClaimInsuredObject" >
        <ComponentProperties>
          <Property Name="InternalIOType" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="ClaimIOVehicle" >
        <ComponentProperties>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="ClaimIODriver" >
        <ComponentProperties>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="ClaimGenericDataSet">
        <ComponentProperties/>
      </ComponentType>
      <ComponentType Name="ClaimGenericDataItem">
        <ComponentProperties>
          <Property Name="GenericDataTypeCode" IsMandatory="False"/>
          <Property Name="CustomBoolean01" IsMandatory="False"/>
        </ComponentProperties>
      </ComponentType>
    </Components>
    <ComponentMappings>
      <Mapping From="ClaimHeader" To="ClaimDetail" Alias="ClaimDetails"/>
      <Mapping From="ClaimHeader" To="ClaimEvent" />
	    <Mapping From="ClaimHeader" To="ClaimInvolvement" />
      <Mapping From="ClaimHeader" To="ClaimGenericDataSet" Alias="GenericDataSet"/>
	    <Mapping From="ClaimInvolvement" To="ClaimNameInvolvement" />
      <Mapping From="ClaimInvolvement" To="ClaimInsuredObject" />
      <Mapping From="ClaimInvolvement" To="ClaimLitigation" />
      <Mapping From="ClaimDetail" To="ClaimEvent" />
      <Mapping From="ClaimDetail" To="ClaimDetailToClaimInvolvementLink" />
      <Mapping From="ClaimDetailToClaimInvolvementLink" To="ClaimNameInvolvement" />
      <Mapping From="ClaimDetailToClaimInvolvementLink" To="ClaimInvolvement" />
      <Mapping From="ClaimDetail" To="ClaimGenericDataSet" Alias="GenericDataSet"/>
      <Mapping From="ClaimInsuredObject" To="ClaimIOVehicle" />
      <Mapping From="ClaimInsuredObject" To="ClaimIODriver" />
      <Mapping From="ClaimGenericDataSet" To="ClaimGenericDataItem" Alias="GenericDataItems"/>
    </ComponentMappings>
  </FunctionalArea>
  <FunctionalArea Name="UnderwritingEvent" >
    <Components>
      <ComponentType Name="UwEvent" IsRoot="True" >
        <ComponentProperties>
          <Property Name="ProductUwEventID" IsMandatory="False" />
          <Property Name="HeaderReference" IsMandatory="True" />
          <Property Name="EventTypeCode" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>
    </Components>
    <ComponentMappings>
    </ComponentMappings>
  </FunctionalArea>
  <FunctionalArea Name="Underwriting" >
    <Components>
      <ComponentType Name="Header" IsRoot="True">
        <ComponentProperties>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="HeaderVersion" >
        <ComponentProperties>
          <Property Name="IsLatestVersion" IsMandatory="True" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="Section" >
        <ComponentProperties>
          <Property Name="SectionTypeCode" IsMandatory="False" />
          <Property Name="SubSectionTypeCode" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="SectionVersion" >
        <ComponentProperties>
          <Property Name="IsLatestVersion" IsMandatory="True" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="SectionDetail" >
        <ComponentProperties/>
      </ComponentType>

      <ComponentType Name="SectionDetailVersion" >
        <ComponentProperties>
          <Property Name="IsLatestVersion" IsMandatory="True" />
        </ComponentProperties>
      </ComponentType>

      <ComponentType Name="Coverage" >
        <ComponentProperties>
          <Property Name="ProductCoverageID" IsMandatory="True" />
          <Property Name="CommercialAnnualisedPremium" IsMandatory="False" />
          <Property Name="CoverageTypeCode" IsMandatory="False" />
          <Property Name="CoverageReference" IsMandatory="False" />
          <Property Name="CustomCode20" IsMandatory="False" />
          <Property Name="MajorCoverageFlag" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="CoverageVersion" >
        <ComponentProperties>
          <Property Name="IsLatestVersion" IsMandatory="True" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="UwNameInvolvement" >
        <ComponentProperties/>
      </ComponentType>

      <ComponentType Name="ParticipationGroupSectionLink">
        <ComponentProperties/>
      </ComponentType>

      <ComponentType Name="ParticipationGroup" >
        <ComponentProperties/>
      </ComponentType>
      <ComponentType Name="ParticipationGroupVersion" >
        <ComponentProperties>
          <Property Name="IsLatestVersion" IsMandatory="True" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="Participation" >
        <ComponentProperties/>
      </ComponentType>


      <ComponentType Name="DeductionGroup" >
        <ComponentProperties/>
      </ComponentType>
      <ComponentType Name="DeductionGroupVersion" >
        <ComponentProperties>
          <Property Name="IsLatestVersion" IsMandatory="True" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="Deduction" >
        <ComponentProperties>
          <Property Name="DeductionCode" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>

    </Components>
    <ComponentMappings>
      <Mapping From="Header" To="HeaderVersion" />
      <Mapping From="Header" To="Section" />
      <Mapping From="Section" To="SectionDetail" />
      <Mapping From="Section" To="SectionVersion" />
      <Mapping From="SectionDetail" To="Coverage" />
      <Mapping From="SectionDetail" To="ParticipationGroupSectionLink" />
      <Mapping From="SectionDetail" To="SectionDetailVersion" />

      <Mapping From="Coverage" To="CoverageVersion" />
      <Mapping From="Header" To="UwNameInvolvement" />

      <Mapping From="Header" To="ParticipationGroup" />
      <Mapping From="ParticipationGroup" To="ParticipationGroupVersion" />
      <Mapping From="ParticipationGroupVersion" To="Participation" />

      <Mapping From="Header" To="DeductionGroup" />
      <Mapping From="DeductionGroup" To="DeductionGroupVersion" />
      <Mapping From="DeductionGroupVersion" To="Deduction" />

    </ComponentMappings>
  </FunctionalArea>
  <FunctionalArea Name="UW" >
    <Components>
      <ComponentType Name="Header" IsRoot="True" >
        <ComponentProperties>
          <Property Name="HeaderReference" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="HeaderVersion" >
        <ComponentProperties>
          <Property Name="IsLatestVersion" IsMandatory="True" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="HeaderToHeaderLink" >
        <ComponentProperties>
          <Property Name="HeaderLinkType" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="UwNameInvolvement" >
        <ComponentProperties>
          <Property Name="NameInvolvementType" IsMandatory="True" ValidationGroup="NI1"/>
          <Property Name="UwNameInvolvementID" IsMandatory="True" ValidationGroup="NI2"/>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="UwNameInvolvementVersion" >
        <ComponentProperties>
          <Property Name="IsLatestVersion" IsMandatory="True" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="Section" >
        <ComponentProperties>
          <Property Name="SectionTypeCode" IsMandatory="False" />
          <Property Name="SubSectionTypeCode" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="SectionVersion" >
        <ComponentProperties>
          <Property Name="IsLatestVersion" IsMandatory="True" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="SectionDetailVersion" >
        <ComponentProperties>
          <Property Name="IsLatestVersion" IsMandatory="True" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="SectionDetail" >
        <ComponentProperties>
          <Property Name="SectionDetailTypeCode" IsMandatory="False" />
          <Property Name="SectionDetailReference" IsMandatory="False" />
          <Property Name="CustomNumeric01" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="Coverage" >
        <ComponentProperties>
          <Property Name="CommercialAnnualisedPremium" IsMandatory="False" />
          <Property Name="CoverageTypeCode" IsMandatory="False" />
          <Property Name="CoverageReference" IsMandatory="False" />
          <Property Name="CustomCode20" IsMandatory="False" />
          <Property Name="MajorCoverageFlag" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="CoverageVersion" >
        <ComponentProperties>
          <Property Name="IsLatestVersion" IsMandatory="True" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="UwEvent">
        <ComponentProperties>
          <Property Name="UwEventID" IsMandatory="False" />
          <Property Name="EventDate" IsMandatory="False" />
          <Property Name="EventTypeCode" IsMandatory="False" />
          <Property Name="ReasonCode" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="Deduction">
        <ComponentProperties>
          <Property Name="DeductionID" IsMandatory="False" />
          <Property Name="DeductionCode" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="DeductionGroup">
        <ComponentProperties>
          <Property Name="DeductionGroupID" IsMandatory="False" ValidationGroup="DG1" />
          <Property Name="DeductionGroupReference" IsMandatory="False" ValidationGroup="DG2" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="DeductionGroupVersion">
        <ComponentProperties>
          <Property Name="IsLatestVersion" IsMandatory="True" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="Participation">
        <ComponentProperties>
          <Property Name="ParticipationID" IsMandatory="False" />
          <Property Name="ParticipantNameID" IsMandatory="False" />
          <Property Name="ParticipantNameReference" IsMandatory="False" />
          <Property Name="IsTopTier" IsMandatory="False" />
          <Property Name="CustomCode05" IsMandatory="False" />
          <Property Name="CustomCode04" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>

      <ComponentType Name="ParticipationGroupSectionLink">
        <ComponentProperties>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="ParticipationGroup">
        <ComponentProperties>
          <Property Name="ParticipationGroupID" IsMandatory="False" />
          <Property Name="ParticipationGroupReference" IsMandatory="False" />
          <Property Name="ParticipationGroupMaintenanceStatus" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="ParticipationGroupVersion">
        <ComponentProperties>
          <Property Name="IsLatestVersion" IsMandatory="True" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="Terms">
        <ComponentProperties>
          <Property Name="TermsReference" IsMandatory="True" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="TermsVersion">
        <ComponentProperties>
          <Property Name="IsLatestVersion" IsMandatory="True" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="UWNoteHeader">
        <ComponentProperties/>
      </ComponentType>
      <ComponentType Name="UWNoteDetail">
        <ComponentProperties>
          <Property Name="NoteTypeCode" IsMandatory="True"/>
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="UwGenericDataSet">
        <ComponentProperties/>
      </ComponentType>
      <ComponentType Name="UwGenericDataItem">
        <ComponentProperties>
          <Property Name="GenericDataTypeCode" IsMandatory="False"/>
        </ComponentProperties>
      </ComponentType>
    </Components>
    <ComponentMappings>
      <Mapping From="Header" To="HeaderVersion" />
      <Mapping From="Header" To="UwEvent" />
      <Mapping From="Header" To="Header" Alias="OriginallyBasedOnHeader"  />
      <Mapping From="Header" To="HeaderToHeaderLink" Alias ="HeaderToHeaderLinkFroms"/>
      <Mapping From="Header" To="HeaderToHeaderLink" Alias ="HeaderToHeaderLinkTos"/>
      <Mapping From="Header" To="UWNoteHeader"  Alias ="NoteHeader"/>
      <Mapping From="HeaderVersion" To="UwGenericDataSet" Alias="GenericDataSet"/>
      <Mapping From="UwGenericDataSet" To="UwGenericDataItem" Alias="GenericDataItems"/>
      <Mapping From="UWNoteHeader" To="UWNoteDetail"  Alias ="Notes"/>
      <Mapping From="Header" To="Terms" Alias = "Term" />
      <Mapping From="Terms" To="TermsVersion" />
      <Mapping From="ParticipationGroupVersion" To="Participation" />
      <Mapping From="Header" To="ParticipationGroup" />
      <Mapping From="ParticipationGroup" To="ParticipationGroupVersion" />
      <Mapping From="Header" To="DeductionGroup" />
      <Mapping From="DeductionGroup" To="DeductionGroupVersion" />
      <Mapping From="DeductionGroupVersion" To="Deduction" />
      <Mapping From="Header" To="UwNameInvolvement" />
      <Mapping From="Header" To="Section" />
      <Mapping From="Section" To="SectionVersion" />
      <Mapping From="Section" To="SectionDetail" />
      <Mapping From="Section" To="ParticipationGroupSectionLink" />
      <Mapping From="SectionDetail" To="SectionDetailVersion" />
      <Mapping From="SectionDetailVersion" To="UwGenericDataSet" Alias="GenericDataSet"/>
      <Mapping From="SectionDetail" To="Coverage" />
      <Mapping From="SectionDetail" To="ParticipationGroupSectionLink" />
      <Mapping From="ParticipationGroupSectionLink" To="ParticipationGroup" />
      <Mapping From="Coverage" To="CoverageVersion" />
      <Mapping From="CoverageVersion" To="DeductionGroup" />
      <Mapping From="CoverageVersion" To="UwGenericDataSet" Alias="GenericDataSet"/>
      <Mapping From="HeaderToHeaderLink" To="Header" Alias ="HeaderTo"/>
      <Mapping From="HeaderToHeaderLink" To="Header" Alias ="HeaderFrom"/>
      <Mapping From="UwNameInvolvement" To="UwNameInvolvementVersion" />
    </ComponentMappings>
  </FunctionalArea>
  <FunctionalArea Name="ID" >
    <Components>
      <ComponentType Name="Name" IsRoot="True" >
        <ComponentProperties>
          <Property Name="NameReference" IsMandatory="False" ValidationGroup="G1" />
          <Property Name="NameID" IsMandatory="False" ValidationGroup="G2" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="IDNoteHeader" />
      <ComponentType Name="IDNoteDetail" />
      <ComponentType Name="PersonDetailVersion"/>
      <ComponentType Name="CompanyDetailVersion"/>
      <ComponentType Name="NameUsage"/>
      <ComponentType Name="NameFinancialAccount"/>
      <ComponentType Name="NameToAddress">
        <ComponentProperties>
          <Property Name="IsMainAddress" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="Address"/>
    </Components>
    <ComponentMappings>
      <Mapping From="Name" To="PersonDetailVersion" />
      <Mapping From="Name" To="CompanyDetailVersion" />
      <Mapping From="Name" To="IDNoteHeader" Alias="NoteHeader" />
      <Mapping From="IDNoteHeader" To="IDNoteDetail" Alias ="Notes"/>
      <Mapping From="Name" To="NameUsage" />
      <Mapping From="Name" To="NameFinancialAccount" />
      <Mapping From="Name" To="NameToAddress" Alias="NameToAddresses" />
      <Mapping From="NameToAddress" To="Address" />
    </ComponentMappings>
  </FunctionalArea>  
  <FunctionalArea Name="IO" >
    <Components>
      <ComponentType Name="IORegisterEntry" IsRoot="True" >
        <ComponentProperties>        
          <Property Name="IOType" IsMandatory="False" />
          <Property Name="Identifier" IsMandatory="False" />
          <Property Name="IORegisterEntryReference" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="IORegisterEntryVersion" >
        <ComponentProperties>          
          <Property Name="IsLatestVersion" IsMandatory="False" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="VehicleRegisterEntryVersion" />
      <ComponentType Name="VesselRegisterEntryVersion"/>
    </Components>
    <ComponentMappings>
      <Mapping From="IORegisterEntry" To="IORegisterEntryVersion" />
      <Mapping From="IORegisterEntryVersion" To="VehicleRegisterEntryVersion" />
      <Mapping From="IORegisterEntryVersion" To="VesselRegisterEntryVersion" />
    </ComponentMappings>
  </FunctionalArea>
  <FunctionalArea Name="SYS" >
    <Components>
      <ComponentType Name="User" IsRoot="True" >
        <ComponentProperties>
          <Property Name="UserIdentity" IsMandatory="True" ValidationGroup="G1" />
          <Property Name="UserID" IsMandatory="True" ValidationGroup="G2" />
          <Property Name="NameID" IsMandatory="True" ValidationGroup="G3" />
        </ComponentProperties>
      </ComponentType>
      <ComponentType Name="UserRole"/>
      <ComponentType Name="UserGrade"/>
    </Components>
    <ComponentMappings>
      <Mapping From="User" To="UserRole" />
      <Mapping From="User" To="UserGrade" />
    </ComponentMappings>
  </FunctionalArea>
  <GlobalPropertyExclude>
    <Property Name="Guid" />
    <Property Name="ProcessHandlingEnabled" />
    <Property Name="IsNew" />
    <Property Name="IsDeleted" />
    <Property Name="IsEditable" />
    <Property Name="HasChanged" />
    <Property Name="ValidationDate" />
    <Property Name="DataId" />
  </GlobalPropertyExclude>
</componentPathConfig>
