<dataloadConfiguration>
  <dataload type="IODataLoad - Vehicle" description="IO Data Load - Vehicle">
    <alias>IOSynchronizeController</alias>
    <sourceSystem>IOSample</sourceSystem>
    <targetSystem>Xiap</targetSystem>
    <transaction>VehicleDataLoad</transaction>
    <Delimiter>BasicVehInfo</Delimiter>
    <Identifier>/BasicVehInfo/@id</Identifier>
    <defaultFileExtension>VehicleXml</defaultFileExtension>
    <tags>
      <tag Name="ValidityDate" type="DateTime" description="Validity Date" isEnabled="true" DefaultValue="1-Jan-2011" />
    </tags>
  </dataload>
  <dataload type="IODataLoad - Vessel" description="IO Data Load - Vessel">
    <alias>IODataLoad</alias>
    <sourceSystem>IOSample</sourceSystem>
    <targetSystem>Xiap</targetSystem>
    <transaction>VesselDataLoad</transaction>
    <Delimiter>Watercraft</Delimiter>
    <Identifier>/Watercraft/@id</Identifier>
    <defaultFileExtension>VesselXml</defaultFileExtension>
    <tags>
      <tag Name="ValidityDate" type="DateTime" description="Validity Date" isEnabled="true" DefaultValue="1-Jan-2011" />
    </tags>
  </dataload>
</dataloadConfiguration>