<processes>
    <!--START BUSINESS PROCESSES-->
    <BPProcess businessProcess="Xiap.Claims.BusinessTransaction.AmendClaim" point="PreComplete" sequence="150" type="GeniusX.AXA.Claims.BusinessLogic.ClaimTransactionStatusChangePlugin,GeniusX.AXA.Claims.BusinessLogic" />
    <BPProcess businessProcess="Xiap.Claims.BusinessTransaction.CreateClaim" point="PreComplete" sequence="150" type="GeniusX.AXA.Claims.BusinessLogic.ClaimTransactionStatusChangePlugin,GeniusX.AXA.Claims.BusinessLogic" />
  <BPProcess businessProcess="Xiap.Claims.BusinessTransaction.CopyClaim" point="PreComplete" sequence="150" type="GeniusX.AXA.Claims.BusinessLogic.ClaimTransactionStatusChangePlugin,GeniusX.AXA.Claims.BusinessLogic" />
  <BPProcess businessProcess="Xiap.Claims.BusinessTransaction.AmendClaim" point="PreComplete" sequence="155" type="GeniusX.AXA.Claims.BusinessLogic.ClaimHandlerEventDefaulterPlugin,GeniusX.AXA.Claims.BusinessLogic" />

  <BPProcess businessProcess="Xiap.Claims.BusinessTransaction.CreateClaim" point="PreComplete" sequence="170" type="GeniusX.AXA.Claims.BusinessLogic.AXAClaimDetailZeroReserveTransactionPlugin,GeniusX.AXA.Claims.BusinessLogic" />
  <BPProcess businessProcess="Xiap.Claims.BusinessTransaction.CloseClaim" point="PreComplete" sequence="155" type="GeniusX.AXA.Claims.BusinessLogic.AXAClaimDetailZeroReserveTransactionPlugin,GeniusX.AXA.Claims.BusinessLogic" />
  <BPProcess businessProcess="Xiap.Claims.BusinessTransaction.AmendClaim" point="PreComplete" sequence="160" type="GeniusX.AXA.Claims.BusinessLogic.AXAClaimDetailZeroReserveTransactionPlugin,GeniusX.AXA.Claims.BusinessLogic" />

  <BPProcess businessProcess="Xiap.Claims.BusinessTransaction.ChangeClaimHandler" point="PreComplete" sequence="110" type="GeniusX.AXA.Claims.BusinessLogic.ClaimHandlerEventDefaulterPlugin,GeniusX.AXA.Claims.BusinessLogic" />

  <BPProcess businessProcess="Xiap.Claims.BusinessTransaction.CreateEvent" point="PreComplete" sequence="29" type="GeniusX.AXA.Claims.BusinessLogic.ClaimEventTransactionPlugin, GeniusX.AXA.Claims.BusinessLogic"/>
  <BPProcess businessProcess="Xiap.Claims.BusinessTransaction.CreateClaimNotification" point="PreComplete" sequence="29" type="GeniusX.AXA.Claims.BusinessLogic.ClaimEventTransactionPlugin, GeniusX.AXA.Claims.BusinessLogic"/>
  <BPProcess businessProcess="Xiap.Claims.BusinessTransaction.CreateClaim" point="PreComplete" sequence="29" type="GeniusX.AXA.Claims.BusinessLogic.ClaimEventTransactionPlugin, GeniusX.AXA.Claims.BusinessLogic"/>
  <BPProcess businessProcess="Xiap.Claims.BusinessTransaction.AmendClaim" point="PreComplete" sequence="110" type="GeniusX.AXA.Claims.BusinessLogic.ClaimEventTransactionPlugin, GeniusX.AXA.Claims.BusinessLogic"/>
  <BPProcess businessProcess="Xiap.Claims.BusinessTransaction.CancelPayment" point="PostCreate" sequence="100" type="GeniusX.AXA.Claims.BusinessLogic.ClaimEventOnCancelPaymentTransactionPlugin, GeniusX.AXA.Claims.BusinessLogic" />
  <BPProcess businessProcess="Xiap.UW.BusinessTransaction.CreatePolicy" point="PostValidate" sequence="100" type="GeniusX.AXA.Underwriting.BusinessLogic.ExcessAndDeductibleDataSetValidationPlugin, GeniusX.AXA.Underwriting.BusinessLogic" />
  <BPProcess businessProcess="Xiap.UW.BusinessTransaction.AmendPolicy" point="PostValidate" sequence="100" type="GeniusX.AXA.Underwriting.BusinessLogic.ExcessAndDeductibleDataSetValidationPlugin, GeniusX.AXA.Underwriting.BusinessLogic" />
  <BPProcess businessProcess="Xiap.Claims.BusinessTransaction.CopyClaim" point="PreComplete" sequence="29" type="GeniusX.AXA.Claims.BusinessLogic.ClaimEventTransactionPlugin, GeniusX.AXA.Claims.BusinessLogic"/>
  <BPProcess businessProcess="Xiap.InsuranceDirectory.BusinessTransaction.AmendName" point="PreCreate" sequence="100" type="GeniusX.AXA.InsuranceDirectory.BusinessLogic.VerifyPermissionForName,GeniusX.AXA.InsuranceDirectory.BusinessLogic" />
  <BPProcess businessProcess="Xiap.InsuranceDirectory.BusinessTransaction.DeleteName" point="PreCreate" sequence="100" type="GeniusX.AXA.InsuranceDirectory.BusinessLogic.VerifyPermissionForName,GeniusX.AXA.InsuranceDirectory.BusinessLogic" />
  <BPProcess businessProcess="Xiap.Claims.BusinessTransaction.CancelPayment" point="PreCreate" sequence="110" type="GeniusX.AXA.Claims.BusinessLogic.CancelPaymentTransactionPlugin,GeniusX.AXA.Claims.BusinessLogic" />

  <BPProcess businessProcess="Xiap.Claims.BusinessTransaction.CreateClaim" point="PostComplete" sequence="160" type="GeniusX.AXA.Claims.BusinessLogic.AXAClaimTransferPlugin,GeniusX.AXA.Claims.BusinessLogic"/>
  <BPProcess businessProcess="Xiap.Claims.BusinessTransaction.CloseClaim" point="PostComplete" sequence="160" type="GeniusX.AXA.Claims.BusinessLogic.AXAClaimTransferPlugin,GeniusX.AXA.Claims.BusinessLogic"/>
  <BPProcess businessProcess="Xiap.Claims.BusinessTransaction.ReopenClaim" point="PostComplete" sequence="160" type="GeniusX.AXA.Claims.BusinessLogic.AXAClaimTransferPlugin,GeniusX.AXA.Claims.BusinessLogic"/>
  <BPProcess businessProcess="Xiap.Claims.BusinessTransaction.AmendClaim" point="PostComplete" sequence="160" type="GeniusX.AXA.Claims.BusinessLogic.AXAClaimTransferPlugin,GeniusX.AXA.Claims.BusinessLogic"/>
  <BPProcess businessProcess="Xiap.Claims.BusinessTransaction.CopyClaim" point="PostComplete" sequence="160" type="GeniusX.AXA.Claims.BusinessLogic.AXAClaimTransferPlugin,GeniusX.AXA.Claims.BusinessLogic"/>
  <BPProcess businessProcess="Xiap.Claims.BusinessTransaction.DeleteClaim" point="PostComplete" sequence="160" type="GeniusX.AXA.Claims.BusinessLogic.AXAClaimTransferPlugin,GeniusX.AXA.Claims.BusinessLogic"/>
  <BPProcess businessProcess="Xiap.Claims.BusinessTransaction.CancelPayment" point="PostComplete" sequence="160" type="GeniusX.AXA.Claims.BusinessLogic.AXAClaimTransferPlugin,GeniusX.AXA.Claims.BusinessLogic"/>
  <BPProcess businessProcess="Xiap.Claims.BusinessTransaction.ReserveAuthorisation" point="PostComplete" sequence="160" type="GeniusX.AXA.Claims.BusinessLogic.AXAClaimTransferPlugin,GeniusX.AXA.Claims.BusinessLogic"/>
  <BPProcess businessProcess="Xiap.Claims.BusinessTransaction.RecoveryReceiptAuthorisation" point="PostComplete" sequence="160" type="GeniusX.AXA.Claims.BusinessLogic.AXAClaimTransferPlugin,GeniusX.AXA.Claims.BusinessLogic"/>
  <BPProcess businessProcess="Xiap.Claims.BusinessTransaction.PaymentAuthorisation" point="PostComplete" sequence="160" type="GeniusX.AXA.Claims.BusinessLogic.AXAClaimTransferPlugin,GeniusX.AXA.Claims.BusinessLogic"/>

  <BPProcess businessProcess="Xiap.Claims.BusinessTransaction.ReopenClaim" point="PreCreate" sequence="110" type="GeniusX.AXA.Claims.BusinessLogic.ReopenClaimTransactionPlugin, GeniusX.AXA.Claims.BusinessLogic" />
  <Component component="Xiap.Claims.BusinessComponent.ClaimDocument" point="Virtual" sequence="50" alias="CreationEvent" type="GeniusX.AXA.Claims.BusinessLogic.AXAClaimDocumentPlugin,GeniusX.AXA.Claims.BusinessLogic"/>
  
  <!--END BUSINESS PROCESSES-->

    <!--START COMPONENT PLUGINS-->
    <Component component="Xiap.Claims.BusinessComponent.ClaimHeader" point="PreValidationDefaulting" sequence="10" type="Xiap.Claims.BusinessLogic.ClaimHandlerDefaulterPlugin,Xiap.Claims.BusinessLogic" />

  <Component component="Xiap.Claims.BusinessComponent.ClaimEvent" point="Created" sequence="20" type="GeniusX.AXA.Claims.BusinessLogic.ClaimsEventPlugin, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimEvent" point="Virtual" sequence="20" alias="AXADefaultClaimEventValuesPreComplete" type="GeniusX.AXA.Claims.BusinessLogic.ClaimsEventPlugin, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimEvent" point="Virtual" sequence="12" alias="AXANewReOpenClaimProcessHandlerPostComplete" type="GeniusX.AXA.Claims.BusinessLogic.ClaimsProcessHandler, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimEvent" point="Virtual" sequence="12" alias="AXAAutoReviewStartClaimProcessHandlerPostComplete" type="GeniusX.AXA.Claims.BusinessLogic.ClaimsProcessHandler, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimEvent" point="Virtual" sequence="12" alias="AXAManualReviewStartClaimProcessHandlerPostComplete" type="GeniusX.AXA.Claims.BusinessLogic.ClaimsProcessHandler, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimEvent" point="Virtual" sequence="12" alias="AXAReviewCompletedProcessHandlerPreComplete" type="GeniusX.AXA.Claims.BusinessLogic.ClaimsProcessHandler, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimEvent" point="Virtual" sequence="12" alias="AXAReferralRequestedProcessHandlerPostComplete" type="GeniusX.AXA.Claims.BusinessLogic.ClaimsProcessHandler, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimEvent" point="Virtual" sequence="12" alias="AXAInactivityDetectionProcessHandlerPostComplete" type="GeniusX.AXA.Claims.BusinessLogic.ClaimsProcessHandler, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimEvent" point="Virtual" sequence="12" alias="AXARecoveryInactivityDetectionProcessHandlerPostComplete" type="GeniusX.AXA.Claims.BusinessLogic.ClaimsProcessHandler, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimEvent" point="Virtual" sequence="12" alias="AXAQualityCheckProcessHandlerPostComplete" type="GeniusX.AXA.Claims.BusinessLogic.ClaimsProcessHandler, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimEvent" point="Virtual" sequence="12" alias="AXAPostProcessHandlerPostComplete" type="GeniusX.AXA.Claims.BusinessLogic.ClaimsProcessHandler, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimEvent" point="Virtual" sequence="12" alias="AXAPhoneLogProcessHandlerPostComplete" type="GeniusX.AXA.Claims.BusinessLogic.ClaimsProcessHandler, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimEvent" point="Virtual" sequence="25" alias="AXAFileUploadNotificationProcessHandlerPostComplete" type="GeniusX.AXA.Claims.BusinessLogic.ClaimsProcessHandler, GeniusX.AXA.Claims.BusinessLogic"/>

  <!-- ClaimWakeUp Processing-->
  <Component component="Xiap.Claims.BusinessComponent.ClaimHeader" point="Virtual" sequence="12" alias="AXAClaimsReviewTaskProcessHandler" type="GeniusX.AXA.Claims.BusinessLogic.ClaimsReviewTaskProcessHandler, GeniusX.AXA.Claims.BusinessLogic"/>
  <!-- ClaimWakeUp Processing Ends-->

  <Component component="Xiap.Claims.BusinessComponent.ClaimEvent" point="Virtual" sequence="11" alias="AXACloseFinalizeClaimProcessHandlerPostComplete" type="GeniusX.AXA.Claims.BusinessLogic.ClaimsProcessHandler, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimEvent" point="Virtual" sequence="11" alias="AXAPaymentCancellationProcessHandlerPostComplete" type="GeniusX.AXA.Claims.BusinessLogic.ClaimsProcessHandler, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimEvent" point="PreValidationDefaulting" sequence="11" type="GeniusX.AXA.Claims.BusinessLogic.ClaimsEventPlugin, GeniusX.AXA.Claims.BusinessLogic"/>

  <Component component="Xiap.Claims.BusinessComponent.ClaimHeader" point="PropertyChange" property="CustomNumeric10" sequence="100" type="GeniusX.AXA.Claims.BusinessLogic.ClaimHeaderPlugin, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimHeader" point="PropertyChange" property="CustomBoolean15" sequence="100" type="GeniusX.AXA.Claims.BusinessLogic.ClaimHeaderPlugin, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimHeader" point="PropertyChange" property="CustomReference01" sequence="100" type="GeniusX.AXA.Claims.BusinessLogic.ClaimHeaderPlugin, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimHeader" point="Virtual" sequence="110" alias="CoverageVerificationValidation" type="GeniusX.AXA.Claims.BusinessLogic.PolicyAttachmentAndTypeOfLossValidationPlugin, GeniusX.AXA.Claims.BusinessLogic"  predicateType="ClaimsDecisionTable" predicate="AXA"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimHeader" point="Virtual" sequence="111" alias="CoverageVerificationValidation" type="GeniusX.AXA.Claims.BusinessLogic.PolicyAttachmentAndVehicleTypeValidationPlugin, GeniusX.AXA.Claims.BusinessLogic"  predicateType="ClaimsDecisionTable" predicate="AXA"/>

  <Component component="Xiap.Claims.BusinessComponent.ClaimNameInvolvement" point="PropertyChange" property="NameID" sequence="100" type="GeniusX.AXA.Claims.BusinessLogic.ClientSpecificDataPlugin, GeniusX.AXA.Claims.BusinessLogic"/>
  
  <Component component="Xiap.Claims.BusinessComponent.ClaimDetail" point="Created" sequence="100" type="GeniusX.AXA.Claims.BusinessLogic.ClaimDetailReferenceDefaulterPlugin, GeniusX.AXA.Claims.BusinessLogic" />
  <Component component="Xiap.Claims.BusinessComponent.ClaimDetail" point="Created" sequence="101"  type="GeniusX.AXA.Claims.BusinessLogic.ClaimDetailsPlugin, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimDetail" point="Virtual" sequence="102" alias="AXAClaimEventCreation" type="GeniusX.AXA.Claims.BusinessLogic.ClaimDetailsPlugin, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimDetail" point="Virtual" sequence="103" alias="AXAInactiveRecoveryClaimEventCreation" type="GeniusX.AXA.Claims.BusinessLogic.InactiveRecoveryPlugin, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimDetail" point="ComponentChange" sequence="100"  type="GeniusX.AXA.Claims.BusinessLogic.ClaimDetailsPlugin, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimDetail" point="PropertyChange" property="PolicyCoverageID" sequence="101" type="GeniusX.AXA.Claims.BusinessLogic.UpdateEDDataPlugin, GeniusX.AXA.Claims.BusinessLogic"/>
  
  <Component component="Xiap.Claims.BusinessComponent.ClaimNameInvolvement" point="Created" sequence="100"  type="GeniusX.AXA.Claims.BusinessLogic.ClientSpecificDataPlugin, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimNameInvolvement" point="FieldRetrieval" field="CustomReference02" sequence="110" type="GeniusX.AXA.Claims.BusinessLogic.ClientSpecificDataPlugin, GeniusX.AXA.Claims.BusinessLogic" />
  <Component component="Xiap.Claims.BusinessComponent.ClaimNameInvolvement" point="FieldRetrieval" field="CustomReference03" sequence="110" type="GeniusX.AXA.Claims.BusinessLogic.ClientSpecificDataPlugin, GeniusX.AXA.Claims.BusinessLogic" />
  <Component component="Xiap.Claims.BusinessComponent.ClaimNameInvolvement" point="FieldRetrieval" field="CustomReference04" sequence="110" type="GeniusX.AXA.Claims.BusinessLogic.ClientSpecificDataPlugin, GeniusX.AXA.Claims.BusinessLogic" />

  <!--<Component component="Xiap.Claims.BusinessComponent.ClaimHeader" point="ComponentChange" sequence="110" type="GeniusX.AXA.Claims.BusinessLogic.ClaimHeaderPlugin, GeniusX.AXA.Claims.BusinessLogic"/>-->
  <Component component="Xiap.Claims.BusinessComponent.ClaimNameInvolvement" point="ComponentChange" sequence="110" type="GeniusX.AXA.Claims.BusinessLogic.ClaimNameInvolvementPlugin, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimNameInvolvement" point="Created" sequence="110" type="GeniusX.AXA.Claims.BusinessLogic.ClaimNameInvolvementPlugin, GeniusX.AXA.Claims.BusinessLogic"/>
  

  <Component component="Xiap.Claims.BusinessComponent.ClaimDetailToClaimInvolvementLink" point="Created" sequence="100" type="GeniusX.AXA.Claims.BusinessLogic.ClaimDetailToClaimInvolvementLinkPlugin, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimDetailToClaimInvolvementLink" point="Delete" sequence="100" type="GeniusX.AXA.Claims.BusinessLogic.ClaimDetailToClaimInvolvementLinkPlugin, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimInvolvement" point="Delete" sequence="100" type="GeniusX.AXA.Claims.BusinessLogic.ClaimInvolvementPlugin, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimInvolvement" point="ComponentChange" sequence="100" type="GeniusX.AXA.Claims.BusinessLogic.ClaimInvolvementPlugin, GeniusX.AXA.Claims.BusinessLogic"/>
  
  <Component component="Xiap.Claims.BusinessComponent.ClaimLitigation" point="PreCreateValidation" sequence="100" type="GeniusX.AXA.Claims.BusinessLogic.ClaimLitigationPlugin, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimRecovery" point="PreCreateValidation" sequence="100" type="GeniusX.AXA.Claims.BusinessLogic.ClaimRecoveryPlugin, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimHeader" point="Validation" sequence="100" type="GeniusX.AXA.Claims.BusinessLogic.ClaimHeaderStatusChangePlugin, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimHeader" point="ComponentChange" sequence="100" type="GeniusX.AXA.Claims.BusinessLogic.GeniusPolicyFieldAttachmentPlugin, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimHeader" point="ComponentChange" sequence="110" type="GeniusX.AXA.Claims.BusinessLogic.ClaimHeaderPlugin, GeniusX.AXA.Claims.BusinessLogic"/>
  
  <Component component="Xiap.Claims.BusinessComponent.ClaimHeader" point="Created" sequence="110" type="GeniusX.AXA.Claims.BusinessLogic.GeniusPolicyFieldAttachmentPlugin, GeniusX.AXA.Claims.BusinessLogic" />
  <Component component="Xiap.Claims.BusinessComponent.ClaimDetail" point="ComponentChange" sequence="110"  type="GeniusX.AXA.Claims.BusinessLogic.ClaimDetailChangeAttachmentPlugin, GeniusX.AXA.Claims.BusinessLogic" />
  <Component component="Xiap.Claims.BusinessComponent.ClaimDetail" point="Created" sequence="115"  type="GeniusX.AXA.Claims.BusinessLogic.SingleCoverageAttachmentsPerClaimPlugin, GeniusX.AXA.Claims.BusinessLogic" predicateType="ClaimsDecisionTable" predicate="AXA"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimDetail" point="Validation" sequence="120"  type="GeniusX.AXA.Claims.BusinessLogic.ClaimDetailChangeAttachmentPlugin, GeniusX.AXA.Claims.BusinessLogic" />
  <Component component="Xiap.Claims.BusinessComponent.ClaimHeader" point="FieldRetrieval" field="DateOfLossTypeCode" sequence="101" type="GeniusX.AXA.Claims.BusinessLogic.GeniusPolicyFieldAttachmentPlugin, GeniusX.AXA.Claims.BusinessLogic" />
  <Component component="Xiap.Claims.BusinessComponent.ClaimHeader" point="FieldRetrieval" field="DateOfLossFrom" sequence="101" type="GeniusX.AXA.Claims.BusinessLogic.GeniusPolicyFieldAttachmentPlugin, GeniusX.AXA.Claims.BusinessLogic" />
  <Component component="Xiap.Claims.BusinessComponent.ClaimHeader" point="FieldRetrieval" sequence="130" field="ClaimHeaderAnalysisCode04" type="GeniusX.AXA.Claims.BusinessLogic.ClaimHeaderDefaultingDivisionPlugin, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimHeader" point="FieldRetrieval" sequence="130" field="ClaimHeaderAnalysisCode05" type="GeniusX.AXA.Claims.BusinessLogic.ClaimHeaderDefaultingDivisionPlugin, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimHeader" point="FieldRetrieval" sequence="130" field="ClaimHeaderAnalysisCode06" type="GeniusX.AXA.Claims.BusinessLogic.ClaimHeaderDefaultingDivisionPlugin, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimHeader" point="FieldRetrieval" sequence="130" field="ClaimHeaderAnalysisCode02" type="GeniusX.AXA.Claims.BusinessLogic.ClaimHeaderDefaultingDivisionPlugin, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimHeader" point="FieldRetrieval" sequence="130" field="CustomCode01" type="GeniusX.AXA.Claims.BusinessLogic.ClaimHeaderDefaultingDivisionPlugin, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimHeader" point="FieldRetrieval" sequence="130" field="CustomCode02" type="GeniusX.AXA.Claims.BusinessLogic.ClaimHeaderDefaultingDivisionPlugin, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimHeader" point="FieldRetrieval" sequence="130" field="CustomCode03" type="GeniusX.AXA.Claims.BusinessLogic.ClaimHeaderDefaultingDivisionPlugin, GeniusX.AXA.Claims.BusinessLogic"/>


  <Component component="Xiap.Claims.BusinessComponent.ClaimHeader" point="Created" sequence="115" type="GeniusX.AXA.Claims.BusinessLogic.ClaimHeaderPlugin, GeniusX.AXA.Claims.BusinessLogic" />
  <Component component="Xiap.Claims.BusinessComponent.ClaimHeader" point="PreValidationDefaulting" sequence="90" type="GeniusX.AXA.Claims.BusinessLogic.DriverExcessValidationPlugin, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimHeader" point="FieldRetrieval" field="PolicyAmountCurrencyCode" sequence="30" type="GeniusX.AXA.Claims.BusinessLogic.ClaimHeaderPlugin, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimHeader" point="FieldRetrieval" field="PolicyDeductible01" sequence="30" type="GeniusX.AXA.Claims.BusinessLogic.ClaimHeaderPlugin, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimHeader" point="FieldRetrieval" field="PolicyDeductible02" sequence="30" type="GeniusX.AXA.Claims.BusinessLogic.ClaimHeaderPlugin, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimHeader" point="FieldRetrieval" field="PolicyDeductible03" sequence="30" type="GeniusX.AXA.Claims.BusinessLogic.ClaimHeaderPlugin, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimHeader" point="FieldRetrieval" field="PolicyDeductible04" sequence="30" type="GeniusX.AXA.Claims.BusinessLogic.ClaimHeaderPlugin, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimHeader" point="FieldRetrieval" field="PolicyDeductible05" sequence="30" type="GeniusX.AXA.Claims.BusinessLogic.ClaimHeaderPlugin, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimHeader" point="FieldRetrieval" field="IsDeductible01PaidByInsurer" sequence="30" type="GeniusX.AXA.Claims.BusinessLogic.ClaimHeaderPlugin, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimHeader" point="FieldRetrieval" field="IsDeductible02PaidByInsurer" sequence="30" type="GeniusX.AXA.Claims.BusinessLogic.ClaimHeaderPlugin, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimHeader" point="FieldRetrieval" field="IsDeductible03PaidByInsurer" sequence="30" type="GeniusX.AXA.Claims.BusinessLogic.ClaimHeaderPlugin, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimHeader" point="FieldRetrieval" field="IsDeductible04PaidByInsurer" sequence="30" type="GeniusX.AXA.Claims.BusinessLogic.ClaimHeaderPlugin, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimHeader" point="FieldRetrieval" field="IsDeductible05PaidByInsurer" sequence="30" type="GeniusX.AXA.Claims.BusinessLogic.ClaimHeaderPlugin, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimHeader" point="FieldRetrieval" field="CustomNumeric10" sequence="30" type="GeniusX.AXA.Claims.BusinessLogic.ClaimHeaderPlugin, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimHeader" point="FieldRetrieval" field="CustomBoolean12" sequence="30" type="GeniusX.AXA.Claims.BusinessLogic.ClaimHeaderPlugin, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimHeader" point="FieldRetrieval" field="CustomBoolean15" sequence="30" type="GeniusX.AXA.Claims.BusinessLogic.ClaimHeaderPlugin, GeniusX.AXA.Claims.BusinessLogic"/>

  <Component component="Xiap.Claims.BusinessComponent.ClaimHeader" point="Virtual" sequence="10" alias="LoadDeductibleReasonCodes" type="GeniusX.AXA.Claims.BusinessLogic.LoadDeductibleReasonCodes, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimDetail" point="PreCreateValidation" sequence="021"  type="GeniusX.AXA.Claims.BusinessLogic.PolicyAttachmentAndDateProcessingForClaimDetail, GeniusX.AXA.Claims.BusinessLogic"  predicateType="ClaimsDecisionTable" predicate="AXA"/>

  <Component component="Xiap.UW.BusinessComponent.Header" point="Virtual" sequence="10" alias="UpdateFromGenius" type="GeniusX.AXA.Underwriting.BusinessLogic.UpdateFromGeniusPlugin, GeniusX.AXA.Underwriting.BusinessLogic"/>
  <Component component="Xiap.UW.BusinessComponent.Header" point="Created" sequence="14" type="GeniusX.AXA.Underwriting.BusinessLogic.AXAHeaderReferenceDefaulter, GeniusX.AXA.Underwriting.BusinessLogic"/>
  <Component component="Xiap.UW.BusinessComponent.Header" point="Virtual" sequence="10" alias="CustomPolicyUpdate" type="GeniusX.AXA.Underwriting.BusinessLogic.CustomPolicyUpdatePlugin, GeniusX.AXA.Underwriting.BusinessLogic" predicateType="UwDecisionTable" predicate="AXA"/>
  <Component component="Xiap.UW.BusinessComponent.UwGenericDataItem" point="FieldRetrieval" field="CustomCode01" sequence="41" type="GeniusX.AXA.Underwriting.BusinessLogic.ExcessAndDeductibleDivisionPlugin, GeniusX.AXA.Underwriting.BusinessLogic"/>
  <Component component="Xiap.UW.BusinessComponent.Header" point="Validation" sequence="100" type="GeniusX.AXA.Underwriting.BusinessLogic.HeaderStatusChangedPlugin, GeniusX.AXA.Underwriting.BusinessLogic"/>

  <Component component="Xiap.Claims.BusinessComponent.ClaimHeader" point="Created" sequence="14" type="GeniusX.AXA.Claims.BusinessLogic.ClaimReferenceDefaulterPlugin, GeniusX.AXA.Claims.BusinessLogic" />
  <Component component="Xiap.Claims.BusinessComponent.ClaimHeader" point="Copy" sequence="14" type="GeniusX.AXA.Claims.BusinessLogic.ClaimReferenceDefaulterPlugin, GeniusX.AXA.Claims.BusinessLogic" />
  <Component component="Xiap.Claims.BusinessComponent.ClaimHeader" point="ComponentChange" sequence="14" type="GeniusX.AXA.Claims.BusinessLogic.ClaimReferenceDefaulterPlugin, GeniusX.AXA.Claims.BusinessLogic" />

  <Component component="Xiap.InsuranceDirectory.BusinessComponent.PersonDetailVersion" point="PreValidationDefaulting" sequence="9" type="GeniusX.AXA.InsuranceDirectory.BusinessLogic.PersonDetailPlugin, GeniusX.AXA.InsuranceDirectory.BusinessLogic" />
  <Component component="Xiap.Claims.BusinessComponent.ClaimTransactionHeader" point="PreCreateValidation" sequence="110" type="GeniusX.AXA.Claims.BusinessLogic.PolicyAttachmentAndDateProcessingForClaimTransactionHeader, GeniusX.AXA.Claims.BusinessLogic" predicateType="ClaimsDecisionTable" predicate="AXA"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimTransactionHeader" point="Virtual" sequence="100" alias="ClaimTransactionHeaderDefaulter" type="GeniusX.AXA.Claims.BusinessLogic.AXAClaimTransactionHeaderDefaulter, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimTransactionHeader" point="Virtual" sequence="110" alias="CalculateDeductibles" type="GeniusX.AXA.Claims.BusinessLogic.AXACalculateDeductiblePlugin, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimTransactionHeader" point="Virtual" sequence="110" alias="AXAClaimTransactionAuthorisationProcessHandlerPostComplete" type="GeniusX.AXA.Claims.BusinessLogic.AXAClaimTransactionAuthorisationProcessHandler, GeniusX.AXA.Claims.BusinessLogic"/>

  <Component component="Xiap.InsuranceDirectory.BusinessComponent.NameUsage" point="Created" sequence="101" type="GeniusX.AXA.InsuranceDirectory.BusinessLogic.AXANameReferenceDefaulterPlugin, GeniusX.AXA.InsuranceDirectory.BusinessLogic" />
  <Component component="Xiap.InsuranceDirectory.BusinessComponent.NameUsage" point="Copy" sequence="101" type="GeniusX.AXA.InsuranceDirectory.BusinessLogic.AXANameReferenceDefaulterPlugin, GeniusX.AXA.InsuranceDirectory.BusinessLogic" />
  <Component component="Xiap.InsuranceDirectory.BusinessComponent.NameUsage" point="PreCreateValidation" sequence="103" type="GeniusX.AXA.InsuranceDirectory.BusinessLogic.NameUsagePlugin, GeniusX.AXA.InsuranceDirectory.BusinessLogic" />

  <Component component="Xiap.InsuranceDirectory.BusinessComponent.Name" point="FieldRetrieval"  field="NameReference" sequence="110" type="GeniusX.AXA.InsuranceDirectory.BusinessLogic.CreateNamePlugin, GeniusX.AXA.InsuranceDirectory.BusinessLogic" />
  <Component component="Xiap.InsuranceDirectory.BusinessComponent.Address" point="FieldRetrieval"  field="CustomReference04" sequence="111" type="GeniusX.AXA.InsuranceDirectory.BusinessLogic.AddressPlugin, GeniusX.AXA.InsuranceDirectory.BusinessLogic" />
  <Component component="Xiap.InsuranceDirectory.BusinessComponent.NameFinancialAccount" point="FieldRetrieval"  field="CustomReference04" sequence="112" type="GeniusX.AXA.InsuranceDirectory.BusinessLogic.NameFinancialAccountPlugin, GeniusX.AXA.InsuranceDirectory.BusinessLogic" />
  <Component component="Xiap.Claims.BusinessComponent.ClaimDocument" point="PreValidationDefaulting" sequence="100" type="GeniusX.AXA.Claims.BusinessLogic.ClaimDocumentPlugin, GeniusX.AXA.Claims.BusinessLogic"/>

  <Component component="Xiap.Claims.BusinessComponent.ClaimPaymentRequest" point="PropertyChange" sequence="110" property="AddresseeNameID" type="GeniusX.AXA.Claims.BusinessLogic.AXAClaimPaymentRequestPlugin, GeniusX.AXA.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimHeader" point="Virtual" sequence="110" alias="CoverageVerificationPolicyAttachmentValidation" type="GeniusX.AXA.Claims.BusinessLogic.PolicyAttachmentAndDateProcessingValidationPlugin, GeniusX.AXA.Claims.BusinessLogic"  predicateType="ClaimsDecisionTable" predicate="AXA"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimHeader" point="Virtual" sequence="111" alias="CoverageVerificationPolicyAttachmentValidation" type="GeniusX.AXA.Claims.BusinessLogic.PolicyAttachmentAndDateProcessingVehicleTypeValidationPlugin, GeniusX.AXA.Claims.BusinessLogic"  predicateType="ClaimsDecisionTable" predicate="AXA"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimHeader" point="Virtual" sequence="112" alias="CoverageVerificationPolicyAttachmentValidation" type="GeniusX.AXA.Claims.BusinessLogic.PolicyAttachmentAndDateProcessingTypeOfLossValidationPlugin, GeniusX.AXA.Claims.BusinessLogic"/>
 
  <Component component="Xiap.Claims.BusinessComponent.ClaimHeader" point="Virtual" sequence="101" alias="ExternalPolicyVerification" type="GeniusX.AXA.Claims.BusinessLogic.UKClaimsExternalPolicyVerification, GeniusX.AXA.Claims.BusinessLogic" predicateType="ClaimsDecisionTable" predicate="UKClaims"/>
 
  <!--END COMPONENT PLUGINS-->
</processes>
