<sharepointConfiguration>
  <isCredentialsProvided>True</isCredentialsProvided>
  <locationTemplate>{0}/_layouts/DocIdRedir.aspx?ID={1}</locationTemplate>
  <contentTypes>
    <contentType DocumentLevel="UWHeader">Underwriting</contentType>
    <contentType DocumentLevel="ClaimHeader">Claim</contentType>
    <contentType DocumentLevel="ClaimDetail">Claim</contentType>
  </contentTypes>
  <documentUploadSites defaultURL="http://52.18.212.77/sites/AXA/Motor/Docs/">
    <site>
      <url>http://52.18.212.77/sites/AXA/Motor/Docs/</url>
      <productList>
        <productCode>CGBIMO</productCode>
      </productList>
    </site>
    <site>
      <url>http://52.18.212.77/sites/AXA/Liability/Docs/</url>
      <productList>
        <productCode>CGBIPC</productCode>
      </productList>
    </site>
    <site>
      <url>http://52.18.212.77/sites/AXA/Aviation/Docs/</url>
      <productList>
        <productCode>CFRIAV</productCode>
      </productList>
    </site>
  </documentUploadSites>
</sharepointConfiguration>

