<unity>
	<typeAliases>
		<typeAlias alias="BusinessDataUpdater" type="Xiap.Framework.Data.IBusinessDataUpdater, Xiap.Framework" />
		<typeAlias alias="Warmup" type="Xiap.Framework.Warmup.IWarmupTask, Xiap.Framework" />
	</typeAliases>
	<containers>
		<container>
			<types>
				<!-- AXA specific Types -->
				<type type="Xiap.Scheduler.TransferWorker.IWorkerTask, Xiap.Scheduler.TransferWorker" mapTo="Xiap.Scheduler.TransferWorker.ScheduledTaskServiceWorkerTask, Xiap.Scheduler.TransferWorker" name ="TaskReassignNotification" />
			</types>
		</container>
	</containers>
</unity>
