<unity>
  <containers>
    <container name="XMPHContainer">
      <types>
        <type type="Xiap.Messaging.Common.IXsltExtension, Xiap.Messaging.CommonInterfaces" mapTo="GeniusX.AXAHandlers.Underwriting.PolicyXsltExtensions, GeniusX.AXAHandlers.Underwriting"  name="PolicyXsltExtensions"/>
      </types>
    </container>
  </containers>
</unity>