<warmupConfiguration>
    <productList>
      <product code="CGBIMO" allVersions="true"></product>
      <product code="CGBIPC" allVersions="true"></product>
      <product code="GBIMO" allVersions="true"></product>
      <product code="GBIPC" allVersions="true"></product>
    </productList>
    <valueSetList>
      <valueSetType type="Area"></valueSetType>
      <valueSetType type="Underwriting"></valueSetType>
      <valueSetType type="Claims"></valueSetType>
    </valueSetList>
  </warmupConfiguration>