<?xml version="1.0" encoding="utf-8" ?>
<AXA>  
  <add key="GeniusQuery" value=" Select INT(G0G0B1) as RATAJA, RATALC from {0}.ZARADF00, {0}.ZKG0DF00 Where RAFANO = G0FANO and RAFBCD = G0FBCD and RAF3CD = G0F3CD and INT(G0G0B1) in ({1}) and RATALC &lt;&gt; 0" />
  <add key="GeniusEncryptedPassword" value="MDg84h0gW/3R2ePsBrEgGivX"/>
  <add key="GeniusSchema" value="XPFAGNDTA"/>
  <add key="CommandTimeout" value="0"/>
  <add key="DoSendEmail" value="false"/>
  <add key="SMTPServer" value="srv40001.ad.xglobal.com"/>
  <add key="SMTPPort" value="25"/>
  <add key="EmailRecipients" value="abc@xchanging.com"/>
  <add key="EmailSender" value="abc@xchanging.com"/>  
  <add key="SMTPDomain" value="xglobal"/>
  <add key="SMTPUser" value="abc"/>
  <add key="SMTPEncryptedPassword" value=""/>  
  <add key="MaxBatchSize" value="50"/>
</AXA>