<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <sectionGroup name="xiap" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="core" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=2.1.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <section name="processes" type="Xiap.Framework.SectionHandler,Xiap.Framework" />
        <section name="componentPathConfig" type="Xiap.Framework.SectionHandler,Xiap.Framework" />
        <section name="propertyAccessorConfiguration" type="Xiap.Framework.SectionHandler,Xiap.Framework" />
        <section name="dataRelationShip" type="Xiap.Framework.SectionHandler,Xiap.Framework" />
        <section name="businessDataUpdaterExecution" type="Xiap.Framework.BusinessDataUpdaterExecutionSectionHandler,Xiap.Framework" />
        <section name="dataRelationshipTrees" type="Xiap.Framework.SectionHandler,Xiap.Framework" />
        <section name="TransactionProcessorDefinition" type="Xiap.Framework.SectionHandler,Xiap.Framework" />
      </sectionGroup>
      <sectionGroup name="custom" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=2.1.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <section name="processes" type="Xiap.Framework.SectionHandler,Xiap.Framework" />
        <section name="customConfigs" type="Xiap.Framework.SectionHandler,Xiap.Framework" />
        <section name="k2WorkFlowMapping" type="Xiap.Framework.SectionHandler,Xiap.Framework" />
        <section name="gwsISConfiguration" type="Xiap.Framework.SectionHandler,Xiap.Framework" />
        <section name="productProRating" type="Xiap.Framework.SectionHandler,Xiap.Framework" />
        <section name="warmupConfiguration" type="Xiap.Framework.SectionHandler,Xiap.Framework" />
        <section name="sharepointConfiguration" type="Xiap.Framework.SectionHandler,Xiap.Framework" />
      </sectionGroup>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="TransactionTimeout" type="Xiap.Framework.SectionHandler,Xiap.Framework" />
  </configSections>
  <TransactionTimeout>
    <Default Timeout="600000" CallbackInterval="600000" />
  </TransactionTimeout>
  <xiap>
    <core>
      <unity configSource="Config\Core\Unity.config" />
      <propertyAccessorConfiguration configSource="Config\Core\PropertyAccessor.config" />
      <componentPathConfig configSource="Config\Core\ComponentPath.config" />
      <processes configSource="Config\Core\Processes.config" />
      <businessDataUpdaterExecution>
        <businessDataUpdater name="*default" execute="true" />
      </businessDataUpdaterExecution>
      <dataRelationshipTrees configSource="Config\Core\DataRelationshipTrees.config" />
      <TransactionProcessorDefinition configSource="Config\Core\TransactionProcessorDefinition.config" />
    </core>
    <custom>
      <unity configSource="Config\Custom\AXA\Unity.config" />
      <productProRating configSource="Config\Custom\Default\ProductProRating.config" />
      <gwsISConfiguration configSource="Config\Custom\Default\GwsIS.config" />
      <k2WorkFlowMapping configSource="Config\Custom\AXA\K2WorkFlow.config" />
      <processes configSource="Config\Custom\Default\Processes.config" />
      <warmupConfiguration configSource="Config\Custom\Default\Warmup.config" />
      <sharepointConfiguration configSource="Config\Custom\Default\Sharepoint.config" />
    </custom>
  </xiap>

  <log4net debug="false">
    <appender name="ClaimProcessorLogger" type="log4net.Appender.RollingFileAppender">
      <param name="file" value="c:\\temp\\ClaimProcessor.log"/>
      <param name="appendToFile" value="true"/>
      <param name="rollingStyle" value="Size"/>
      <param name="maxSizeRollBackups" value="10"/>
      <param name="maximumFileSize" value="10MB"/>
      <param name="staticLogFileName" value="true"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%M] - %m%n"/>
      </layout>
    </appender>
    <appender name="PerfLoggerStats" type="log4net.Appender.RollingFileAppender">
      <param name="file" value="c:\\temp\\ClientServicesPerfStats.csv"/>
      <param name="appendToFile" value="true"/>
      <param name="rollingStyle" value="Size"/>
      <param name="maxSizeRollBackups" value="20"/>
      <param name="maximumFileSize" value="20MB"/>
      <param name="staticLogFileName" value="true"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%message%newline"/>
      </layout>
    </appender>
    <root>
      <priority value="INFO"/>
      <appender-ref ref="ClaimProcessorLogger"/>
    </root>
    <logger name="Xiap.Framework.Logging.PerfLogger" additivity="false">
      <level value="OFF"/>
      <appender-ref ref="PerfLoggerStats"/>
    </logger>
  </log4net>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <connectionStrings>
    <add name="Genius" connectionString="Datasource=Xubisv01.xchanginghosting.com;userid=AXA3GNS;password=AXA3GNS;Database=S10b7c9c;DefaultCollection=XPDMGNTRN;" providerName="IBM.Data.DB2.iSeries" />
    
    <add name="GeniusX" connectionString="Data Source=SRV00117;Initial Catalog=XIAP_Dev_3_1;Integrated Security=True;MultipleActiveResultSets=True"/>
    <add name="Source" connectionString="Data Source=10.2.88.37\DataMigration;Initial Catalog=CMS_AXA_STG_PKG13;Integrated Security=True;MultipleActiveResultSets=True"/>
    <add name="StagingMotor" connectionString="Data Source=10.2.88.37\DataMigration;Initial Catalog=CMS_AXA_STG_PKG15_B;Integrated Security=True;MultipleActiveResultSets=True"/>
    <add name="StagingLiab" connectionString="Data Source=10.2.88.37\DataMigration;Initial Catalog=CMS_AXA_STG_PKG13;Integrated Security=True;MultipleActiveResultSets=True"/>

    <add name="Default" connectionString="Data Source=SRV00117;Initial Catalog=XIAP_Dev_3_1;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="Config" connectionString="Data Source=SRV00117;Initial Catalog=XIAP_Dev_3_1;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="IORegisterEntities" connectionString="metadata=res://*/Xiap.IORegister.BusinessComponent.IORegister.csdl|res://*/Xiap.IORegister.BusinessComponent.IORegister.ssdl|res://*/Xiap.IORegister.BusinessComponent.IORegister.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SRV00117;Initial Catalog=XIAP_Dev_3_1;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="InsuranceDirectoryEntities" connectionString="metadata=res://*/Xiap.InsuranceDirectory.BusinessComponent.InsuranceDirectory.csdl|res://*/Xiap.InsuranceDirectory.BusinessComponent.InsuranceDirectory.ssdl|res://*/Xiap.InsuranceDirectory.BusinessComponent.InsuranceDirectory.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SRV00117;Initial Catalog=XIAP_Dev_3_1;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="MetadataEntities" connectionString="metadata=res://*/Xiap.Metadata.BusinessComponent.Metadata.csdl|res://*/Xiap.Metadata.BusinessComponent.Metadata.ssdl|res://*/Xiap.Metadata.BusinessComponent.Metadata.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SRV00117;Initial Catalog=XIAP_Dev_3_1;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="UnderwritingEntities" connectionString="metadata=res://*/Xiap.UW.BusinessComponent.Underwriting.csdl|res://*/Xiap.UW.BusinessComponent.Underwriting.ssdl|res://*/Xiap.UW.BusinessComponent.Underwriting.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SRV00117;Initial Catalog=XIAP_Dev_3_1;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="DPEntities" connectionString="metadata=res://*/DPEntities.csdl|res://*/DPEntities.ssdl|res://*/DPEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SRV00117;Initial Catalog=XIAP_Dev_3_1;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="ClaimsEntities" connectionString="metadata=res://*/Xiap.Claims.BusinessComponent.Claims.csdl|res://*/Xiap.Claims.BusinessComponent.Claims.ssdl|res://*/Xiap.Claims.BusinessComponent.Claims.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SRV00117;Initial Catalog=XIAP_Dev_3_1;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="AccountEntities" connectionString="metadata=res://*/Xiap.Accounts.BusinessComponent.Account.csdl|res://*/Xiap.Accounts.BusinessComponent.Account.ssdl|res://*/Xiap.Accounts.BusinessComponent.Account.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SRV00117;Initial Catalog=XIAP_Dev_3_1;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="TaskEntities" connectionString="metadata=res://*/Xiap.K2Integration.Task.BusinessComponent.Task.csdl|res://*/Xiap.K2Integration.Task.BusinessComponent.Task.ssdl|res://*/Xiap.K2Integration.Task.BusinessComponent.Task.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SRV00117;Initial Catalog=XIAP_Dev_3_1;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="StatsEntities" connectionString="metadata=res://*/Statistics.StatsEntities.csdl|res://*/Statistics.StatsEntities.ssdl|res://*/Statistics.StatsEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SRV00117;Initial Catalog=XIAP_Dev_3_1;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="k2.connectionDetails.systemUser" value="system\k2system"/>
    <add key="k2.connectionDetails.host" value="ACTXUBDEVAPPV02" />
    <add key="k2.connectionDetails.client.port" value="5252" />
    <add key="k2.connectionDetails.management.port" value="5555" />
    <add key="k2.connectionDetails.securityLabel" value="XIAP" />
    <add key="k2.connectionDetails.systemGroup" value="SYSTEM" />

    <add key="XIAP" value="Xiap.UW.BusinessTransaction.InternalUWService, Xiap.UW.BusinessTransaction" />
    <add key="GENIUS" value ="Xiap.GeniusIntegration.BusinessLogic.GeniusPolicyService,Xiap.GeniusIntegration.BusinessLogic"/>
    <add key="InsuranceDirectoryService" value="Xiap.InsuranceDirectory.BusinessTransaction.InternalInsuranceDirectoryService, Xiap.InsuranceDirectory.BusinessTransaction"/>
    <add key="ReviewEventTypeCode" value="REVIEW"/>
    <add key="MotorProductCode" value="CGBIMO"/>
    <add key="LiabilityProductCode" value="CGBIPC"/>

    <add key="XIAP_CORE" value="XIAP_CORE" />
    <add key="GENIUSCORE" value="GENIUSCORE" />
    <add key="MESSAGEVERSION" value="2009-1" />
    <add key="MESSAGETRANSACTION" value="RetrievePolicyComponents" />

    <!-- MessageContracts-->
    <add key="Message_Contract_EntityChangedContract" value="//Xiap/EntityChangedContract" />
    <add key="Message_SendService_EntityChangedPublisherSendService" value="EntityChangedPublisherSendService" />
    <add key="Message_RecvService_EntityChangedPublisherRecvService" value="EntityChangedPublisherRecvService" />
    <add key="MessageType_EntityChangedMessage" value="//Xiap/EntityChangedMessage" />

    <add key="NAME_MESSAGE_QUEUE" value="NameTransferTargetMessageQueue" />
    <add key="NAME_MESSAGE_CONTRACT" value="//NameTransfer/FromXiap/Contract" />
    <add key="NAME_MESSAGE_FROM_SERVICE" value="//NameTransfer/XiapService" />
    <add key="NAME_MESSAGE_TO_SERVICE" value="//NameTransfer/TargetService" />
    <add key="NAME_MESSAGE_TYPE" value="//NameTransfer/FromXiap" />

    <add key="TRANSACTION_DELETE" value="DeleteClaim" />
    <add key="TRANSACTION_CLOSE" value="CloseClaim" />
    <add key="TRANSACTION_FINANCIAL" value="FinancialTransaction" />
    <add key="TRANSACTION_REOPEN" value="ReopenClaim" />

    <add key="Claim_Transfer_Data_Collection" value="ClaimTransferDataCollection" />
    <add key="MESSAGE_QUEUE" value="ClaimTransferTargetMessageQueue" />
    <add key="MESSAGE_CONTRACT" value="//ClaimTransfer/FromXiap/Contract" />
    <add key="MESSAGE_FROM_SERVICE" value="//ClaimTransfer/XiapService" />
    <add key="MESSAGE_TO_SERVICE" value="//ClaimTransfer/TargetService" />
    <add key="BATCH_PROCESS_MAXIMUM_THREADS" value="4" />
    <add key="POLLINTERVAL" value="100000" />
    <add key="MESSAGE_TYPE" value="//ClaimTransfer/FromXiap" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key ="SLEEP_INTERVAL" value="1000"/>

    <!-- Xiap Messaging -->
    <!-- Claims -->
    <add key="CLAIM_MESSAGE_SOURCE" value="XIAP_CORE" />
    <add key="CLAIM_MESSAGE_TARGET" value="GNS_CLM" />
    <add key="CLAIM_TRANSACTION_TRANSFER" value="TransferClaim" />
    <add key="CLAIM_TRANSACTION_DELETE" value="DeleteClaim" />
    <add key="CLAIM_TRANSACTION_CLOSE" value="CloseClaim" />
    <add key="CLAIM_TRANSACTION_FINANCIAL" value="FinancialTransaction" />
    <add key="CLAIM_TRANSACTION_REOPEN" value="ReopenClaim" />
    <add key="CLAIM_MESSAGE_VERSION" value="2009-1" />
    <!-- Names -->
    <add key="NAME_MESSAGE_SOURCE" value="XIAP_CORE" />
    <add key="NAME_MESSAGE_TARGET" value="GNS_NAME" />
    <add key="NAME_TRANSACTION_TRANSFER" value="NameTransfer" />
    <add key="NAME_MESSAGE_VERSION" value="2009-1" />
    <!-- Service Broker -->
    <add key="VALIDATE_CONFIG" value="Y" />
    <!-- Claims -->
    <add key="CLAIM_MESSAGE_QUEUE" value="ClaimTransferTargetMessageQueue" />
    <add key="CLAIM_MESSAGE_CONTRACT" value="//ClaimTransfer/FromXiap/Contract" />
    <add key="CLAIM_MESSAGE_FROM_SERVICE" value="//ClaimTransfer/XiapService" />
    <add key="CLAIM_MESSAGE_TO_SERVICE" value="//ClaimTransfer/TargetService" />
    <add key="CLAIM_MESSAGE_TYPE" value="//ClaimTransfer/FromXiap" />
    <!-- Names -->
    <add key="NAME_MESSAGE_QUEUE" value="NameTransferTargetMessageQueue" />
    <add key="NAME_MESSAGE_CONTRACT" value="//NameTransfer/FromXiap/Contract" />
    <add key="NAME_MESSAGE_FROM_SERVICE" value="//NameTransfer/XiapService" />
    <add key="NAME_MESSAGE_TO_SERVICE" value="//NameTransfer/TargetService" />
    <add key="NAME_MESSAGE_TYPE" value="//NameTransfer/FromXiap" />
    <!-- General Settings -->
    <add key="INSURANCE_DIRECTORY_NAMESPACE" value="http://www.xchanging.com/Xiap/InsuranceDirectory/Data/XML/2011/9" />
    <add key="NAME_TRANSFER_DATA_COLLECTION" value="NameTransferDataCollection" />
    <add key="CLAIM_Transfer_Data_Collection" value="ClaimTransferDataCollection" />
    <add key="CLAIM_POLLINTERVAL" value="10" />
    <add key="CLAIM_BATCH_PROCESS_MAXIMUM_THREADS" value="4" />
    <add key="NAME_BATCH_PROCESS_MAXIMUM_THREADS" value="4" />
    <add key="NAME_POLLINTERVAL" value="10" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
    <add key="TRANSFER_WORKER_SERVICE_TICK" value="1000" />

    <add key="AutoReviewCompleteProductEventRef" value="AREVU"/>
    <add key="ManualReviewCompleteProductEventRef" value="REVU"/>
    <add key="AutoReviewProcessName" value="ReviewTaskFlow_Auto"/>
    <add key="ManualReviewProcessName" value="ReviewTaskFlow_Manual"/>
    <add key="UseCustomWorklist" value="true" />
    <!-- Claim Processor Config -->
    <add key="Configuration.BatchSize" value="10" />
    <add key="Configuration.ProcessClosedClaims" value="true" />
    <add key="Configuration.ProcessOpenClaims" value="false" />
    <add key="Configuration.ProcessLiabilityClaims" value="true" />
    <add key="Configuration.ProcessMotorClaims" value="true" />
    <add key="Configuration.IgnoreProcessStatus" value="false" />
    <add key="Configuration.MigratedOnly" value="true" />
  </appSettings>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Xiap.DataMigration.GeniusInterface.AXACS.DefaultBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <bindings>
      <basicHttpBinding>
        <binding name="myBindingConfiguration" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="None"/>
          </security>
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    
    <services>
      <service behaviorConfiguration="Xiap.DataMigration.GeniusInterface.AXACS.DefaultBehavior" name="Xiap.DataMigration.GeniusInterface.AXACS.Service.ClaimMigratorOperations">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="myBindingConfiguration" contract="Xiap.DataMigration.GeniusInterface.AXACS.Service.IClaimMigratorOperations">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
  </system.serviceModel>

</configuration>
