<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Config" connectionString="Data Source=srv00117;Initial Catalog=XIAP_DEV;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="GenericDataType.Excess" value="AND3"/>
    <add key="GenericDataType.Deductible" value="AND2"/>
    <add key="GenericDataType.Deductible.Client" value="CLI"/>
    <add key="GenericDataType.Deductible.Captive" value="CAP"/>
    <add key="GenericDataType.Deductible.Service" value="SVC"/>
  </appSettings>
</configuration>
