<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="xiap" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="core" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=2.1.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <section name="processes" type="Xiap.Framework.SectionHandler,Xiap.Framework"/>
        <section name="componentPathConfig" type="Xiap.Framework.SectionHandler,Xiap.Framework"/>
        <section name="propertyAccessorConfiguration" type="Xiap.Framework.SectionHandler,Xiap.Framework"/>
        <section name="dataRelationShip" type="Xiap.Framework.SectionHandler,Xiap.Framework"/>
        <section name="businessDataUpdaterExecution" type="Xiap.Framework.BusinessDataUpdaterExecutionSectionHandler,Xiap.Framework"/>
      </sectionGroup>
      <sectionGroup name="custom" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=2.1.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <section name="processes" type="Xiap.Framework.SectionHandler,Xiap.Framework"/>
        <section name="customConfigs" type="Xiap.Framework.SectionHandler,Xiap.Framework"/>
        <section name="k2WorkFlowMapping" type="Xiap.Framework.SectionHandler,Xiap.Framework"/>
        <section name="gwsISConfiguration" type="Xiap.Framework.SectionHandler,Xiap.Framework"/>
        <section name="productProRating" type="Xiap.Framework.SectionHandler,Xiap.Framework"/>
        <section name="warmupConfiguration" type="Xiap.Framework.SectionHandler,Xiap.Framework" />
      </sectionGroup>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="DPSerialization" type="Xiap.ClientServices.Facade.DP.DPSerializationSettings,Xiap.ClientServices.Facade"/>
    <section name="TransactionTimeout" type="Xiap.Framework.SectionHandler,Xiap.Framework"/>
  </configSections>
  <appSettings>
    <add key="InsuranceDirectoryService" value="Xiap.InsuranceDirectory.BusinessTransaction.InternalInsuranceDirectoryService, Xiap.InsuranceDirectory.BusinessTransaction"/>
    <add key="XIAP" value="Xiap.UW.BusinessTransaction.InternalUWService, Xiap.UW.BusinessTransaction" />
    <add key="GENIUS" value ="Xiap.GeniusIntegration.BusinessLogic.GeniusPolicyService,Xiap.GeniusIntegration.BusinessLogic"/>
    <add key="IORegisterService" value="Xiap.IORegister.BusinessTransaction.InternalIORegisterService, Xiap.IORegister.BusinessTransaction"/>
    <add key="AccountsService" value="Xiap.Accounts.BusinessComponent.InternalAccountsService,Xiap.Accounts.BusinessComponent"/>
    <add key="DefaultSearchProvider" value="SqlSrvSPSearchProvider"/>
    <add key="DefaultLanguageId" value="1"/>
    <add key="DefaultSearchPageSize" value="50"/>
    <add key="DPErrorPage_InvalidTemplateCode" value="http://localhost:41173/DP/Error_InvalidParameter.htm"/>
    <add key="DPErrorPage_InvalidHeaderReference" value="http://localhost:41173/DP/Error_InvalidParameter.htm"/>
    <add key="DPErrorPage_CustomError" value="http://localhost:41173/DP/Error_Custom.htm"/>
    <add key="ViewDocumentURI" value="http://localhost:41173/DP/ViewDocument.aspx"/>
    <add key="k2.connectionDetails.systemUser" value="system\k2system"/>
    <add key="SharePointURI" value="http://srv00117:8080/XIAPDocsDev/"/>
    <add key="RuleSetTimeout" value="900"/>
    <add key="ComponentPluginsMinimumDurationToPerfLog" value="250" />
    <add key="TransactionPluginsMinimumDurationToPerfLog" value="500" />
    <add key="TransactionMethodsMinimumDurationToPerfLog" value="3000" />
    <add key="DefaultCacheDurationMinutes" value="720" />
    <add key="IgnoreCurrencyServiceExceptions" value="true" />
    <add key="UseCustomWorklist" value= "true"/>
    <add key="GWSISPolicyIntegrationTimeout" value="8"/>
    <add key="XIAP_CORE" value="XIAP_CORE"/>
    <add key="GENIUSCORE" value="GENIUSCORE"/>
    <add key="MESSAGEVERSION" value="2009-1"/>
    <add key="MESSAGETRANSACTION" value="RetrievePolicyComponents"/>
    <add key="InactivityDetectionProcess" value="InactivityDetection"/>
    <add key="InactivityReviewEventTypeCode" value="CLIRE"/>
    <add key="EstimateReviewedEventTypeCode" value="CLERE"/>
    <add key="EstimateSettledEventTypeCode" value="ESTSD"/>
    <add key="InactivityThresholdPeriod" value="30"/>
    <add key="AuthorisationProcessName" value="FinancialAuthorisation"/>
    <add key="BusinessSupportRole" value="BSupport"/>
    <add key="PaymentAuthorisationActivityName" value="Authorise Payment"/>
    <add key="AutoReviewProcessName" value="ReviewTaskFlow_Auto"/>
    <add key="ManualReviewProcessName" value="ReviewTaskFlow_Manual"/>
    <add key="AutoReviewCompleteProductEventRef" value="CLARC"/>
    <add key="ManualReviewCompleteProductEventRef" value="CLMRC"/>
    <add key="AutoReviewProductEventRef" value="CLARE"/>
    <add key="ReferralDocumentTextSegmentType" value="Standard"/>
    <add key="QualityControlEventTypeCode" value="CQCR"/>
    <add key="QualityControlProcess" value="QualityControl"/>
    <add key="ClaimUserRoleCode" value="Developer"/>
    <add key="HeaderStatusesForInvalidClaimTransfer" value="CON,CRE,CRL,CRO,CAB"/>
    <add key="AXAClaimTransferHeaderToClaimTransferControlLogSP" value="[Claims].[AXAClaimTransferHeaderToClaimTransferControlLog]"/>
    <add key="PolicyVerifiedHeaderStatus" value="OPV"/>
    <add key="FileUploadNotificationCompletedEventType" value="FILUPNC"/>
    <add key="ClaimEvent_DocumentReference_CustomReferenceField" value="CustomReference01"/>
    <add key="ClaimEvent_DocumentGroupReference_CustomReferenceField" value="CustomReference02"/>
    <add key="ClaimEvent_GenerateTask_CustomCodeField" value="CustomCode08"/>
    <add key="ClaimDocument_GenerateTask_CustomCodeField" value="CustomCode08"/>
    <!-- Following key should be uncommented to specify default base currency code-->
    <!--<add key="BaseCurrencyCode" value="GBP"/>-->
    <!-- Following key should be uncommented to specify ex rate decimal places on claim transaction dialog -->
    <!--<add key="ExchangeRateDecimalScale" value="7"/>-->
  </appSettings>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=srv00117;Initial Catalog=XIAP_DEV;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="Config" connectionString="Data Source=srv00117;Initial Catalog=XIAP_DEV;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="XiapWarehouse" connectionString="Data Source=srv40025;Initial Catalog=XiapWarehouse;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="IORegisterEntities" connectionString="metadata=res://*/Xiap.IORegister.BusinessComponent.IORegister.csdl|res://*/Xiap.IORegister.BusinessComponent.IORegister.ssdl|res://*/Xiap.IORegister.BusinessComponent.IORegister.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=srv00117;Initial Catalog=XIAP_DEV;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="InsuranceDirectoryEntities" connectionString="metadata=res://*/Xiap.InsuranceDirectory.BusinessComponent.InsuranceDirectory.csdl|res://*/Xiap.InsuranceDirectory.BusinessComponent.InsuranceDirectory.ssdl|res://*/Xiap.InsuranceDirectory.BusinessComponent.InsuranceDirectory.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=srv00117;Initial Catalog=XIAP_DEV;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="MetadataEntities" connectionString="metadata=res://*/Xiap.Metadata.BusinessComponent.Metadata.csdl|res://*/Xiap.Metadata.BusinessComponent.Metadata.ssdl|res://*/Xiap.Metadata.BusinessComponent.Metadata.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=srv00117;Initial Catalog=XIAP_DEV;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="UnderwritingEntities" connectionString="metadata=res://*/Xiap.UW.BusinessComponent.Underwriting.csdl|res://*/Xiap.UW.BusinessComponent.Underwriting.ssdl|res://*/Xiap.UW.BusinessComponent.Underwriting.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=srv00117;Initial Catalog=XIAP_DEV;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="DPEntities" connectionString="metadata=res://*/DPEntities.csdl|res://*/DPEntities.ssdl|res://*/DPEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=srv00117;Initial Catalog=XIAP_DEV;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="ClaimsEntities" connectionString="metadata=res://*/Xiap.Claims.BusinessComponent.Claims.csdl|res://*/Xiap.Claims.BusinessComponent.Claims.ssdl|res://*/Xiap.Claims.BusinessComponent.Claims.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=srv00117;Initial Catalog=XIAP_DEV;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="AccountEntities" connectionString="metadata=res://*/Xiap.Accounts.BusinessComponent.Account.csdl|res://*/Xiap.Accounts.BusinessComponent.Account.ssdl|res://*/Xiap.Accounts.BusinessComponent.Account.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=srv00117;Initial Catalog=XIAP_DEV;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="TaskEntities" connectionString="metadata=res://*/Xiap.K2Integration.Task.BusinessComponent.Task.csdl|res://*/Xiap.K2Integration.Task.BusinessComponent.Task.ssdl|res://*/Xiap.K2Integration.Task.BusinessComponent.Task.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=srv00117;Initial Catalog=XIAP_DEV;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <xiap>
    <core>
      <unity>
        <alias alias="ObjectContext" type="System.Data.Objects.ObjectContext, System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <alias alias="BusinessDataUpdater" type="Xiap.Framework.Data.IBusinessDataUpdater, Xiap.Framework" />
        <alias alias="BusinessTransaction" type="Xiap.Framework.BusinessTransaction.IBusinessTransaction, Xiap.Framework" />
        <alias alias="PluginPredicate" type="Xiap.Framework.ProcessHandling.IPluginPredicate, Xiap.Framework" />
        <alias alias="ClaimTransactionHeaderArgument" type="Xiap.Claims.BusinessLogic.AuthorityCheck.Calculation.ClaimTransactionHeaderArgument, Xiap.Claims.BusinessLogic" />

        <container>

          <register type="PluginPredicate" mapTo="Xiap.UW.BusinessLogic.PluginPredicates.UWProductCodePredicate, Xiap.UW.BusinessLogic" name="UWProductCode" />
          <register type="BusinessDataUpdater" mapTo=" Xiap.UW.BusinessLogic.CustomUpdaters.CoverageVersionUpdater, Xiap.UW.BusinessLogic" name="CoverageVersionUpdater" />
          <register type="BusinessDataUpdater" mapTo=" Xiap.UW.BusinessLogic.CustomUpdaters.UWNameInvolvementUpdater, Xiap.UW.BusinessLogic" name="UWNameInvolvementUpdater" />
          <register type="Xiap.Framework.Common.ICurrencyConverter, Xiap.Framework.Common" mapTo="Xiap.UW.BusinessLogic.UWCurrencyConverter, Xiap.UW.BusinessLogic" />
          <register type="BusinessDataUpdater" mapTo=" Xiap.UW.BusinessLogic.CustomUpdaters.InstalmentPatternUpdater, Xiap.UW.BusinessLogic" name="InstalmentPatternUpdater" />
          <register type="BusinessDataUpdater" mapTo=" Xiap.UW.BusinessLogic.CustomUpdaters.HeaderUpdater, Xiap.UW.BusinessLogic" name="HeaderUpdater" />
          <register type="BusinessDataUpdater" mapTo="Xiap.UW.BusinessLogic.CustomUpdaters.StatisticsCalculationDataUpdater, Xiap.UW.BusinessLogic" name="StatisticsCalculationUpdater" />
          <register type="BusinessDataUpdater" mapTo=" Xiap.UW.BusinessLogic.CustomUpdaters.ParticipationUpdater, Xiap.UW.BusinessLogic" name="ParticipationUpdater" />
          <register type="BusinessDataUpdater" mapTo=" Xiap.UW.BusinessLogic.CustomUpdaters.SectionUpdater, Xiap.UW.BusinessLogic" name="SectionUpdater" />
          <register type="BusinessDataUpdater" mapTo=" Xiap.UW.BusinessLogic.CustomUpdaters.SectionDetailUpdater, Xiap.UW.BusinessLogic" name="SectionDetailUpdater" />
          <register type="BusinessDataUpdater" mapTo=" Xiap.UW.BusinessLogic.CustomUpdaters.ParticipationGroupSectionLinkUpdater, Xiap.UW.BusinessLogic" name="ParticipationGroupSectionLinkUpdater" />
          <register type="BusinessDataUpdater" mapTo=" Xiap.UW.BusinessLogic.CustomUpdaters.UwWordingUpdater, Xiap.UW.BusinessLogic" name="UwWordingUpdater" />
          <register type="BusinessDataUpdater" mapTo=" Xiap.UW.BusinessLogic.CustomUpdaters.UwEventUpdater, Xiap.UW.BusinessLogic" name="UwEventUpdater" />
          <register type="BusinessDataUpdater" mapTo=" Xiap.UW.BusinessLogic.CustomUpdaters.UwDocumentUpdater, Xiap.UW.BusinessLogic" name="UwDocumentUpdater" />
          <register type="BusinessDataUpdater" mapTo=" Xiap.UW.BusinessLogic.CustomUpdaters.DeductionUpdater, Xiap.UW.BusinessLogic" name="DeductionUpdater" />
          <register type="BusinessDataUpdater" mapTo="Xiap.InsuranceDirectory.BusinessLogic.CustomUpdaters.NameUsageUpdater, Xiap.InsuranceDirectory.BusinessLogic" name="NameUsageUpdater" />
          <register type="BusinessDataUpdater" mapTo="Xiap.InsuranceDirectory.BusinessLogic.CustomUpdaters.NameRelationshipUpdater, Xiap.InsuranceDirectory.BusinessLogic" name="NameRelationshipUpdater" />
          <register type="Xiap.Framework.Messages.IMessageService, Xiap.Framework" mapTo="Xiap.Testing.Utils.Mocks.MockMessagingService, Xiap.Testing.Utils">
            <lifetime type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
          </register>
          <register type="ObjectContext" mapTo="Xiap.Metadata.BusinessComponent.MetadataEntities, Xiap.Metadata.BusinessComponent" name="MetadataEntities">
            <constructor></constructor>
          </register>
          <register type="Xiap.Framework.Logging.ILoggingWrapper, Xiap.Framework" mapTo="Xiap.Framework.Logging.Log4NetLoggingWrapper, Xiap.Framework" />
          <register type="Xiap.Framework.Configuration.IConfigurationManager, Xiap.Framework" mapTo="Xiap.Framework.Configuration.ConfigurationManagerWrapper, Xiap.Framework" />
          <register type="Xiap.Framework.Messages.IMessageService, Xiap.Framework" mapTo="Xiap.Testing.Utils.Mocks.MockMessagingService, Xiap.Testing.Utils">
            <lifetime type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
          </register>
          <register type="Xiap.Metadata.BusinessComponent.IMetadataQuery, Xiap.Metadata.BusinessComponent" mapTo="Xiap.Metadata.BusinessComponent.MetadataEntities, Xiap.Metadata.BusinessComponent">
            <constructor></constructor>
          </register>
          <register type="Xiap.InsuranceDirectory.BusinessComponent.IInsuranceDirectoryQuery, Xiap.InsuranceDirectory.BusinessComponent" mapTo="Xiap.InsuranceDirectory.BusinessComponent.InsuranceDirectoryEntities, Xiap.InsuranceDirectory.BusinessComponent">
            <constructor></constructor>
          </register>          
          <type type="ObjectContext" mapTo="Xiap.Claims.BusinessComponent.ClaimsEntities, Xiap.Claims.BusinessComponent" name="ClaimsEntities">
            <constructor></constructor>
          </type>
          <type type="Xiap.Claims.BusinessComponent.IClaimsQuery, Xiap.Claims.BusinessComponent" mapTo="Xiap.Claims.BusinessComponent.ClaimsEntities, Xiap.Claims.BusinessComponent">
            <constructor></constructor>
          </type>
          <register type="ObjectContext" mapTo="Xiap.UW.BusinessComponent.UnderwritingEntities, Xiap.UW.BusinessComponent" name="UnderwritingEntities">
            <constructor></constructor>
          </register>
          <register type="ObjectContext" mapTo="Xiap.InsuranceDirectory.BusinessComponent.InsuranceDirectoryEntities, Xiap.InsuranceDirectory.BusinessComponent" name="InsuranceDirectoryEntities">
            <constructor></constructor>
          </register>
          <register type="ObjectContext" mapTo="Xiap.IORegister.BusinessComponent.IORegisterEntities, Xiap.IORegister.BusinessComponent" name="IORegisterEntities">
            <constructor></constructor>
          </register>
          <register type="Xiap.Framework.Caching.IXiapCache,Xiap.Framework" mapTo="Xiap.Framework.Caching.XiapCustomCache,Xiap.Framework">
            <lifetime type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
          </register>
          <register type="Xiap.Framework.Audit.IAuditProvider, Xiap.Framework" mapTo="Xiap.Framework.Audit.EntityEventAuditProvider, Xiap.Framework" name="EntityEventAuditProvider">
            <lifetime type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
          </register>
          <register type="Xiap.Framework.Audit.IAuditProvider, Xiap.Framework" mapTo="Xiap.Framework.Audit.PropertyEventAuditProvider, Xiap.Framework" name="PropertyEventAuditProvider">
            <lifetime type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
          </register>
          <register type="Xiap.Framework.Audit.IAuditProvider, Xiap.Framework" mapTo="Xiap.Framework.Audit.TransactionEventAuditProvider, Xiap.Framework" name="TransactionEventAuditProvider">
            <lifetime type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
          </register>
          <register type="Xiap.Framework.SystemParameter.IParameterService, Xiap.Framework" mapTo="Xiap.Testing.Utils.Mocks.MockParameterService, Xiap.Testing.Utils">
            <lifetime type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
          </register>
          <register  type="Xiap.Framework.Data.Underwriting.IUnderwritingService, Xiap.Framework.Data" mapTo="Xiap.UW.BusinessTransaction.InternalUWService, Xiap.UW.BusinessTransaction" name="UnderwritingService">
            <constructor></constructor>
          </register>
          <register  type="Xiap.Framework.Data.Underwriting.IUnderwritingService, Xiap.Framework.Data" mapTo="Xiap.UW.BusinessTransaction.InternalUWService, Xiap.UW.BusinessTransaction" name="XIAP">
            <constructor></constructor>
          </register>
          <register type="K2ServiceClient.ProcessManagement.IProcessManagement, K2ServiceClient" mapTo="K2ServiceClient.ProcessManagement.ProcessManagementClient, K2ServiceClient">
            <constructor></constructor>
          </register>
          <register type="K2ServiceClient.TaskManagement.ITaskManagement, K2ServiceClient" mapTo="K2ServiceClient.TaskManagement.TaskManagementClient, K2ServiceClient">
            <constructor></constructor>
          </register>
          <!-- Business transaction types -->
          <register type="BusinessTransaction" mapTo="Xiap.UW.BusinessTransaction.RenewQuote, Xiap.UW.BusinessTransaction" name="Underwriting.RenewQuote" />
          <register type="BusinessTransaction" mapTo="Xiap.UW.BusinessTransaction.AmendQuote, Xiap.UW.BusinessTransaction" name="Underwriting.AmendQuote" />
          <register type="BusinessTransaction" mapTo="Xiap.UW.BusinessTransaction.CreateQuote, Xiap.UW.BusinessTransaction" name="Underwriting.CreateQuote" />
          <register type="BusinessTransaction" mapTo="Xiap.UW.BusinessTransaction.TransferQuote, Xiap.UW.BusinessTransaction" name="Underwriting.TransferQuote" />
          <register type="BusinessTransaction" mapTo="Xiap.IORegister.BusinessTransaction.AmendIORegisterEntry, Xiap.IORegister.BusinessTransaction" name="IORegister.AmendIORegisterEntry" />
          <register type="Xiap.Framework.Caching.IDefinitionCache, Xiap.Framework" mapTo="Xiap.Framework.Caching.DefinitionCache, Xiap.Framework">
            <lifetime type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
          </register>
          <register type="Xiap.Framework.Metadata.IComponentMetadata, Xiap.Framework" mapTo="Xiap.Framework.Entity.DefinitionCaching.CachingComponentMetadata, Xiap.Framework.Entity" />
          <register type="Xiap.Framework.ProcessHandling.IReferenceHandler, Xiap.Framework" mapTo="Xiap.Framework.ProcessHandling.DefaultReferenceHandler, Xiap.Framework" name="UWSearchController" />
          <register type="Xiap.Framework.ProcessHandling.IReferenceHandler, Xiap.Framework" mapTo="Xiap.Framework.ProcessHandling.DefaultReferenceHandler, Xiap.Framework" name="UserSearchController" />
          <register type="Xiap.Framework.ProcessHandling.IReferenceHandler, Xiap.Framework" mapTo="Xiap.Framework.ProcessHandling.DefaultReferenceHandler, Xiap.Framework" name="LineSlipSearchController" />
          <register type="Xiap.Framework.ProcessHandling.IReferenceHandler, Xiap.Framework" mapTo="Xiap.Framework.ProcessHandling.DefaultReferenceHandler, Xiap.Framework" name="PackageSearchController" />
          <register type="Xiap.Framework.Data.Tasks.ITaskService,Xiap.Framework.Data" mapTo="Xiap.Framework.Data.Tasks.TaskService, Xiap.Framework.Data" />
          <register type="Xiap.Framework.Data.Tasks.ITaskService,Xiap.Framework.Data" mapTo="Xiap.K2Integration.Task.BusinessTransaction.InternalTaskService, Xiap.K2Integration.Task" name="XIAP"/>
          <register type="Xiap.K2Integration.Task.BusinessComponent.ITaskEntities, Xiap.K2Integration.Task" mapTo="Xiap.K2Integration.Task.BusinessComponent.TaskEntities, Xiap.K2Integration.Task">
            <constructor></constructor>
          </register>
        </container>

      </unity>
        <processes>
            <!--START BUSINESS PROCESSES-->

            <BPProcess businessProcess="Xiap.InsuranceDirectory.BusinessTransaction.AmendName" point="PostComplete" sequence="90" type="Xiap.InsuranceDirectory.BusinessLogic.IDDataChangeLogPlugin,Xiap.InsuranceDirectory.BusinessLogic" />
            <BPProcess businessProcess="Xiap.InsuranceDirectory.BusinessTransaction.CreateName" point="PostComplete" sequence="90" type="Xiap.InsuranceDirectory.BusinessLogic.IDDataChangeLogPlugin,Xiap.InsuranceDirectory.BusinessLogic" />
            <BPProcess businessProcess="Xiap.InsuranceDirectory.BusinessTransaction.DeleteName" point="PostComplete" sequence="90" type="Xiap.InsuranceDirectory.BusinessLogic.IDDataChangeLogPlugin,Xiap.InsuranceDirectory.BusinessLogic" />

            <BPProcess businessProcess="Xiap.IORegister.BusinessTransaction.AmendIORegisterEntry" point="PostComplete" sequence="90" type="Xiap.IORegister.BusinessLogic.IORegisterEntryDataChangeLogPlugin,Xiap.IORegister.BusinessLogic" />
            <BPProcess businessProcess="Xiap.IORegister.BusinessTransaction.CreateIORegisterEntry" point="PostComplete" sequence="90" type="Xiap.IORegister.BusinessLogic.IORegisterEntryDataChangeLogPlugin,Xiap.IORegister.BusinessLogic" />

            <BPProcess businessProcess="Xiap.UW.BusinessTransaction.AmendQuote" point="PostComplete" sequence="90" type="Xiap.UW.BusinessLogic.UWDataChangeLogPlugin,Xiap.UW.BusinessLogic" />
            <BPProcess businessProcess="Xiap.UW.BusinessTransaction.AmendSubmission" point="PostComplete" sequence="90" type="Xiap.UW.BusinessLogic.UWDataChangeLogPlugin,Xiap.UW.BusinessLogic" />
            <BPProcess businessProcess="Xiap.UW.BusinessTransaction.CopyContract" point="PostComplete" sequence="90" type="Xiap.UW.BusinessLogic.UWDataChangeLogPlugin,Xiap.UW.BusinessLogic" />
            <BPProcess businessProcess="Xiap.UW.BusinessTransaction.CreateQuote" point="PostComplete" sequence="90" type="Xiap.UW.BusinessLogic.UWDataChangeLogPlugin,Xiap.UW.BusinessLogic" />
            <BPProcess businessProcess="Xiap.UW.BusinessTransaction.CreateSubmission" point="PostComplete" sequence="90" type="Xiap.UW.BusinessLogic.UWDataChangeLogPlugin,Xiap.UW.BusinessLogic" />
            <BPProcess businessProcess="Xiap.UW.BusinessTransaction.QuoteToPolicy" point="PostComplete" sequence="90" type="Xiap.UW.BusinessLogic.UWDataChangeLogPlugin,Xiap.UW.BusinessLogic" />
            <BPProcess businessProcess="Xiap.UW.BusinessTransaction.RenewQuote" point="PostComplete" sequence="90" type="Xiap.UW.BusinessLogic.UWDataChangeLogPlugin,Xiap.UW.BusinessLogic" />
            <BPProcess businessProcess="Xiap.UW.BusinessTransaction.RenewSubmission" point="PostComplete" sequence="90" type="Xiap.UW.BusinessLogic.UWDataChangeLogPlugin,Xiap.UW.BusinessLogic" />
            <BPProcess businessProcess="Xiap.UW.BusinessTransaction.SubmissionToQuote" point="PostComplete" sequence="90" type="Xiap.UW.BusinessLogic.UWDataChangeLogPlugin,Xiap.UW.BusinessLogic" />
            <BPProcess businessProcess="Xiap.UW.BusinessTransaction.TransferQuote" point="PostComplete" sequence="90" type="Xiap.UW.BusinessLogic.UWDataChangeLogPlugin,Xiap.UW.BusinessLogic" />

            <BPProcess businessProcess="Xiap.Metadata.Codes.BusinessTransaction.AmendValueSet" point="PostComplete" sequence="90" type="Xiap.Metadata.BusinessLogic.ValuSetAndProductDataChangeLogPlugin, Xiap.Metadata.BusinessLogic"/>
            <BPProcess businessProcess="Xiap.Metadata.Codes.BusinessTransaction.CreateValueSet" point="PostComplete" sequence="90" type="Xiap.Metadata.BusinessLogic.ValuSetAndProductDataChangeLogPlugin, Xiap.Metadata.BusinessLogic"/>
            <BPProcess businessProcess="Xiap.Metadata.Codes.BusinessTransaction.DeleteValueSet" point="PostComplete" sequence="90" type="Xiap.Metadata.BusinessLogic.ValuSetAndProductDataChangeLogPlugin, Xiap.Metadata.BusinessLogic"/>
            <BPProcess businessProcess="Xiap.Metadata.Products.BusinessTransaction.AmendProductDefinition" point="PostComplete" sequence="90" type="Xiap.Metadata.BusinessLogic.ValuSetAndProductDataChangeLogPlugin, Xiap.Metadata.BusinessLogic"/>
            <BPProcess businessProcess="Xiap.Metadata.Products.BusinessTransaction.CopyProductDefinition" point="PostComplete" sequence="90" type="Xiap.Metadata.BusinessLogic.ValuSetAndProductDataChangeLogPlugin, Xiap.Metadata.BusinessLogic"/>
            <BPProcess businessProcess="Xiap.Metadata.Products.BusinessTransaction.CreateProductDefinition" point="PostComplete" sequence="90" type="Xiap.Metadata.BusinessLogic.ValuSetAndProductDataChangeLogPlugin, Xiap.Metadata.BusinessLogic"/>
            <BPProcess businessProcess="Xiap.Metadata.Products.BusinessTransaction.DeleteProductDefinition" point="PostComplete" sequence="90" type="Xiap.Metadata.BusinessLogic.ValuSetAndProductDataChangeLogPlugin, Xiap.Metadata.BusinessLogic"/>

            <BPProcess businessProcess="Xiap.Claims.BusinessTransaction.CreateClaimNotification" point="PostComplete" sequence="90" type="Xiap.Claims.BusinessLogic.ClaimsDataChangeLogPlugin,Xiap.Claims.BusinessLogic" />
            <BPProcess businessProcess="Xiap.Claims.BusinessTransaction.AmendClaimNotification" point="PostComplete" sequence="90" type="Xiap.Claims.BusinessLogic.ClaimsDataChangeLogPlugin,Xiap.Claims.BusinessLogic" />
            <BPProcess businessProcess="Xiap.Claims.BusinessTransaction.CreateClaim" point="PostComplete" sequence="90" type="Xiap.Claims.BusinessLogic.ClaimsDataChangeLogPlugin,Xiap.Claims.BusinessLogic" />
            <BPProcess businessProcess="Xiap.Claims.BusinessTransaction.AmendClaim" point="PostComplete" sequence="90" type="Xiap.Claims.BusinessLogic.ClaimsDataChangeLogPlugin,Xiap.Claims.BusinessLogic" />

            <!--END BUSINESS PROCESSES-->

            <!--START COMPONENT PLUGINS-->
            <Component component="Xiap.Claims.BusinessComponent.ClaimHeader" point="PreValidationDefaulting" sequence="10" type="Xiap.Claims.BusinessLogic.ClaimHandlerDefaulterPlugin,Xiap.Claims.BusinessLogic" />

            <Component component="Xiap.Claims.BusinessComponent.ClaimEvent" point="Created" sequence="20" type="GeniusX.AXA.Claims.BusinessLogic.ClaimsEventPlugin, GeniusX.AXA.Claims.BusinessLogic"/>
            <Component component="Xiap.Claims.BusinessComponent.ClaimEvent" point="Virtual" sequence="11" alias="AXANewReOpenClaimProcessHandlerPreComplete" type="GeniusX.AXA.Claims.BusinessLogic.ClaimsProcessHandler, GeniusX.AXA.Claims.BusinessLogic"/>
            <Component component="Xiap.Claims.BusinessComponent.ClaimEvent" point="Virtual" sequence="11" alias="AXAAutoReviewStartClaimProcessHandlerPreComplete" type="GeniusX.AXA.Claims.BusinessLogic.ClaimsProcessHandler, GeniusX.AXA.Claims.BusinessLogic"/>
            <Component component="Xiap.Claims.BusinessComponent.ClaimEvent" point="Virtual" sequence="11" alias="AXAManualReviewStartClaimProcessHandlerPreComplete" type="GeniusX.AXA.Claims.BusinessLogic.ClaimsProcessHandler, GeniusX.AXA.Claims.BusinessLogic"/>
            <Component component="Xiap.Claims.BusinessComponent.ClaimHeader" point="Virtual" sequence="11" alias="AXACloseFinalizeClaimProcessHandlerPreComplete" type="GeniusX.AXA.Claims.BusinessLogic.ClaimsProcessHandler, GeniusX.AXA.Claims.BusinessLogic"/>

            <!--END COMPONENT PLUGINS-->
        </processes>

    </core>
    <custom>
        <k2WorkFlowMapping>
            <AXAClaimProcessHandlerFlowMaps>
                <AXAClaimProcessHandlerFlowMap alias="AXANewReOpenClaimProcessHandler" FlowName="GeniusX.AXA.Workflows\NewReOpenclaim" />
                <AXAClaimProcessHandlerFlowMap alias="AXAFileUploadNotificationProcessHandler" FlowName="GeniusX.AXA.Workflows\FileUploadNotification" />
            </AXAClaimProcessHandlerFlowMaps>
        </k2WorkFlowMapping>          
    </custom>
  </xiap>
</configuration>
