<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    <add key="GeniusQuery" value=" Select RATAJA, RATALC, RATALC from XGGRTDT1.ZARADF00 Where RATAJA in ({0})" />
    <add key="CommandTimeout" value="0"/>
    <add key="DoSendEmail" value="false" />
    <add key="SMTPServer" value="Exchang01" />
    <add key="SMTPPort" value="25" />
    <add key="EmailRecipients" value="EmailRecipient@Xchanging.com" />
    <add key="EmailSender" value="EmailSender@Xchanging.com=" />
    <add key="MaxBatchSize" value="100" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="EncryptedGeniusXPassword" value ="MDiFMQIfn6udIYrl0sMkq8ZQ" />
  </appSettings>
  
  <connectionStrings>
    <add name="GeniusX" connectionString="Server=SRV00117;Initial Catalog=xiap_dev_axa;Integrated Security=True;" providerName="System.Data.SqlClient"/>
    <add name="Genius" connectionString="Datasource=REBAS116;userid=GWRBXD;password=;DefaultCollection=XGGRTDT1;" providerName="IBM.Data.DB2.iSeries"/>
  </connectionStrings>
</configuration>