<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="AXACS" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"></sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="AXA" type="System.Configuration.DictionarySectionHandler" />
  </configSections>

  <connectionStrings>
    <add name="Config" connectionString="Server=WS404074;Initial Catalog=XIAP_AXA_DEV;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>
    <add key="FolderPath" value="C:\Drop"/>
    <add key="TargetPath" value="C:\Drop\Archive"/>
    <add key="LogFileName" value="C:\Drop\Logs"/>
    <add key="CommandTimeout" value="0"/>
    <add key="DoSendEmail" value="true"/>
    <add key="SMTPServer" value="srv40001.ad.xglobal.com"/>
    <add key="SMTPPort" value="25"/>
    <add key="EmailRecipients" value="pradeep.lamba@xuber.com,lamba.pradeep07@gmail.com"/>
    <add key="EmailSender" value="shivangi.agrawal@xchanging.com"/>
    <add key="SMTPDomain" value="xglobal"/>
    <add key="SMTPUser" value="lambap"/>
    <add key="SMTPEncryptedPassword" value="Monday@123"/>   
    <add key="VALIDATE_CONFIG" value="Y" />
    <add key="PROCESS_File_SERVICE_TICK" value="1000" />

  </appSettings>

  <log4net>
    <appender name="RollingFileAppenderSize" type="log4net.Appender.RollingFileAppender">
      <param name="file" value="c:\\Drop\\AXAFileWatcherLog.txt"/>
      <param name="appendToFile" value="true"/>
      <param name="rollingStyle" value="Size"/>
      <param name="maxSizeRollBackups" value="10"/>
      <param name="maximumFileSize" value="1000KB"/>
      <param name="staticLogFileName" value="true"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%M] - %m%n"/>
      </layout>
    </appender>

    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="c:\\Drop\\AXAFileWatcherLog.txt" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>

    <root>
      <level value="INFO" />
      <priority value="ERROR"/>
      <!-- ALL, DEBUG, INFO, WARN, ERROR, FATAL, OFF -->
      <appender-ref ref="RollingFileAppenderSize" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>

  <AXA configSource="Config\\AXA.config"></AXA>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
