<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="xiap" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="core" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=2.1.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <section name="processes" type="Xiap.Framework.SectionHandler,Xiap.Framework"/>
        <section name="componentPathConfig" type="Xiap.Framework.SectionHandler,Xiap.Framework"/>
        <section name="propertyAccessorConfiguration" type="Xiap.Framework.SectionHandler,Xiap.Framework"/>
        <section name="dataRelationShip" type="Xiap.Framework.SectionHandler,Xiap.Framework"/>
        <section name="businessDataUpdaterExecution" type="Xiap.Framework.BusinessDataUpdaterExecutionSectionHandler,Xiap.Framework"/>
        <section name="dataRelationshipTrees" type="Xiap.Framework.SectionHandler,Xiap.Framework"/>
        <section name="TransactionProcessorDefinition" type="Xiap.Framework.SectionHandler,Xiap.Framework"/>
      </sectionGroup>
      <sectionGroup name="custom" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=2.1.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <section name="processes" type="Xiap.Framework.SectionHandler,Xiap.Framework"/>
        <section name="customConfigs" type="Xiap.Framework.SectionHandler,Xiap.Framework"/>
        <section name="k2WorkFlowMapping" type="Xiap.Framework.SectionHandler,Xiap.Framework"/>
        <section name="gwsISConfiguration" type="Xiap.Framework.SectionHandler,Xiap.Framework"/>
        <section name="productProRating" type="Xiap.Framework.SectionHandler,Xiap.Framework"/>
        <section name="warmupConfiguration" type="Xiap.Framework.SectionHandler,Xiap.Framework" />
        <section name="sharepointConfiguration" type="Xiap.Framework.SectionHandler,Xiap.Framework" />
      </sectionGroup>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="DPSerialization" type="Xiap.ClientServices.Facade.DP.DPSerializationSettings,Xiap.ClientServices.Facade"/>
    <section name="TransactionTimeout" type="Xiap.Framework.SectionHandler,Xiap.Framework"/>
  </configSections>
  <appSettings>
    <add key="ReviewEventTypeCode" value="REVIEWC"/>
    <add key="MotorProductCode" value="CGBIMO"/>
    <add key="LiabilityProductCode" value="CGBIPC"/>
  </appSettings>
  <connectionStrings>
    <add name="Source" connectionString="Data Source=10.2.88.37\DataMigration;Initial Catalog=CMS_AXA_DEV_ANDREW;UID=DMDev;Pwd=dmdeveloper"/>
    <add name="StagingMotor" connectionString="Data Source=10.2.88.37\DataMigration;Initial Catalog=CMS_AXA_STG_PKG15_B;UID=DMDev;Pwd=dmdeveloper"/>
    <add name="StagingLiab" connectionString="Data Source=10.2.88.37\DataMigration;Initial Catalog=CMS_AXA_STG_PKG13;UID=DMDev;Pwd=dmdeveloper"/>
    <add name="Default" connectionString="Data Source=SRV00117;Initial Catalog=XIAP_Dev_3_1;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="Config" connectionString="Data Source=SRV00117;Initial Catalog=XIAP_Dev_3_1;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="IORegisterEntities" connectionString="metadata=res://*/Xiap.IORegister.BusinessComponent.IORegister.csdl|res://*/Xiap.IORegister.BusinessComponent.IORegister.ssdl|res://*/Xiap.IORegister.BusinessComponent.IORegister.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SRV00117;Initial Catalog=XIAP_Dev_3_1;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="InsuranceDirectoryEntities" connectionString="metadata=res://*/Xiap.InsuranceDirectory.BusinessComponent.InsuranceDirectory.csdl|res://*/Xiap.InsuranceDirectory.BusinessComponent.InsuranceDirectory.ssdl|res://*/Xiap.InsuranceDirectory.BusinessComponent.InsuranceDirectory.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SRV00117;Initial Catalog=XIAP_Dev_3_1;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="MetadataEntities" connectionString="metadata=res://*/Xiap.Metadata.BusinessComponent.Metadata.csdl|res://*/Xiap.Metadata.BusinessComponent.Metadata.ssdl|res://*/Xiap.Metadata.BusinessComponent.Metadata.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SRV00117;Initial Catalog=XIAP_Dev_3_1;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="UnderwritingEntities" connectionString="metadata=res://*/Xiap.UW.BusinessComponent.Underwriting.csdl|res://*/Xiap.UW.BusinessComponent.Underwriting.ssdl|res://*/Xiap.UW.BusinessComponent.Underwriting.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SRV00117;Initial Catalog=XIAP_Dev_3_1;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="DPEntities" connectionString="metadata=res://*/DPEntities.csdl|res://*/DPEntities.ssdl|res://*/DPEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SRV00117;Initial Catalog=XIAP_Dev_3_1;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="ClaimsEntities" connectionString="metadata=res://*/Xiap.Claims.BusinessComponent.Claims.csdl|res://*/Xiap.Claims.BusinessComponent.Claims.ssdl|res://*/Xiap.Claims.BusinessComponent.Claims.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SRV00117;Initial Catalog=XIAP_Dev_3_1;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="AccountEntities" connectionString="metadata=res://*/Xiap.Accounts.BusinessComponent.Account.csdl|res://*/Xiap.Accounts.BusinessComponent.Account.ssdl|res://*/Xiap.Accounts.BusinessComponent.Account.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SRV00117;Initial Catalog=XIAP_Dev_3_1;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="TaskEntities" connectionString="metadata=res://*/Xiap.K2Integration.Task.BusinessComponent.Task.csdl|res://*/Xiap.K2Integration.Task.BusinessComponent.Task.ssdl|res://*/Xiap.K2Integration.Task.BusinessComponent.Task.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SRV00117;Initial Catalog=XIAP_Dev_3_1;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="StatsEntities" connectionString="metadata=res://*/Statistics.StatsEntities.csdl|res://*/Statistics.StatsEntities.ssdl|res://*/Statistics.StatsEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SRV00117;Initial Catalog=XIAP_Dev_3_1;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <log4net debug="false">
    <appender name="RollingFileAppenderSize" type="log4net.Appender.RollingFileAppender">
      <param name="file" value="c:\\temp\\ClientService.log"/>
      <param name="appendToFile" value="true"/>
      <param name="rollingStyle" value="Size"/>
      <param name="maxSizeRollBackups" value="10"/>
      <param name="maximumFileSize" value="1000KB"/>
      <param name="staticLogFileName" value="true"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%M] - %m%n"/>
      </layout>
    </appender>
    <appender name="PerfLoggerStats" type="log4net.Appender.RollingFileAppender">
      <param name="file" value="c:\\temp\\ClientServicesPerfStats.csv" />
      <param name="appendToFile" value="true"/>
      <param name="rollingStyle" value="Size"/>
      <param name="maxSizeRollBackups" value="20" />
      <param name="maximumFileSize" value="10000KB" />
      <param name="staticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%message%newline" />
      </layout>
    </appender>
    <root>
      <priority value="ERROR"/>
      <appender-ref ref="RollingFileAppenderSize"/>
    </root>
    <logger name="Xiap.Framework.Logging.PerfLogger" additivity="false">
      <level value="INFO" />
      <appender-ref ref="PerfLoggerStats" />
    </logger>
  </log4net>
  <TransactionTimeout>
    <Default Timeout="600000" CallbackInterval="600000"/>
  </TransactionTimeout>
  <xiap>
    <core>
      <unity configSource="Config\Core\Unity.config"/>
      <propertyAccessorConfiguration configSource="Config\Core\PropertyAccessor.config"/>
      <componentPathConfig configSource="Config\Core\ComponentPath.config"/>
      <processes configSource="Config\Core\Processes.config"/>
      <businessDataUpdaterExecution>
        <businessDataUpdater name="*default" execute="true"/>
      </businessDataUpdaterExecution>
      <dataRelationshipTrees configSource="Config\Core\DataRelationshipTrees.config" />
      <TransactionProcessorDefinition configSource="Config\Core\TransactionProcessorDefinition.config"/>
    </core>
    <custom>
      <productProRating configSource="Config\Custom\Default\ProductProRating.config"/>
      <gwsISConfiguration configSource="Config\Custom\Default\GwsIS.config"/>
      <k2WorkFlowMapping configSource="Config\Custom\Default\K2WorkFlow.config"/>
      <processes configSource="Config\Custom\Default\Processes.config"/>
      <warmupConfiguration configSource="Config\Custom\Default\Warmup.config" />
      <sharepointConfiguration configSource="Config\Custom\Default\Sharepoint.config"/>
    </custom>
  </xiap>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper"
                        publicKeyToken="be96cd2c38ef1005"
                        culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>