<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="xiap" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="custom" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      </sectionGroup>
    </sectionGroup>
  </configSections>
  
  <xiap>
    <custom>      
    </custom>
  </xiap>
  <modules>
    <module assemblyFile="GeniusX.AXA.DesignStudio.Framework.dll" moduleType="GeniusX.AXA.DesignStudio.Framework.DataLoad.DataLoadModule, GeniusX.AXA.DesignStudio.Framework" moduleName="DataLoadModule" startupLoaded="true" />
  </modules>
  
  <appSettings>
  </appSettings>
  
  <system.serviceModel>
    <bindings>
    </bindings>
    <client>
    </client>
  </system.serviceModel>
  
</configuration>