<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="xiap" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="core" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=2.1.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <section name="processes" type="Xiap.Framework.SectionHandler,Xiap.Framework" />
        <section name="componentPathConfig" type="Xiap.Framework.SectionHandler,Xiap.Framework" />
        <section name="propertyAccessorConfiguration" type="Xiap.Framework.SectionHandler,Xiap.Framework" />
        <section name="dataRelationShip" type="Xiap.Framework.SectionHandler,Xiap.Framework" />
        <section name="businessDataUpdaterExecution" type="Xiap.Framework.BusinessDataUpdaterExecutionSectionHandler,Xiap.Framework" />
      </sectionGroup>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <xiap>
    <core>
      <unity>
        <containers>
          <container>
            <types>
              <type type="Xiap.Framework.Logging.ILoggingWrapper, Xiap.Framework" mapTo="Xiap.Framework.Logging.Log4NetLoggingWrapper, Xiap.Framework" />
              <type type="Xiap.Framework.Messages.IMessageService, Xiap.Framework" mapTo="Xiap.Framework.Messages.MessageService, Xiap.Framework" />
            </types>
          </container>
        </containers>
      </unity>
      <businessDataUpdaterExecution>
        <businessDataUpdater name="*default" execute="true" />
      </businessDataUpdaterExecution>
    </core>
  </xiap>
  <connectionStrings>
    <add name="config" connectionString="Data Source=SRV40025;Initial Catalog=XIAP_AXA_DEV;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!--In appsetings if DoSendEmail is set to "False" then no need to configure EmailRecipients, EmailSender, SMTPPort, & SMTPSERVER-->
  
  <appSettings>
    <add key="FolderPath" value="c:\\FileWatcher"/>              <!--path of the folder the application should watch-->
    <add key="ArchivePath" value="c:\\FileWatcher\\Archive"/>   <!--path where the processed files should be archived-->
    <add key="LogFilePath" value="c:\\FileWatcher\\Logs"/>     <!--path where log files should be created-->
    <add key="SMTPServer" value="SMTPSERVER.com"/>   <!--configure SMTP server here-->  
    <add key="SMTPPort" value="25"/>                         <!--configure smtp port here-->
    <add key="EmailRecipients" value="EmailRecepient@Xuber.com"/> <!--configure Emails Recipients (comma separated if multiple) here-->
    <add key="EmailSender" value="EmailSender@Xuber.com"/>  <!--configure Emails Sender here-->
    <add key="DoSendEmail" value="True"/>  <!--set to true if Application is required to send summary emails else false , values can be true\True or false\False-->
    <add key ="NumberOfFileAccessRetries" value ="3"/>
    <add key ="DurationOfSleepForFileAccessRetries" value ="1000"/>
  </appSettings>

  <log4net debug="false">
  <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger [%property{NDC}] - %message%newline"/>
    </layout>
  </appender>
  <appender name="FileAppender" type="log4net.Appender.FileAppender">
    <file value="c:\\temp\\FileWatcherService.log"/>
    <appendToFile value="true"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
    </layout>
  </appender>
  <appender name="RollingFileAppenderSize" type="log4net.Appender.RollingFileAppender">
    <param name="file" value="c:\\temp\\FileWatcherService.log"/>
    <param name="appendToFile" value="true"/>
    <param name="rollingStyle" value="Size"/>
    <param name="maxSizeRollBackups" value="10"/>
    <param name="maximumFileSize" value="1000KB"/>
    <param name="staticLogFileName" value="true"/>
    <layout type="log4net.Layout.PatternLayout,log4net">
      <param name="ConversionPattern" value="%d [%t] %-5p %c [%M] - %m%n"/>
    </layout>
  </appender>
  <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
    </layout>
  </appender>
  <appender name="PerfLoggerStats" type="log4net.Appender.RollingFileAppender">
    <param name="file" value="c:\\temp\\FileWatcherServicesPerfStats.csv" />
    <param name="appendToFile" value="true"/>
    <param name="rollingStyle" value="Size"/>
    <param name="maxSizeRollBackups" value="10" />
    <param name="maximumFileSize" value="5000KB" />
    <param name="ImmediateFlush" value="false" />
    <param name="staticLogFileName" value="true" />
    <layout type="log4net.Layout.PatternLayout,log4net">
      <param name="ConversionPattern" value="%message%newline" />
    </layout>
  </appender>
    <root>
      <priority value="ERROR"/>
      <appender-ref ref="RollingFileAppenderSize"/>
    </root>
    <logger name="Xiap.Framework.Logging.PerfLogger" additivity="false">
      <level value="INFO" />
      <appender-ref ref="PerfLoggerStats" />
    </logger>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider,System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
