<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="xiap" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="core" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=2.1.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <section name="processes" type="Xiap.Framework.SectionHandler,Xiap.Framework"/>
        <section name="componentPathConfig" type="Xiap.Framework.SectionHandler,Xiap.Framework"/>
        <section name="propertyAccessorConfiguration" type="Xiap.Framework.SectionHandler,Xiap.Framework"/>
        <section name="dataRelationShip" type="Xiap.Framework.SectionHandler,Xiap.Framework"/>
        <section name="businessDataUpdaterExecution" type="Xiap.Framework.BusinessDataUpdaterExecutionSectionHandler,Xiap.Framework"/>
      </sectionGroup>
      <sectionGroup name="custom" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=2.1.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <section name="processes" type="Xiap.Framework.SectionHandler,Xiap.Framework"/>
        <section name="customConfigs" type="Xiap.Framework.SectionHandler,Xiap.Framework"/>
        <section name="k2WorkFlowMapping" type="Xiap.Framework.SectionHandler,Xiap.Framework"/>
        <section name="gwsISConfiguration" type="Xiap.Framework.SectionHandler,Xiap.Framework"/>
        <section name="productProRating" type="Xiap.Framework.SectionHandler,Xiap.Framework"/>
        <section name="warmupConfiguration" type="Xiap.Framework.SectionHandler,Xiap.Framework" />
      </sectionGroup>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="DPSerialization" type="Xiap.ClientServices.Facade.DP.DPSerializationSettings,Xiap.ClientServices.Facade"/>
    <section name="TransactionTimeout" type="Xiap.Framework.SectionHandler,Xiap.Framework"/>
  </configSections>
  <appSettings>
    <add key="InsuranceDirectoryService" value="Xiap.InsuranceDirectory.BusinessTransaction.InternalInsuranceDirectoryService, Xiap.InsuranceDirectory.BusinessTransaction"/>
    <add key="XIAP" value="Xiap.UW.BusinessTransaction.InternalUWService, Xiap.UW.BusinessTransaction" />
    <add key="GENIUS" value ="Xiap.GeniusIntegration.BusinessLogic.GeniusPolicyService,Xiap.GeniusIntegration.BusinessLogic"/>
    <add key="IORegisterService" value="Xiap.IORegister.BusinessTransaction.InternalIORegisterService, Xiap.IORegister.BusinessTransaction"/>
    <add key="AccountsService" value="Xiap.Accounts.BusinessComponent.InternalAccountsService,Xiap.Accounts.BusinessComponent"/>
    <add key="DefaultSearchProvider" value="SqlSrvSPSearchProvider"/>
    <add key="DefaultLanguageId" value="1"/>
    <add key="DefaultSearchPageSize" value="50"/>
    <add key="DPErrorPage_InvalidTemplateCode" value="http://localhost:41173/DP/Error_InvalidParameter.htm"/>
    <add key="DPErrorPage_InvalidHeaderReference" value="http://localhost:41173/DP/Error_InvalidParameter.htm"/>
    <add key="DPErrorPage_CustomError" value="http://localhost:41173/DP/Error_Custom.htm"/>
    <add key="ViewDocumentURI" value="http://localhost:41173/DP/ViewDocument.aspx"/>
    <add key="k2.connectionDetails.systemUser" value="system\k2system"/>
    <add key="SharePointURI" value="http://srv00117:8080/XIAPDocsDev/"/>
    <add key="RuleSetTimeout" value="900"/>
    <add key="ComponentPluginsMinimumDurationToPerfLog" value="250" />
    <add key="TransactionPluginsMinimumDurationToPerfLog" value="500" />
    <add key="TransactionMethodsMinimumDurationToPerfLog" value="3000" />
    <add key="DefaultCacheDurationMinutes" value="720" />
    <add key="IgnoreCurrencyServiceExceptions" value="true" />
    <add key="UseCustomWorklist" value= "true"/>
    <add key="GWSISPolicyIntegrationTimeout" value="8"/>
    <add key="XIAP_CORE" value="XIAP_CORE"/>
    <add key="GENIUSCORE" value="GENIUSCORE"/>
    <add key="MESSAGEVERSION" value="2009-1"/>
    <add key="MESSAGETRANSACTION" value="RetrievePolicyComponents"/>
    <add key="InactivityDetectionProcess" value="InactivityDetection"/>
    <add key="InactivityReviewEventTypeCode" value="CLIRE"/>
    <add key="EstimateReviewedEventTypeCode" value="CLERE"/>
    <add key="EstimateSettledEventTypeCode" value="ESTSD"/>
    <add key="InactivityThresholdPeriod" value="30"/>
    <add key="AuthorisationProcessName" value="FinancialAuthrisation"/>
    <add key="BusinessSupportRole" value="BusinessSupportRole"/>
    <add key="PaymentAuthorisationActivityName" value="Authorise Payment"/>
    <add key="AutoReviewProcessName" value="ReviewTaskFlow_Auto"/>
    <add key="ManualReviewProcessName" value="ReviewTaskFlow_Manual"/>
    <add key="AutoReviewCompleteProductEventRef" value="CLARC"/>
    <add key="ManualReviewCompleteProductEventRef" value="CLMRC"/>
    <add key="AutoReviewProductEventRef" value="CLARE"/>
    <add key="ReferralDocumentTextSegmentType" value="Standard"/>
    <add key="QualityControlEventTypeCode" value="CQCR"/>
    <add key="QualityControlProcess" value="QualityControl"/>
    <add key="ClaimUserRoleCode" value="Developer"/>
    <add key="DefaultSQLCommandTimeout" value="30"/>



  </appSettings>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=srv00117;Initial Catalog=XIAP_DEV;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="Config" connectionString="Data Source=srv00117;Initial Catalog=XIAP_DEV;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="XiapWarehouse" connectionString="Data Source=srv00117;Initial Catalog=XiapWarehouse;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="InsuranceDirectoryEntities" connectionString="metadata=res://*/Xiap.InsuranceDirectory.BusinessComponent.InsuranceDirectory.csdl|res://*/Xiap.InsuranceDirectory.BusinessComponent.InsuranceDirectory.ssdl|res://*/Xiap.InsuranceDirectory.BusinessComponent.InsuranceDirectory.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=srv00117;Initial Catalog=XIAP_DEV;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="MetadataEntities" connectionString="metadata=res://*/Xiap.Metadata.BusinessComponent.Metadata.csdl|res://*/Xiap.Metadata.BusinessComponent.Metadata.ssdl|res://*/Xiap.Metadata.BusinessComponent.Metadata.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=srv00117;Initial Catalog=XIAP_DEV;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <xiap>
    <core>
      <unity>
        <alias alias="ObjectContext" type="System.Data.Objects.ObjectContext, System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />

        <container>
          <register type="ObjectContext" mapTo="Xiap.Metadata.BusinessComponent.MetadataEntities, Xiap.Metadata.BusinessComponent" name="MetadataEntities">
            <constructor></constructor>
          </register>
          <register type="ObjectContext" mapTo="Xiap.InsuranceDirectory.BusinessComponent.InsuranceDirectoryEntities, Xiap.InsuranceDirectory.BusinessComponent" name="InsuranceDirectoryEntities">
            <constructor></constructor>
          </register>
          <register type="Xiap.Framework.Logging.ILoggingWrapper, Xiap.Framework" mapTo="Xiap.Framework.Logging.Log4NetLoggingWrapper, Xiap.Framework" />
          <register type="Xiap.Framework.Configuration.IConfigurationManager, Xiap.Framework" mapTo="Xiap.Framework.Configuration.ConfigurationManagerWrapper, Xiap.Framework" />
          <register type="Xiap.Framework.Messages.IMessageService, Xiap.Framework" mapTo="Xiap.Testing.Utils.Mocks.MockMessagingService, Xiap.Testing.Utils">
            <lifetime type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
          </register>
          <register type="Xiap.Metadata.BusinessComponent.IMetadataQuery, Xiap.Metadata.BusinessComponent" mapTo="Xiap.Metadata.BusinessComponent.MetadataEntities, Xiap.Metadata.BusinessComponent">
            <constructor></constructor>
          </register>
          <register type="Xiap.InsuranceDirectory.BusinessComponent.IInsuranceDirectoryQuery, Xiap.InsuranceDirectory.BusinessComponent" mapTo="Xiap.InsuranceDirectory.BusinessComponent.InsuranceDirectoryEntities, Xiap.InsuranceDirectory.BusinessComponent">
            <constructor></constructor>
          </register>
          <register type="Xiap.Framework.Caching.IDefinitionCache, Xiap.Framework" mapTo="Xiap.Framework.Caching.DefinitionCache, Xiap.Framework">
            <lifetime type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
          </register>

          <register type="Xiap.Framework.Metadata.IComponentMetadata, Xiap.Framework" mapTo="Xiap.Framework.Entity.DefinitionCaching.CachingComponentMetadata, Xiap.Framework.Entity" />
          <register type="Xiap.Framework.Caching.IXiapCache,Xiap.Framework" mapTo="Xiap.Framework.Caching.XiapCustomCache,Xiap.Framework">
            <lifetime type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
          </register>
          <register type="Xiap.Framework.Audit.IAuditProvider, Xiap.Framework" mapTo="Xiap.Framework.Audit.EntityEventAuditProvider, Xiap.Framework" name="EntityEventAuditProvider">
            <lifetime type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
          </register>
          <register type="Xiap.Framework.Audit.IAuditProvider, Xiap.Framework" mapTo="Xiap.Framework.Audit.PropertyEventAuditProvider, Xiap.Framework" name="PropertyEventAuditProvider">
            <lifetime type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
          </register>
          <register type="Xiap.Framework.Audit.IAuditProvider, Xiap.Framework" mapTo="Xiap.Framework.Audit.TransactionEventAuditProvider, Xiap.Framework" name="TransactionEventAuditProvider">
            <lifetime type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
          </register>

          <type type="Xiap.Framework.Metadata.ILookupDefinitionCache, Xiap.Framework" mapTo="Xiap.Metadata.BusinessComponent.LookupDefinitionCache, Xiap.Metadata.BusinessComponent">
            <lifetime type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity"/>
          </type>
          <type type="Xiap.Framework.BusinessTransaction.ICopyValidation, Xiap.Framework" mapTo="Xiap.Framework.Common.CopyProcessPlugin, Xiap.Framework.Common">
            <lifetime type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity"/>
          </type>

        </container>

      </unity>
      <processes>
        <!--START BUSINESS PROCESSES-->

        <BPProcess businessProcess="Xiap.InsuranceDirectory.BusinessTransaction.CreateName" point="PostComplete" sequence="10" type="Xiap.InsuranceDirectory.BusinessLogic.IDTransactionLockPlugin,Xiap.InsuranceDirectory.BusinessLogic" />
        <BPProcess businessProcess="Xiap.InsuranceDirectory.BusinessTransaction.CreateName" point="PostRollback" sequence="10" type="Xiap.InsuranceDirectory.BusinessLogic.IDTransactionLockPlugin,Xiap.InsuranceDirectory.BusinessLogic" />
        <BPProcess businessProcess="Xiap.InsuranceDirectory.BusinessTransaction.AmendName" point="PreCreate" sequence="10" type="Xiap.InsuranceDirectory.BusinessLogic.IDTransactionLockPlugin,Xiap.InsuranceDirectory.BusinessLogic" />
        <BPProcess businessProcess="Xiap.InsuranceDirectory.BusinessTransaction.AmendName" point="PostComplete" sequence="10" type="Xiap.InsuranceDirectory.BusinessLogic.IDTransactionLockPlugin,Xiap.InsuranceDirectory.BusinessLogic" />
        <BPProcess businessProcess="Xiap.InsuranceDirectory.BusinessTransaction.AmendName" point="PostRollback" sequence="10" type="Xiap.InsuranceDirectory.BusinessLogic.IDTransactionLockPlugin,Xiap.InsuranceDirectory.BusinessLogic" />
        <BPProcess businessProcess="Xiap.InsuranceDirectory.BusinessTransaction.DeleteName" point="PreCreate" sequence="10" type="Xiap.InsuranceDirectory.BusinessLogic.IDTransactionLockPlugin,Xiap.InsuranceDirectory.BusinessLogic" />
        <BPProcess businessProcess="Xiap.InsuranceDirectory.BusinessTransaction.DeleteName" point="PostComplete" sequence="10" type="Xiap.InsuranceDirectory.BusinessLogic.IDTransactionLockPlugin,Xiap.InsuranceDirectory.BusinessLogic" />
        <BPProcess businessProcess="Xiap.InsuranceDirectory.BusinessTransaction.DeleteName" point="PostRollback" sequence="10" type="Xiap.InsuranceDirectory.BusinessLogic.IDTransactionLockPlugin,Xiap.InsuranceDirectory.BusinessLogic" />
        <BPProcess businessProcess="Xiap.InsuranceDirectory.BusinessTransaction.DeleteName" point="PreCreate" sequence="99" type="Xiap.InsuranceDirectory.BusinessLogic.DeleteNameTransactionLockPlugin,Xiap.InsuranceDirectory.BusinessLogic" />
        <BPProcess businessProcess="Xiap.InsuranceDirectory.BusinessTransaction.DeleteName" point="PreComplete" sequence="99" type="Xiap.InsuranceDirectory.BusinessLogic.DeleteNameTransactionPlugin,Xiap.InsuranceDirectory.BusinessLogic" />

        <BPProcess businessProcess="Xiap.InsuranceDirectory.BusinessTransaction.CopyName" point="PostComplete" sequence="10" type="Xiap.InsuranceDirectory.BusinessLogic.IDTransactionLockPlugin,Xiap.InsuranceDirectory.BusinessLogic" />
        <BPProcess businessProcess="Xiap.InsuranceDirectory.BusinessTransaction.CopyName" point="PostRollback" sequence="10" type="Xiap.InsuranceDirectory.BusinessLogic.IDTransactionLockPlugin,Xiap.InsuranceDirectory.BusinessLogic" />

        <BPProcess businessProcess="Xiap.Metadata.Codes.BusinessTransaction.AmendValueSet" point="PostComplete" sequence="90" type="Xiap.Metadata.BusinessLogic.ValuSetAndProductDataChangeLogPlugin, Xiap.Metadata.BusinessLogic"/>
        <BPProcess businessProcess="Xiap.Metadata.Codes.BusinessTransaction.CreateValueSet" point="PostComplete" sequence="90" type="Xiap.Metadata.BusinessLogic.ValuSetAndProductDataChangeLogPlugin, Xiap.Metadata.BusinessLogic"/>
        <BPProcess businessProcess="Xiap.Metadata.Codes.BusinessTransaction.DeleteValueSet" point="PostComplete" sequence="90" type="Xiap.Metadata.BusinessLogic.ValuSetAndProductDataChangeLogPlugin, Xiap.Metadata.BusinessLogic"/>
        <BPProcess businessProcess="Xiap.Metadata.Products.BusinessTransaction.AmendProductDefinition" point="PostComplete" sequence="90" type="Xiap.Metadata.BusinessLogic.ValuSetAndProductDataChangeLogPlugin, Xiap.Metadata.BusinessLogic"/>
        <BPProcess businessProcess="Xiap.Metadata.Products.BusinessTransaction.CopyProductDefinition" point="PostComplete" sequence="90" type="Xiap.Metadata.BusinessLogic.ValuSetAndProductDataChangeLogPlugin, Xiap.Metadata.BusinessLogic"/>
        <BPProcess businessProcess="Xiap.Metadata.Products.BusinessTransaction.CreateProductDefinition" point="PostComplete" sequence="90" type="Xiap.Metadata.BusinessLogic.ValuSetAndProductDataChangeLogPlugin, Xiap.Metadata.BusinessLogic"/>
        <BPProcess businessProcess="Xiap.Metadata.Products.BusinessTransaction.DeleteProductDefinition" point="PostComplete" sequence="90" type="Xiap.Metadata.BusinessLogic.ValuSetAndProductDataChangeLogPlugin, Xiap.Metadata.BusinessLogic"/>

        <BPProcess businessProcess="Xiap.InsuranceDirectory.BusinessTransaction.CreateClaimNotification" point="PreValidationDefaulting" sequence="90" type="Xiap.InsuranceDirectory.BusinessLogic.PersonDetailVersionPlugin,Xiap.InsuranceDirectory.BusinessLogic" />
      </processes>

    </core>
    <custom>
      <k2WorkFlowMapping>
        <AXAClaimProcessHandlerFlowMaps>
          <AXAClaimProcessHandlerFlowMap alias="AXANewReOpenClaimProcessHandler" FlowName="GeniusX.AXA.Workflows\NewReOpenclaim" />
        </AXAClaimProcessHandlerFlowMaps>
      </k2WorkFlowMapping>
    </custom>
  </xiap>
</configuration>
