<processes>
  <Component component="Xiap.Claims.BusinessComponent.ClaimHeader" point="PreValidationDefaulting" sequence="10" type="Xiap.Claims.BusinessLogic.ClaimHandlerDefaulterPlugin,Xiap.Claims.BusinessLogic" />
  <Component component="Xiap.Claims.BusinessComponent.ClaimHeader" point="PropertyChange" property="PolicyHeaderID" sequence="20" type="Xiap.Claims.BusinessLogic.CheckDuplicateClaimPlugin, Xiap.Claims.BusinessLogic"/>
  <Component component="Xiap.Claims.BusinessComponent.ClaimDetail" point="Created" sequence="15" type="Xiap.Claims.BusinessLogic.ClaimDetailReferenceDefaulter, Xiap.Claims.BusinessLogic" />
  <Component component="Xiap.Claims.BusinessComponent.ClaimNameInvolvement" point="FieldRetrieval" field="NameID" sequence="20" type="Xiap.Claims.BusinessLogic.ClaimNameInvolvementFieldRetrievalPlugin, Xiap.Claims.BusinessLogic"/>
  <Component component="Xiap.InsuranceDirectory.BusinessComponent.PersonDetailVersion" point="PreValidationDefaulting" sequence="20" type="Xiap.InsuranceDirectory.BusinessLogic.NameReferenceDefaulter, Xiap.InsuranceDirectory.BusinessLogic"/>
  <Component component="Xiap.InsuranceDirectory.BusinessComponent.CompanyDetailVersion" point="PreValidationDefaulting" sequence="20" type="Xiap.InsuranceDirectory.BusinessLogic.NameReferenceDefaulter, Xiap.InsuranceDirectory.BusinessLogic"/>
  <Component component="Xiap.UW.BusinessComponent.UwNameInvolvement" point="FieldRetrieval" field="NameID" sequence="20" type="Xiap.UW.BusinessLogic.UWNameInvolvementFieldRetrievalPlugin, Xiap.UW.BusinessLogic"/>
  <BPProcess businessProcess="Xiap.Claims.BusinessTransaction.CreateClaim" point="PostComplete" sequence="55" type="Xiap.GeniusIntegration.BusinessLogic.ClaimTransferPlugin,Xiap.GeniusIntegration.BusinessLogic" />
  <BPProcess businessProcess="Xiap.Claims.BusinessTransaction.CloseClaim" point="PostComplete" sequence="100" type="Xiap.GeniusIntegration.BusinessLogic.ClaimTransferPlugin,Xiap.GeniusIntegration.BusinessLogic" />
  <BPProcess businessProcess="Xiap.Claims.BusinessTransaction.ReopenClaim" point="PostComplete" sequence="100" type="Xiap.GeniusIntegration.BusinessLogic.ClaimTransferPlugin,Xiap.GeniusIntegration.BusinessLogic" />
  <BPProcess businessProcess="Xiap.Claims.BusinessTransaction.AmendClaim" point="PostComplete" sequence="55" type="Xiap.GeniusIntegration.BusinessLogic.ClaimTransferPlugin,Xiap.GeniusIntegration.BusinessLogic" />
  <BPProcess businessProcess="Xiap.Claims.BusinessTransaction.CopyClaim" point="PostComplete" sequence="55" type="Xiap.GeniusIntegration.BusinessLogic.ClaimTransferPlugin,Xiap.GeniusIntegration.BusinessLogic" />
  <BPProcess businessProcess="Xiap.Claims.BusinessTransaction.DeleteClaim" point="PostComplete" sequence="100" type="Xiap.GeniusIntegration.BusinessLogic.ClaimTransferPlugin,Xiap.GeniusIntegration.BusinessLogic" />
  <BPProcess businessProcess="Xiap.Claims.BusinessTransaction.CancelPayment" point="PostComplete" sequence="110" type="Xiap.GeniusIntegration.BusinessLogic.ClaimTransferPlugin,Xiap.GeniusIntegration.BusinessLogic" />
  <BPProcess businessProcess="Xiap.Claims.BusinessTransaction.ReserveAuthorisation" point="PostComplete" sequence="110" type="Xiap.GeniusIntegration.BusinessLogic.ClaimTransferPlugin,Xiap.GeniusIntegration.BusinessLogic" />
  <BPProcess businessProcess="Xiap.Claims.BusinessTransaction.RecoveryReceiptAuthorisation" point="PostComplete" sequence="110" type="Xiap.GeniusIntegration.BusinessLogic.ClaimTransferPlugin,Xiap.GeniusIntegration.BusinessLogic" />
  <BPProcess businessProcess="Xiap.Claims.BusinessTransaction.PaymentAuthorisation" point="PostComplete" sequence="110" type="Xiap.GeniusIntegration.BusinessLogic.ClaimTransferPlugin,Xiap.GeniusIntegration.BusinessLogic" />
  <Component component="Xiap.Claims.BusinessComponent.ClaimHeader" point="Created" sequence="15" type="Xiap.Claims.BusinessLogic.ClaimReferenceDefaulter, Xiap.Claims.BusinessLogic" />
  <Component component="Xiap.Claims.BusinessComponent.ClaimHeader" point="Copy" sequence="15" type="Xiap.Claims.BusinessLogic.ClaimReferenceDefaulter, Xiap.Claims.BusinessLogic" />
  <Component component="Xiap.Claims.BusinessComponent.ClaimHeader" point="ComponentChange" sequence="15" type="Xiap.Claims.BusinessLogic.ClaimReferenceDefaulter, Xiap.Claims.BusinessLogic" />
</processes>
