<productProRating>
  <ProductVersionProRating productVersionID="1" ProRatingDaysMethod="ProRate365" ProRatingMethod="Standard" AdjustPeriod="false" IncludeTime="false"/>
  <Default ProRatingDaysMethod="ProRate360" ProRatingMethod="Standard" AdjustPeriod="false" IncludeTime="false"/>
</productProRating>
